<template>  
    <div style="margin-bottom: 70px">
        <AppBar
            :toPage="'/myRequests/' + $route.params.type"
            :header="header"
            hash="beforeFileLoad"
            class="app-bar"
            ref="AppBar"
        >
        </AppBar>
        <!-- <PageTitle
            img="obl-rada.png"
            title="Обласна рада"
        >
        </PageTitle> -->
        
        <v-container class="mt-5" style="margin-bottom: 20px">
            <v-row 
                align="center"
            >

             <v-snackbar
                v-model="snackbar"
                centered
                color="#fff"
                class="text-center"
                :timeout="-1"
            >
                <v-row>
                    <v-col cols="12" class="text-center pb-0">
                        <span style="font-size: 16px; color: #0000008c">
                            Дякуємо! Вашу заявку успішно прийнято і буде оброблено найближчим часом!
                        </span>
                    </v-col>

                    <v-col cols="12" class="text-center  pt-0" style="z-index: 100">
                        <v-btn
                        class="ma-auto"
                        text
                        @click="confirm"
                        color="#4385f4"
                        >
                        Продовжити
                        </v-btn>
                    </v-col>
                </v-row>
            </v-snackbar> 
        <v-col 
            align="center"
            cols="12"
        >
            <v-card
                class="mx-auto rounded-xl"
              
                width="100%"
            >
            <v-card-subtitle align="center">
                Дані з id.gov.ua
            </v-card-subtitle>   
                <v-card-text>
                      <v-row dense align="center">
                          <v-col
                           cols="4"
                           align="center">
                            <span style="color: black; font-weight: bold">Відправник</span>
                                <v-icon 
                                    size="64"
                                    dense
                                >
                                    mdi-account
                                </v-icon>
                          </v-col>
                          <v-col cols="8">
                              <div v-for="item in USER_INFO_FROM_DIIA" :key="item.index">
                                <span style="color: black; display: block;">{{ item.lastname }}</span>
                                <span style="color: black; display: block;">{{ item.givenname }}</span>
                                <span style="color: black; display: block;">{{ item.middlename }}</span>
                                <span style="color: black; display: block;">{{ item.drfocode }}</span>
                                <span style="color: black; display: block;">{{ item.phone }}</span>
                              </div>
                          </v-col>
                      </v-row>
                </v-card-text>
            </v-card>
        </v-col>

        <v-col 
           
            align="center"
            cols="12"
        >
            <v-textarea
                rows="5"
                v-model="description"
                label="Текст звернення..."
                auto-grow
                filled
                :rules="[rules.length(2500)]"
            ></v-textarea>
        </v-col> 
        <v-col 
            align="center"
            cols="12"
            class="py-0"
        >
        
            <span v-for="(name, index) in fileNames" :key="index">
                {{name}} <a><v-icon @click="deleteFile(name)">mdi-close</v-icon></a><br/>
            </span>
        </v-col> 
         
         
        <v-col 
            align="center"
            cols="2"
        >
        </v-col>
      
        <v-col 
           
            align="center"
            cols="8"
        >
            <v-btn     
                block 
                x-large
                @click="onButtonClick"
                color="#4485f4"
                elevation="2"
            >

                <v-row>
                    <v-col align="center" cols="12" color="black">
                        <h4 style="color: white">Додати файл</h4>
                    </v-col>
                </v-row>
            </v-btn>

        <input
            ref="uploader"
            class="d-none"
            type="file"
            multiple
            @change="onFileChanged"
        
        >
          
        </v-col>
        <v-col 
           
            align="center"
            cols="2"
        >
        </v-col>
        <v-col 
            align="center"
            cols="12"
            dense
        >
            <span style="font-size: 14px">До звернення можливо прикрiпити 5 файлів з розширенням: pdf, doc, docx, xls, xlsx, rtf, txt, jpeg, jpg, bmp, png, tiff. Розмір кожного файлу не повинен перевищувати 5 МБ</span>
              
        </v-col>
      <!-- <v-col 
           
            align="center"
            cols="1"
        >
      </v-col> -->
        <v-col 
           
            align="center"
            cols="12"
        >
        <!-- :to="'/requestItem/' + $route.params.type" -->
          <v-btn
              block 
              large
              color="#4485f4"
              elevation="2"
              @click="saveRequest"
            >
                <v-row>
                    <v-col align="center" cols="12" color="black">
                        <h4 style="color: white">Відправити звернення</h4>
                    </v-col>
                    
                </v-row>
            </v-btn>
        </v-col>
        <!-- <v-col 
           
            align="center"
            cols="1"
        >
      </v-col> -->
        </v-row>
        <SnackBar ref="SnackBar"/>
  </v-container>  
</div>
</template>

<script>
    require('../../../externalScripts/nativescript-webview-interface.js');
    import SnackBar from '../../../components/SnackBar'
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import axios from 'axios'
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    

    export default {
        name: 'CreateRequest',
        data() {
            return {
                header: 'Нове звернення',
                dialog: false,
                description: '',
                testText: '===',
                fileTest: null,
                address: {},
                files: [],
                fileNames: [],
                snackbar: false,
                items: [
                 
                ],
                rules: {
                    length: len => v => (v || '').length <= len || `Максимальна довжина ${len}`,
                },
            }
        },
        components: {
            AppBar,
            PageTitle,
            SnackBar
        },
        computed: {
            ...mapGetters('idGovDiia', ['USER_INFO_FROM_DIIA']),
            ...mapGetters('hotline', ['gitFiles', 'getFileStatus']),
            ...mapGetters('storage', ['getToken', 'BASE_URL']),
        },
        
        watch: {
            '$store.state.hotline.fileStatus'() {
                //console.log(this.$store.state.hotline.fileStatus)
                if(this.$store.state.hotline.fileStatus){
                    this.testText = JSON.stringify(this.$store.state.hotline.files);
                    console.log(this.testText)
                    this.setFileStatus();
                    console.log(this.$store)


                    for(let i = 0; i < this.$store.state.hotline.files; i++){
                    if(this.checkFile(this.$store.state.hotline.files[i]) && this.files.length < 5){
                        this.files.push(this.$store.state.hotline.files[i])
                        this.fileNames.push(this.$store.state.hotline.files[i].name)
                    }
                }
                }
                
            }
        },
        methods: {
            ...mapActions('hotline', ['createCard', 'getCards']),
            ...mapActions('idGovDiia', ['userInfoFromDIIA']),
            ...mapMutations('hotline', ['setFileStatus']),
            ...mapMutations('storage', ['setToken']),
            deleteFile(name){
                for(let index in this.files){
                    if(this.files[index].name === name){
                        this.files.splice(index, 1);
                    }
                }
                for(let index in this.fileNames){
                    if(this.fileNames[index] === name){
                        this.fileNames.splice(index, 1);
                    }
                }
                console.log(this.files)
            },
            classText(i)
            {
              if(i%2==0){
                return 'grey-back'
              }
              return ''
            },
            onFileChanged(event){
                
                for(let i = 0; i < event.target.files.length; i++){
                    if(this.checkFile(event.target.files[i]) && this.files.length < 5){
                        this.files.push(event.target.files[i])
                        this.fileNames.push(event.target.files[i].name)
                    }
                }

                console.log(this.files)
            },
            checkFile(file){
                if(file.size > 2097152) {
                   return false;
                }
                let resolution = ['pdf', 'doc', 'docx', 'xls', 'xlsx', 'rtf', 'txt', 'jpeg', 'jpg', 'bmp', 'png', 'tiff']
                let fileResolution = file.name.split('.'); 
                fileResolution = fileResolution[fileResolution.length - 1]

                for(let i = 0; i < resolution.length; i++){
                    if(resolution[i] === fileResolution){
                      return true;
                    }
                }
                
                return false;

            },
            onButtonClick() {
              this.$refs.uploader.click()
            },
            saveRequest(){
                this.createCard({description: this.description, files: this.files})
                .then((resp) => {
                    this.snackbar = true   
                })
                .catch((error) => {
                    console.log(error.response.data)
                })
            },

                submitCard() {
                let formData = new FormData();
                for( var i = 0; i < this.files.length; i++ ){
                let file = this.files[i];
                formData.append('files[' + i + ']', file);
                }
                formData.append('description', this.description);

                axios.post(this.BASE_URL + 'admin/create', 
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                        'Authorization': 'Bearer ' + this.getToken
                    }
                }
                )


                // axios({
                //     url: this.BASE_URL + 'admin/create',
                //     method: "POST",
                    
                //     headers: {
                //         'Content-Type': 'multipart/form-data',
                //         'Authorization': 'Bearer ' + this.getToken
                //     },
                // })
                .then((response) => {
                    console.log(response)
                })
                .catch((error) => {
                    console.log(error)
                })
        
            },

            confirm() {
                this.getCards()
                this.snackbar = false
                this.description = ''
                this.$refs.AppBar.goBack()
            }, 

            setUserAgent(window, userAgent) {
                // Works on Firefox, Chrome, Opera and IE9+
                if (navigator.__defineGetter__) {
                    navigator.__defineGetter__('userAgent', function () {
                        return userAgent;
                    });
                } else if (Object.defineProperty) {
                    Object.defineProperty(navigator, 'userAgent', {
                        get: function () {
                            return userAgent;
                        }
                    });
                }
                // Works on Safari
                if (window.navigator.userAgent !== userAgent) {
                    var userAgentProp = {
                        get: function () {
                            return userAgent;
                        }
                    };
                    try {
                        Object.defineProperty(window.navigator, 'userAgent', userAgentProp);
                    } catch (e) {
                        window.navigator = Object.create(navigator, {
                            userAgent: userAgentProp
                        });
                    }
                }
            }
        },
        mounted(){
            this.setToken(this.$route.params.token)
            this.userInfoFromDIIA()
            console.log(this.USER_INFO_FROM_DIIA)
        }
    }

  
</script>
<style>
  .grey-back{
    background: rgb(216,216,216);
  }  
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  
  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
</style>


