<template>  
    <div>
        
        <AppBar
            :toPage="'/rada/' + $route.params.type"
            :header="header"
            :img="'obl-rada.png'"
            class="app-bar"
        >
        </AppBar>
        <PageTitle
            img="obl-rada.png"
            title="Кіровоградська ОДА"
        >
        </PageTitle>

        <v-container>
        <v-col 
            style="margin-top: -20px;"
            align="center"
            cols="12"

        >
          
        </v-col>
        <v-row 
            
            align="start"
            no-gutters
            style="height: 60vh; overflow: auto"
        >

            <v-col 
                align="center"
                cols="12"
            >
                <v-snackbar
                v-model="snackbar"
                centered
                color="#fff"
                class="text-center"
                :timeout="-1"
            >
                <v-row>
                    <v-col cols="12" class="text-center pb-0">
                        <span style="font-size: 16px; color: #0000008c">
                            Ваше звернення знаходиться на опрацюванні.
                        </span>
                    </v-col>

                    <v-col cols="12" class="text-center  pt-0" style="z-index: 100">
                        <v-btn
                        class="ma-auto"
                        text
                        @click="snackbar = false"
                        color="#4385f4"
                        >
                        Зрозуміло
                        </v-btn>
                    </v-col>
                </v-row>
            </v-snackbar> 

                <v-row v-if="VERIFIED_STATUS === 0"> 
                    <v-col cols="12" align="center">
                        <img width="55%" src="../../../assets/DIIA.png" alt="LogoDIIA">
                    </v-col>
                    <v-col cols="12" align="center">
                        <span>
                             Для того щоб залишити своє звернення Вам необхідно пройти ідентифікацію через додаток Департаменту Міністерства цифрової трансформації <b>Дія ID.GOV.UA</b> 
                        </span>
                    </v-col>
                </v-row>

                <div v-else>
                    <v-card v-for="(item, index) in  ALL_REQ" :key="index" @click="openCard(item.status, item.id_appeal)" class="mb-5" style="width: 100%">
                        <div class="d-flex">
                            <v-col cols="1" class="py-0 pl-0 pr-6">
                                <div v-if="item.status === 2" style="background: green; height: 100%; border-radius: 4px 0px 0px 4px;"></div>
                                <div v-if="item.status === 1" style="background: #4385f4; height: 100%; border-radius: 4px 0px 0px 4px;"></div>
                                <div v-if="item.status === 0" style="background: red; height: 100%; border-radius: 4px 0px 0px 4px;"></div>
                            </v-col>
                            <v-col>
                                <v-col cols="12" class="pa-1 text-left" style="font-size: 18px">
                                       {{ item.title }} 
                                </v-col>
                                <v-col cols="12" class="pa-1 text-right">
                                    <div class="px-5">
                                        <span style="font-size: 14px">{{ new Date(item.created_at) | formatDate }}</span>
                                    </div>
                                </v-col>
                            </v-col>
                        </div>
                    </v-card >
                </div>
            </v-col>
            </v-row>
        <v-row 
            align="end"
            no-gutters
            style="margin-top: 16px"
        >
            <v-col 
                align="center"
                cols="12"
            >
             <v-btn
              block 
              large
              v-if="VERIFIED_STATUS === 0"
              @click="checkDiia()"
              color="#4385f4"
              elevation="2"
              class="btn-diia"
            >
                <v-row>
                    <v-col align="center" cols="12">
                        <h4 style="color: white">Пройти ідентифікацію</h4>
                    </v-col>
                    
                </v-row>
            </v-btn>
            
            <v-btn
              block 
              large
              v-else
              @click="checkDiia()"
              color="#4385f4"
              elevation="2"
            >
                <v-row>
                    <v-col align="center" cols="12">
                        <h4 style="color: white">Нове звернення</h4>
                    </v-col>
                    
                </v-row>
            </v-btn>
            </v-col>
        </v-row>
          
          
        <SnackBar ref="SnackBar"/>
        <RequestDetails ref="RequestDetails"/>
  </v-container>  
</div>
</template>

<script>
    require('../../../externalScripts/nativescript-webview-interface.js');
    import RequestDetails from '../../components/RadaRequest/RequestDetails'
    import SnackBar from '../../../components/SnackBar'
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    import moment from 'moment'
    export default {
        name: 'Categories',
        components: {
            AppBar,
            PageTitle,
            RequestDetails,
            SnackBar
        },
        data() {
            return {
                header: 'гаряча лiнiя',
                dialog: false,
                loader: true,
                token: '',
                address: {},
                items: [
                    
                ],
                snackbar: false,
                
            }
        },

        filters: {
            formatDate(value) {
                if (value) {
                    return moment(String(value)).format('YYYY-MM-DD HH:MM')
                }
            },
        },
       
        watch: {
            STATE() {
                this.govID(this.STATE)
                //window.location.href = 'https://kr.smartregion.com.ua/api/region/v1/dia/bank_id/' + this.STATE;
            },
            URL() {
                console.log(this.URL)
                var oWebViewInterface = window.nsWebViewInterface;
                oWebViewInterface.emit('checkDiia', {link: this.URL});
                // this.$router.push(`#link=${this.URL}`)
            }
            // VERIFIED_STATUS() {
            //     this.$router.push({path: '/myRequest/' + this.$route.params.type+'/return'})
            // }

        },

        computed: {
            ...mapGetters('idGovDiia', ['STATE', 'URL', 'VERIFIED_STATUS']),
            ...mapGetters('hotline', ['ALL_REQ']),
        },

        methods: {
            ...mapActions('hotline', ['getCards']),
            ...mapActions('idGovDiia', ['createState', 'govID', 'checkDiiaVerified']),
            ...mapMutations('storage', ['setToken']),


            getItemsRequesrs(){
                this.getCards()
            },
            classText(i)
            {
              if(i%2==0){
                return 'grey-back'
              }
              return ''
            },

            // openCard(number){
            //   this.$refs.RequestDetails.show(number)
            // },

            openCard(status, id){
                if(status === 0) {
                    this.snackbar = true
                } else {
                    this.$refs.RequestDetails.show(id)
                }
            },

            createRequest(){
                var oWebViewInterface = window.nsWebViewInterface;
                
                oWebViewInterface.emit('goToSendFile', ' ');
                
                this.$router.push({path: '/myRequest/' + this.$route.params.type+'/return'})
            },

            // When calling this function, we check if the user status is 1 - we skip it further, else - we send it for verified
            checkDiia() {
                if(this.VERIFIED_STATUS === 1) {
                    this.createRequest()
                } else {
                    this.createState()
                }
                
            },
            // offFlashlight(){
            //     var oWebViewInterface = window.nsWebViewInterface;
            //     if(this.flashLight){
            //         oWebViewInterface.emit('offFlashlight');
            //     }
            // }

            
            
        },
        mounted(){
            
            this.checkDiiaVerified(); // This function checks if the user is verified or not in Diia 
            this.getItemsRequesrs();
        }
    }

  
</script>
<style scoped>

  .row {
      margin: 0;
  }
  .grey-back{
    background: rgb(216,216,216);
  }  
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  
  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    .btn-diia {
        background: -webkit-linear-gradient(90deg, rgb(90, 90, 90), rgb(15, 15, 15));
        background: -moz-linear-gradient(90deg, rgb(90, 90, 90), rgb(15, 15, 15));
        background: linear-gradient(90deg, rgb(90, 90, 90), rgb(15, 15, 15));
    }
    .theme--dark.v-btn.v-btn--has-bg {
        background-color: transparent !important;
    }
</style>

#5a5a5a
#0f0f0f


