<template>  
    <div>
        <AppBar
            :toPage="'/main/return'"
            :header="'Кіровоградська ОДА'"
            class="app-bar"
        >
        </AppBar>
        <PageTitle
            img="obl-rada.png"
            title="Кіровоградська ОДА"
        >
        </PageTitle>
    <v-container>
    
        <v-row 
            align="center"
            no-gutters
            style="height: 70vh;"
        >
            <v-col 
                align="center"
                cols="12"
            >
                <ListButton
                    text="Гаряча лінія"
                    color="green dark-2"
                    :path="'/myRequests/'+ $route.params.type+'/return'"
                >
                </ListButton>
                <ListButton
                    text="Центр Надання Адміністративних Послуг"
                    color="green dark-2"
                    @click="snackbarDev()"
                >
                </ListButton>
            </v-col>
        </v-row>  
        
    </v-container>
</div>
</template>

<script>
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import ListButton from '../../components/ListButton'
    export default {
        name: 'RadaPage',
        data() {
            return {
                dialog: false,
                address: {},
                snackbar: false,
                radaType: '',
                buttons: [
                    {title: 'Гаряча лінія', to: '/myRequests'},
                    {title: 'Центр Надання Адміністративних Послуг', to: '/myRequests'},
                ]
            }
        },
        components: {
            ListButton,
            AppBar,
            PageTitle,
        },
        computed:{
            paramsRoute()
            {
                this.radaType = this.$route.params.type;
                return this.$route.params
            },
        },
        
    }

  
</script>


<style scoped>
    .enterprise-menu-button{
        position: relative;
        display: inline-block;
        line-height: 2.5em;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        
    }
    .btn-text{
        white-space: normal;
    }
    .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
</style>
