<template>
    <div>
    <AppBar
            :toPage="'/main/return'"
            class="app-bar"
    >
    </AppBar> 
    <v-container>
        
        <v-row style="height: 70%" justify="center" align="center">
            <v-col  cols="12" align-self="center" align="center">
                <v-avatar 
                        color="green darken-3" 
                        size="87"
                    >
                        <v-icon 
                            dark 
                            x-large
                        >
                            mdi-check
                        </v-icon>
                    </v-avatar>
            </v-col>
            <v-col  cols="12" align-self="center" align="center">
                <span >
                    Ваш запит відправлено
                </span>
            </v-col>
        </v-row>
    </v-container>
    </div>
</template>
<script>
    import AppBar from '../../components/AppBar'
    export default {
        name: 'Categories',
        data: () => ({
            style: 100,
            
         
        }),
        components: {
            AppBar,
        },
        mounted(){
            
        }
      
    }

  
</script>
<style scoped>

    .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
</style>