<template>  
    <div>
        <!-- <v-app-bar
        color="white"
        style="position: -webkit-sticky;
position: sticky;
top: 0px;"
    >
        <v-app-bar-nav-icon :to="'/myRequests/' + $route.params.type">
            <v-icon
                large
            >
                mdi-arrow-left
            </v-icon>
        </v-app-bar-nav-icon>

      
    </v-app-bar> -->
    <AppBar
        :toPage="'/myRequests/' + $route.params.type"
    >
    </AppBar>
    <v-col 
            align="center"
            cols="12"
            
            dense
        >
    <v-row 

              align="center"
            dense
        >
          
            <v-col 
            align="center"
            cols="2"
            
            
          >
            <img
                style="margin: auto"
                :src="require('../../../assets/' + title.img)"
            >            
            

          </v-col>
          <v-col 
            align="center"
            cols="8"
            
            
          >
            <span style="font-size: 20px; display: inline-block;">{{title.title}}</span>
          </v-col>
          <v-col 
            align="center"
            cols="2"
            
            
          >
            
          </v-col>
          <v-col 
            align="center"
            cols="12"
            
          >
            
            <v-divider></v-divider>
          </v-col>
          <!-- <v-col 
            align="left"
            cols="9"
            
          >
            
            
          </v-col> -->
        </v-row>
    </v-col>
    <v-container>
        <v-col 
            style="margin-top: -20px"
            align="center"
            cols="12"
        >
          <span style="font-size: 1.5em;">Л-205140 від 17-03-2021</span>
        </v-col>
        <v-row 
            align="center"
            no-gutters
            
        >
            <v-col 
                align="center"
                cols="12"
            >
                
                  
                      
                      
                          <v-row 
                              align="center"
                              dense
                              v-for="(item, i) in items"
                      :key="i"
                      :class="classText(i)"
                          >
                            
                              <v-col 
                                align="center"
                                cols="6"
                                
                                
                              >
                              {{item.title}}
                              
                              
                            </v-col>
                            <v-col 
                                align="center"
                                cols="6"
                                style="word-wrap: break-word; "
                                
                              >
                              {{item.text}}
                              
                              
                            </v-col>
                            
                          </v-row>
                       
            </v-col>
        </v-row>  

        <v-snackbar
          :timeout="2000"
          v-model="snackbar"
          absolute
          multi-line="true"
          shaped
          
          color="indigo"
          
          centered
        >
          <span style="font-size: 1.5em;">Ще в розробці</span>
        </v-snackbar>
    </v-container>
</div>
</template>

<script>
    import AppBar from '../../components/AppBar'
    export default {
        name: 'Categories',
        data() {
            return {
                dialog: false,
                address: {},
                snackbar: false,
                items: [
                  { title: 'Зареєстровано:', text: '17-03-2021' },
                  { title: 'Тема звернення:', text: 'Електропостачання населенних пунктів, будинків' },
                  { title: 'Відповідальні за виконання:', text: 'Департамент екології, природних ресурсів та паливно-енергетичного комплексу облдержадміністрації ' },
                  { title: 'Дата контролю:', text: '14-11-2020' },
                  { title: 'Статус:', text: 'Задоволено' },
                  { title: 'Завантажити відповідь:', text: 'Л-205140.pdf Л-205140_1.pdf' },

                ],
            }
        },
        components: {
            AppBar,
        },
        computed: {
            title(){
                switch(this.$route.params.type) {
                    case "obl":
                        return {img: 'obl-rada.png', title: 'Обласна рада'}
                        break;
                    case "city":
                        console.log('+++')
                        return {img: 'misk-rada.png', title: 'Міська рада'}
                        break;
                }
             
            },
        },
        methods: {
            classText(i)
            {
              if(i%2==0){
                return 'grey-back'
              }
              return ''
            }
        },
    }

  
</script>

<style>
  .grey-back{
    background: rgb(216,216,216);
  }  
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  
</style>


