<template>
    <v-row justify="center">
        <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
        >
          
            <v-card>
                <v-toolbar
                    dark
                    color="#4385f4"
                >
                    <v-btn
                        icon
                        dark
                        @click="closeDialog()"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-toolbar-title>Додавання особового рахунку</v-toolbar-title>
                    <v-spacer></v-spacer>
                    
                  
                </v-toolbar>
                <v-container style="padding-top: 16px">
                    <v-row 
                        align="center"
                        justify="center"
                        no-gutters
                    >
                        <v-col cols="12" align="center">
                            Номер особового рахунку
                        </v-col>
                        <v-col cols="12" align="center">
                            <v-text-field
                                v-model="lic"
                            ></v-text-field>
                        </v-col>
                        
                    </v-row>
                    <v-row 
                        align="center"
                        justify="center"
                       
                    >
                        <v-col cols="8" align="center">
                            <v-btn
                                @click="addLicAddress"   
                                block 
                                x-large
                                elevation="2"
                                color="green"
                            >
                                <v-row
                            
                                    dense
                                    align="center"

                                >
                                  
                                    <v-col align-self="center" color="black" style="color: white" cols="12">
                                        <span class="btn-text">
                                            Додати рахунок
                                        </span>
                                    </v-col>
                                </v-row>
                            </v-btn>
                        </v-col>
                        
                    </v-row>
                </v-container>
            </v-card>
            <SnackBar ref="SnackBar"/>
        </v-dialog>
    </v-row>
</template>
<script>
    import SnackBar from '../../../components/SnackBar'
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    export default {
        name: 'AddLicToAddress',
        data () {
            return {
                dialog: false,
                lic: '',
                company: null,
                addressId: null,
            }
        },
        components: {
            SnackBar,
        },
        computed: {
            ...mapGetters('storage', ['KEY_VALUE']),
        },
        methods: {
            ...mapActions('address', ['setLicToAddress']),
            ...mapMutations('storage', ['setKeyValue']),
            closeDialog(){
                this.dialog = false
                this.setKeyValue()
                console.log(this.KEY_VALUE)
            },
            show(company, addressId){
                this.company = company
                this.addressId = addressId
                this.dialog = true;
            },
            addLicAddress(){
                let data = {
                    address_id: this.addressId,
                    company_id: this.company.id,
                    ls: this.lic
                }
                this.setLicToAddress(data)
                .then(resp => {
                    this.$refs.SnackBar.show(resp.data.message , 'green darken-2')
                    if(resp.data.success === true) {
                        console.log(resp.data.success)
                        this.setKeyValue()
                        this.dialog = false
                    }
                })
                .catch(error => {
                    console.log(error.response)
                    this.$refs.SnackBar.show(error.response.data.message , 'red darken-2')
                })
            },

        },
        mounted(){
            //var oWebViewInterface = window.nsWebViewInterface;

            // // register listener for any event from native app
            // oWebViewInterface.on('anyEvent', function(eventData){
                
            // });

            // emit event to native app
            // oWebViewInterface.emit('anyEvent', false);

            // // function which can be called by native app
            // window.functionCalledByNative = function(arg1, arg2){
            //     // do any processing
            //     return dataOrPromise;
            // }
        }
    }
</script>
<style>
  .grey-back{
    background: rgb(216,216,216);
  }  

</style>