<template>
    <v-row justify="center">
        <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
        >
          
            <v-card>
                <v-toolbar
                    dark
                    color="green darken-2"
                >
                    <v-btn
                        icon
                        dark
                        @click="closeDialog()"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-toolbar-title></v-toolbar-title>
                    <v-spacer></v-spacer>
                    
                  
                </v-toolbar>
                <v-container style="padding-top: 16px">
                    <v-text-field
                        :loading="loading"
                        label="Вкажіть назву населеного пункту та адресу будинку"
                        autofocus
                        v-model="address"
                    ></v-text-field>
                    <LoaderList
                        v-if="loading"
                    >
                    </LoaderList>
                    <div v-if="!loading" >
                        <v-list-item  
                            v-for="(item, index) in addressesArray" 
                            two-line 
                            @click="selectingAddress(item)"
                            :key="index"
                        >
                            <v-row no-gutters>
                                <v-col cols="12">
                                    <v-list-item-content>
                                        <v-list-item-title>{{item.street_name}}, {{item.building}}{{item.corp ? ', к'+item.corp : ''}}</v-list-item-title>
                                        <v-list-item-subtitle>{{item.city}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-col>
                                <v-col cols="12">
                                    <v-divider></v-divider>
                                </v-col>
                            </v-row>
                        </v-list-item>
                    </div>
                    
                    
                    <!-- <v-row 
                        align="center"
                        justify="center"
                        no-gutters
                    >
                        
                    </v-row>
                    <v-row 
                        align="center"
                        justify="center"
                    >
                        <v-col cols="8" align="center">
                            
                        </v-col>
                        
                    </v-row> -->
                </v-container>
            </v-card>
            <SnackBar ref="SnackBar"/>
        </v-dialog>
    </v-row>
</template>
<script>
    import SnackBar from '../../../components/SnackBar'
    import LoaderList from '../LoaderList'
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'InputAddress',
        props: ['selectAddress'],
        data () {
            return {
                dialog: false,
                address: '',
                addressesArray: [],
                loading: false,
            }
        },
        components: {
            SnackBar,
            LoaderList,
        },
        watch: {
            address(){
                let address = this.address
                setTimeout(() => {
                    if(address === this.address){
                        this.loading = true
                        this.getListAddresses({address: this.address})
                        .then(resp => {
                            this.addressesArray = resp.data.address
                            this.loading = false
                        })
                        .catch(error => {
                            console.log(error)
                            this.loading = false
                            this.addressesArray = []
                            this.$refs.SnackBar.show('Адреса не знайдена', 'red darken-2')
                        })

                    }
                }, 1000)
            }
        },
        methods: {
            ...mapActions('address', ['getListAddresses']),
            selectingAddress(selectedAddress){
                //Event goes to native script and call function from native script core
                var oWebViewInterface = window.nsWebViewInterface;
                oWebViewInterface.emit('hideKeyboard', {isEnabled: true});

                this.$emit('update:selectAddress', selectedAddress);
                this.dialog = false;
            },
            closeDialog(){
                //Event goes to native script and call function from native script core
                var oWebViewInterface = window.nsWebViewInterface;
                oWebViewInterface.emit('hideKeyboard', {isEnabled: true});

                this.dialog = false;
                this.addressesArray = [];
                this.address = '';
                this.loading = false;
            },
            show(address = ''){

                this.address = address;
                this.dialog = true;
            },
            
        },
        mounted(){
            //var oWebViewInterface = window.nsWebViewInterface;

            // // register listener for any event from native app
            // oWebViewInterface.on('anyEvent', function(eventData){
                
            // });

            // emit event to native app
            // oWebViewInterface.emit('anyEvent', false);

            // // function which can be called by native app
            // window.functionCalledByNative = function(arg1, arg2){
            //     // do any processing
            //     return dataOrPromise;
            // }
        }
    }
</script>

<style>
  .grey-back{
    background: rgb(216,216,216);
  }  

</style>