<template>
    <v-row justify="center">
        <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
        >
          
            <v-card>
                <v-toolbar
                    dark
                    color="green darken-2"
                >
                    <v-btn
                        icon
                        dark
                        @click="closeDialog()"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-toolbar-title></v-toolbar-title>
                    <v-spacer></v-spacer>
                    
                  
                </v-toolbar>
                <v-container style="padding-top: 16px">
                    <v-text-field
                        label="Вкажіть вашу квартиру"
                        autofocus
                        v-model="flat"
                        :loading="loading"
                    ></v-text-field>
                    <LoaderList
                        v-if="loading"
                    ></LoaderList>
                    <div v-if="!loading">
                        <v-list-item 
                            v-for="(item, index) in flatsArray" 
                            @click="selectingflat(item)"
                            :key="index"
                        >
                            <v-row no-gutters>
                                <v-col cols="12">
                                    <v-list-item-content>
                                        <v-list-item-title>{{item}}</v-list-item-title>
                                    </v-list-item-content>
                                </v-col>
                                <v-col cols="12">
                                    <v-divider></v-divider>
                                </v-col>
                            </v-row>
                        </v-list-item>
                    </div>
                </v-container>
            </v-card>
            <SnackBar ref="SnackBar"/>
        </v-dialog>
    </v-row>
</template>
<script>
    import SnackBar from '../../../components/SnackBar'
    import LoaderList from '../LoaderList'
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'SelectFlat',
        props: ['selectFlat'],
        data () {
            return {
                dialog: false,
                flat: '',
                flatsArray: [],
                selectAddress: {},
                loading: false,
            }
        },
        components: {
            SnackBar,
            LoaderList,
        },
        watch: {
            flat(){
                let flat = this.flat
                setTimeout(() => {
                    if(flat === this.flat){
                        this.loadFlat()

                    }
                }, 1000)
            }
        },
        methods: {
            ...mapActions('address', ['getListApartments']),
            closeDialog(){
                this.dialog = false
                this.flat = ''
                this.flatsArray = false
                this.loading = false
            },
            show(selectAddress){
                this.selectAddress = selectAddress
                this.dialog = true;
                this.loadFlat()
            },
            selectingflat(flat){

              //Event goes to native script and call function from native script core
              var oWebViewInterface = window.nsWebViewInterface;
              oWebViewInterface.emit('hideKeyboard', {isEnabled: true});

                this.$emit('update:selectFlat', flat);
                this.dialog = false;
            },
            loadFlat(){
                this.loading = true
                let data = {
                    building: this.selectAddress.building,
                    corp: this.selectAddress.corp,
                    apartment: this.flat,
                    Geon_id: this.selectAddress.Geon_id
                }
                this.getListApartments(data)
                .then(resp => {
                    this.flatsArray = resp.data.apartment
                    this.loading = false
                })
                .catch(error => {
                    console.log(error)
                    this.loading = false
                    this.flatsArray = []
                    this.$refs.SnackBar.show('Квартиру не знайдена', 'red darken-2')
                })
            }
            
        },
        mounted(){
            //var oWebViewInterface = window.nsWebViewInterface;

            // // register listener for any event from native app
            // oWebViewInterface.on('anyEvent', function(eventData){
                
            // });

            // emit event to native app
            // oWebViewInterface.emit('anyEvent', false);

            // // function which can be called by native app
            // window.functionCalledByNative = function(arg1, arg2){
            //     // do any processing
            //     return dataOrPromise;
            // }
        }
    }
</script>

<style>
  .grey-back{
    background: rgb(216,216,216);
  }  

</style>