<template>
  <div
      align="center"
      justify="space-around"
      class="mt-3 p-0"
      :key="id"
  >
    <v-btn
        class="mt-3 p-0 pt-5 pb-5 enterprise-menu-button"
        style="height: auto; padding: auto;"
        block
        @click="clickSnackbar"
        x-large
        elevation="2"
        :color="color"
        min-height="65px"
        align=""

    >

      <v-icon
          v-if="icon"
          :color="icon_color"
          medium
      >
        {{icon}}
      </v-icon>
      <v-img
          v-if="img"
          max-height="24"
          max-width="24"
          :src="img"
      />

      <v-row
          dense
          align="center"
      >
        <v-col align-self="center" cols="12">
                    <span :style="{color:text_color}" class="btn-text">
                        {{text}}
                    </span>
        </v-col>
      </v-row>


    </v-btn>
    <v-snackbar
        :color="snackbar_color"
        :centered="true"
        v-model="snackbar"
    >

      <span class="d-flex justify-center">{{text_info}}</span>
      <template v-slot:action="{ attrs }">
        <v-btn
            color="white"
            text
            v-bind="attrs"
            @click="clickSnackbar"
        >
          <v-icon
              color="white"
          >
            mdi-close
          </v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </div>

</template>
<script>

export default {
  name:'ButtonMedicine',
  props:['id','color','icon','text_color','text','icon_color','img','snackbar_color'],
  data() {
    return {
      snackbar: false,
      text_info: "В розробці"
    }
  },
  computed: {

  },
  watch: {

  },
  methods:{
    clickSnackbar(){
      this.snackbar=!this.snackbar
    }
  }
};
</script>