<template>
    <div class="city">
         <v-row>
            <v-col class="text-center">
                <div>
                    Якщо Ви проживаєте в багатоквартирному будинку, впишіть номер свєї квартири.
                    Якщо в приватному - просто натисніть "ПРОДОВЖИТИ"
                </div>
            </v-col>
        </v-row>
        <v-text-field
            label="Номер квартири"
            autocomplete="off"
            v-model="apartment"
            @click="apartArr"
            @input="apartArr"
        ></v-text-field>
        <v-card v-if="APARTMENTS.apartment.length > 0">
            <v-virtual-scroll
                height="200"
                item-height="64"
                :items="APARTMENTS.apartment"
            >
                <template v-slot:default="{ item }">
                    <v-list-item :key="item.index">
                        <v-list-item-content @click="addApartment(item)">
                            {{ item}}
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                </template>
            </v-virtual-scroll>
        </v-card>
        <v-row class="d-flex align-end pt-10">
            <v-col class="text-center">
                <v-btn @click="addAdress" color="#2e73b4" style="color: white">
                    Продовжити
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex'
export default {
    data: () => ({
        apartment: '',
        listApartment: false,
    }),

    watch: {
        apartment() { 
            let arr = this.APARTMENTS.apartment
            if (arr.some(element => element === this.apartment)) {
                let data = {apartment: this.apartment}
                this.setInfoAddedAddress(data)
            }
        },
        APARTMENTS() {
            if(this.APARTMENTS.apartment.length > 1) {
                this.listApartment = true
            } else {
                this.listApartment = false
            }
        },
    },

    computed: {
        ...mapGetters('manual_address', [ 'APARTMENTS', 'SELECTED_BUILDING', 'SELECTED_CORPUS', 'SELECTED_GEON_ID']),
    },

    methods: {
        ...mapActions('manual_address', ['getApartmentsArr']),
        ...mapMutations('manual_address', ['updateKeyForComponents', 'setInfoAddedAddress', 'updateKeyForMap']),
        apartArr() {
            let data = {
                building: this.SELECTED_BUILDING,
                corp: this.SELECTED_CORPUS,
                apartment: this.apartment,
                Geon_id: this.SELECTED_GEON_ID
            }
            this.getApartmentsArr(data)
        },

        addApartment(apart) {
            this.apartment = apart
            this.listApartment = false
        },

        addAdress() {
            let arr = this.APARTMENTS.apartment
            if (arr.some(element => element === this.apartment)) {
                console.log('есть')
            } else {
                let data = {apartment: this.apartment}
                this.setInfoAddedAddress(data)
            }

            this.updateKeyForMap(4)
            this.dialog = false
        } 
    }
}
</script>


<style scoped>

</style>