<template>
    <div class="building">
         <v-row>
            <v-col class="text-center">
                <div>
                    Оберіть номер вашого будинку
                </div>
            </v-col>
        </v-row>
        <v-text-field
            label="Номер будинку"
            v-model="building_addr"
            autocomplete="off"
            @input="buildArr"
        ></v-text-field>
        <v-card>
            <v-virtual-scroll
                height="200"
                item-height="64"
                :items="BUILDS.building_number"
            >
                <template v-slot:default="{ item }">
                    <v-list-item :key="item.index">
                        <v-list-item-content @click="addBuilding(item)">
                            <span>{{ item.building }}, <span v-if="item.corp"> корпус</span> {{ item.corp }} </span>
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                </template>
            </v-virtual-scroll>
        </v-card>
        <v-row class="d-flex align-end pt-10">
            <v-col class="text-center">
                <v-btn v-if="showButton"  @click="next_component" color="#2e73b4" style="color: white">
                    Продовжити
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex'
export default {
    data: () => ({
        building: '',
        building_addr: '',
        geon: '',
        city_id: '',
        corp: '',
        listBuilding: false,
        corpus_: false,
        showBtn: false
    }),

    watch: {
        building() {
            let arr = this.BUILDS.building_number
            // if(arr !== undefined) {
            //     if (arr.some(element => element.building === this.building)) {
                  
            //         this.updateKeyForComponents()
            //         let data = {building: this.building, geon_id: this.geon, city_id: this.city_id, corpus: this.corp}
            //         this.setInfoAddedAddress(data)
            //         this.checkedApart()
            //     }
            // }
            if(this.building !== '') {
                this.showBtn = true
                let data = {building: this.building, geon_id: this.geon, city_id: this.city_id, corpus: this.corp}
                this.setInfoAddedAddress(data)
                this.checkedApart()
            }
           
        },

        building_addr() {
            
        }
    },

    computed: {
        ...mapGetters('manual_address', ['BUILDS', 'SELECTED_CITY_ID', 'SELECTED_GEON_ID', 'SELECTED_CITY', 'SELECTED_STREET', 'SELECTED_BUILDING', 'SELECTED_CORPUS', 'SELECTED_APARTMENT', 'GOE', 'APARTMENTS']),
        showButton() {
            if(this.building_addr) {
                return true
            } else {
                return false
            }
        }
    },

    methods: {
        ...mapActions('manual_address', ['getBuildsArr', 'getGeoAddressManual', 'getApartmentsArr']),
        ...mapMutations('manual_address', ['updateKeyForComponents', 'setInfoAddedAddress']),
       buildArr() {
            let data = {
                city_name: this.SELECTED_CITY,
                street_name: this.SELECTED_STREET,
                building_number: this.building_addr
            }
            this.getBuildsArr(data)
        },
        addBuilding(item) {
            this.building = item.building
            this.geon = item.Geon_id
            this.corp = item.corp
            this.city_id = item.city_id
            if(item.corp) {
                this.building_addr = `${item.building}, корпус ${item.corp}` 
            } else {
                this.building_addr = item.building
            }
            this.getGeoData()
        },

        // this function return latitude and longitude for this address
        getGeoData() {
            let city = this.SELECTED_CITY
            let street = this.SELECTED_STREET

            let data = {
                address: `${
                    city.replace(/смт.|смт|с-ще |с.|м./,'').split(',')[0]}, ${street.replace(/вул.|пров.|проїзд|тупик|бульв./, '')}, ${this.building_addr.split(',')[0]}`
            }
            this.getGeoAddressManual(data)
            .then((resp) => {
                if(resp.data.geoData.length === 0) {
                   this.getGeoAddressManual({address: `${city.replace(/смт.|смт|с-ще |с.|м./,'').split(',')[0]}, ${street.replace(/вул.|пров.|проїзд|тупик|бульв./, '')}`}) 
                   .then((resp) => {
                        if(resp.data.geoData.length === 0) {
                            this.getGeoAddressManual({address: `${city.replace(/смт.|смт|с-ще |с.|м./,'').split(',')[0]}`}) 
                        }
                   })
                }
            })
        },
        checkedApart() {
            let data = {
                building: this.SELECTED_BUILDING,
                corp: this.SELECTED_CORPUS,
                apartment: this.SELECTED_APARTMENT,
                Geon_id: this.SELECTED_GEON_ID
            }
            this.getApartmentsArr(data)
               
        },
        next_component() {
            let arr = this.BUILDS.building_number
            if(arr.some(element => element.building !== this.building_addr)) {
                console.log('///===+++===///')
            } else {
                console.log('добавить произвольный адрес')
                let data = {building: this.building_addr}
                this.setInfoAddedAddress(data)
                this.checkedApart()
                
            }

            if(arr.some(element => element.building === this.building_addr)) {
                let data = {building: this.building_addr}
                this.setInfoAddedAddress(data)
                this.checkedApart()
            }

            this.updateKeyForComponents(4)
            this.getGeoData()
        }
    }
}
</script>


<style scoped>

</style>