<template>
    <div class="building_confirm">
        <v-row> 
            <v-col cols="12">
                <v-card class="mt-2 d-flex align-center justify-center" style="height: 10vh">
                    <v-row>
                        <v-col cols="12">
                            <div class="text-center">
                                <span style="font-size: 14px; font-weight: 700; color: #000">
                                    {{ BUILDS_CONFIRMS.building_number[0].city }} <br>
                                    <span>{{ BUILDS_CONFIRMS.building_number[0].street_name }}</span>
                                </span>
                            </div>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>

            <v-col class="text-center">
                <div>
                Підтвердіть номер Вашого будинку вибравши його зі списку
                </div>
            </v-col>
        </v-row>
        <div>
             <v-text-field
                label="Номер будинку"
                v-model="building_addr"
                autocomplete="off"
                @input="buildArr"
            ></v-text-field>
            <v-card v-if="listBuilding">
                <v-virtual-scroll
                    height="200"
                    item-height="64"
                    :items="BUILDS_CONFIRMS.building_number"
                >
                    <template v-slot:default="{ item }">
                        <v-list-item :key="item.index">
                            <v-list-item-content @click="addBuilding(item)">
                                <span>{{ item.building }}, <span v-if="item.corp"> корпус</span> {{ item.corp }} </span>
                            </v-list-item-content>
                        </v-list-item>
                        <v-divider></v-divider>
                    </template>
                </v-virtual-scroll>
            </v-card>
            <v-row class="d-flex align-end pt-10">
                <v-col class="text-center">
                    <v-btn v-if="showBtn"  @click="next_component" color="#2e73b4" style="color: white">
                        Продовжити
                    </v-btn>
                </v-col>
            </v-row>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex'
export default {
    data: () => ({
        city: '',
        street: '',
        building: '',
        building_addr: '',
        geon: '',
        city_id: '',
        corp: '',
        listBuilding: true,
        corpus_: false,
        showBtn: false
    }),

    watch: {
        building() {
            let arr = this.BUILDS_CONFIRMS.building_number
            if(arr !== undefined) {
                if (arr.some(element => element.building === this.building)) {
                    let data = {all: true, city: this.city, street: this.street, building: this.building, geon_id: this.geon, city_id: this.city_id, corpus: this.corp}
                    this.setInfoAddedAddress(data)
                    this.showBtn = true
                    this.checkedApart()
                }
            }
            // this.updateKeyForComponents(4)
           
        },
        BUILDS() {
            if(this.BUILDS_CONFIRMS.building_number.length > 1) {
                this.listBuilding = true
            } else {
                this.listBuilding = false
            }
        },
    },

    computed: {
        ...mapGetters('manual_address', ['BUILDS_CONFIRMS', 'SELECTED_CITY_ID', 'SELECTED_GEON_ID', 'SELECTED_CITY', 'SELECTED_STREET', 'SELECTED_BUILDING', 'SELECTED_CORPUS', 'SELECTED_APARTMENT', 'GOE', 'APARTMENTS']),
    },

    methods: {
        ...mapActions('manual_address', ['getBuildsArr', 'getGeoAddressManual', 'getApartmentsArr']),
        ...mapMutations('manual_address', ['updateKeyForComponents', 'setInfoAddedAddress']),
       buildArr() {
            let data = {
                city_name: this.SELECTED_CITY,
                street_name: this.SELECTED_STREET,
                building_number: this.building_addr
            }
            this.getBuildsArr(data)
        },
        addBuilding(item) {
            this.city = item.city
            this.street = item.street_name
            this.building = item.building
            this.geon = item.Geon_id
            this.corp = item.corp
            this.city_id = item.city_id
            this.listBuilding = false
             if(item.corp) {
                this.building_addr = `${item.building}, корпус ${item.corp}` 
            } else {
                this.building_addr = item.building
            }
            this.getGeoData(item)
        },

        getGeoData(item) {
            let city = item.city
            let street = item.street_name

            let data = {
                address: `${
                    city.replace(/смт|с-ще |с.|м./,'').split(',')[0]}, ${street.replace(/вул.|пров.|проїзд|тупик|бульв./, '')}, ${this.building_addr.split(',')[0]}`
            }
            this.getGeoAddressManual(data)
        },

       
        checkedApart() {
            let data = {
                building: this.SELECTED_BUILDING,
                corp: this.SELECTED_CORPUS,
                apartment: this.SELECTED_APARTMENT,
                Geon_id: this.SELECTED_GEON_ID
            }
            this.getApartmentsArr(data)
               
        },

        next_component() {
            this.updateKeyForComponents(4)
        }
    }
}
</script>


<style scoped>

</style>