<template>
    <div class="city" style="height: 60vh">

        <v-row>
            <v-col class="text-center">
                <div>
                    Почніть вводити назву Вашого населеного пункту, та оберіть його зі списку 
                </div>
            </v-col>
        </v-row>

        <v-text-field
            label="Населений пункт"
            autocomplete="off"
            v-model="city"
            class="mt-10"
        ></v-text-field>
        <v-card v-if="listCity">
            <v-virtual-scroll
                height="200"
                item-height="64"
                :items="CITIES"
            >
                <template v-slot:default="{ item }">
                    <v-list-item :key="item.index">
                        <v-list-item-content @click="addCity(item.city_name)">
                            {{ item.city_name }}
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                </template>
            </v-virtual-scroll>
        </v-card>
        <v-row class="d-flex align-end pt-10">
            <v-col class="text-center">
                <v-btn v-if="showBtn" @click="next_component" color="#2e73b4" style="color: white">
                    Продовжити
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex'
export default {
    data: () => ({
        city: '',
        listCity: false,
        showBtn: false
    }),

    watch: {
        city() {
            this.citiesArr() 
            let arr = this.CITIES
            if(arr !== undefined) {
                if (arr.some(element => element.city_name === this.city)) {
                    this.showBtn = true
                    let data = {city: this.city}
                    this.setInfoAddedAddress(data)
                }
            }
            
        },
        CITIES() {
            if(this.CITIES.length > 1) {
                this.listCity = true
            } else {
                this.listCity = false
            }
        },
    },

    computed: {
        ...mapGetters('manual_address', ['CITIES']),
    },

    methods: {
        
        ...mapActions('manual_address', ['getCitiesArr']),
        ...mapMutations('manual_address', ['updateKeyForComponents', 'setInfoAddedAddress']),
        citiesArr() {
            let data = {
                city: this.city
            }
            this.getCitiesArr(data)
        },

        addCity(city) {
            this.city = city
            this.listCity = false
        },

        next_component() {
            this.updateKeyForComponents(2)
        }
    }
}
</script>


<style scoped>

</style>