<template>
    <div class="confirm_address">
        <v-container>
            <v-row class="d-flex align-center justify-center">
                <v-col>
                    <div class="text-center">
                        <span style="font-size: 18px; color: #000">Залишився передостанній крок <br> Перевірте та підтвердіть остаточну адресу:</span>
                    </div>
                </v-col>
            </v-row>

            <v-card class="mt-10 d-flex align-center justify-center" style="height: 30vh">
                <v-row>
                    <v-col cols="12">
                        <div class="text-center">
                            <span style="font-size: 16px; font-weight: 700; color: #000">
                                {{ SELECTED_CITY }} <br>
                                <span v-if="SELECTED_STREET">{{ SELECTED_STREET }},</span> <span v-if="SELECTED_BUILDING">{{ SELECTED_BUILDING }}</span> <span v-if="SELECTED_CORPUS">корп.{{ SELECTED_CORPUS }}</span> <br>
                                <span v-if="SELECTED_APARTMENT">кв.{{ SELECTED_APARTMENT }}</span>
                            </span>
                        </div>
                    </v-col>
                </v-row>
            </v-card>
        </v-container>
    </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex'
export default {
    data: () => ({

    }),

    computed: {
        ...mapGetters('manual_address', ['SELECTED_CITY', 'SELECTED_STREET', 'SELECTED_BUILDING', 'SELECTED_CORPUS', 'SELECTED_APARTMENT'])
    },

    
}
</script>

<style scoped>

</style>