<template>
    <div class="corpus">
         <v-row>
            <v-col class="text-center">
                <div>
                    Оберіть номер вашого корпусу
                </div>
            </v-col>
        </v-row>
        <v-text-field
            label="Корпус"
            v-model="corpus"
            autocomplete="off"
            @click="corpArr"
            @input="corpArr"
        ></v-text-field>
        <v-card v-if="listCorpus">
            <v-virtual-scroll
                height="300"
                item-height="64"
                :items="CORPUSES.corpus"
            >
                <template v-slot:default="{ item }">
                    <v-list-item :key="item.index">
                        <v-list-item-content @click="addCorpus(item.corp)">
                            {{ item.corp }}
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                </template>
            </v-virtual-scroll>
        </v-card>
    </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex'
export default {
    data: () => ({
        corpus: '',
        listCorpus: true,
    }), 

    watch: {
        corpus() {
            // this.corpArr() 
            let arr = this.CORPUSES.corpus
            if(arr !== undefined) {
                if (arr.some(element => element.corp === this.corpus)) {
                    this.updateKeyForComponents()
                    let data = {corpus: this.corpus}
                    this.setInfoAddedAddress(data)
                }
            }
            
        },
        CORPUSES() {
            if(this.CORPUSES.corpus.length > 1) {
                this.listCorpus = true
            } else {
                this.listCorpus = false
            }
        },
},

    computed: {
        ...mapGetters('manual_address', ['CORPUSES', 'SELECTED_CITY', 'SELECTED_STREET', 'SELECTED_BUILDING']),
    },

    methods: {
        ...mapActions('manual_address', ['getCorpusArr']),
        ...mapMutations('manual_address', ['updateKeyForComponents', 'setInfoAddedAddress']),
        corpArr() {
            let data = {
                city_name: this.SELECTED_CITY,
                street_name: this.SELECTED_STREET,
                building_number: this.SELECTED_BUILDING,
                corpus: this.corpus
            }
            this.getCorpusArr(data)
        },
        addCorpus(build) {
            this.corpus = build
            this.listCorpus = false
        },
    }    
}
</script>


<style scoped>

</style>