<template>
    <div class="street">
         <v-row>
            <v-col class="text-center">
                <div>
                    Почніть вводити назву ВашЇ вулиці, та оберіть її зі списку 
                </div>
            </v-col>
        </v-row>
        <v-text-field
            label="Вулиця"
            autocomplete="off"
            v-model="street"
        ></v-text-field>
        <v-card v-if="listStreet">
            <v-virtual-scroll
                height="200"
                item-height="64"
                :items="STREETS.street_name"
            >
                <template v-slot:default="{ item }">
                    <v-list-item :key="item.index">
                        <v-list-item-content @click="addStreet(item.street_name, item.city_id)">
                            {{ item.street_name }}
                        </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                </template>
            </v-virtual-scroll>
        </v-card>
        <v-row class="d-flex align-end pt-10">
            <v-col class="text-center">
                <v-btn v-if="showBtn" @click="next_component" color="#2e73b4" style="color: white">
                    Продовжити
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex'
export default {
    data: () => ({
        street: '',
        city_id: '',
        listStreet: false,
        showBtn: false
    }),

    watch: {
       street() {
           this.listStreet = true
            this.streetsArr() 
            let arr = this.STREETS.street_name
            if(arr !== undefined) {
                if (arr.some(element => element.street_name === this.street)) {
                    this.listStreet = false
                    this.showBtn = true
                    let data = {street: this.street, city_id: this.city_id}
                    this.setInfoAddedAddress(data)
                }
            }
            
        },
},

    computed: {
        ...mapGetters('manual_address', ['STREETS', 'SELECTED_CITY']),
    },

    methods: {
        ...mapActions('manual_address', ['getStreetsArr', 'getBuildsArr']),
        ...mapMutations('manual_address', ['updateKeyForComponents', 'setInfoAddedAddress']),
        streetsArr() {
            let data = {
                city_name: this.SELECTED_CITY.replace(/смт/,'смт.'),
                street_name: this.street
            }
            console.log(this.SELECTED_CITY)
            this.getStreetsArr(data)
        },

         buildArr() {
            let data = {
                city_name: this.SELECTED_CITY,
                street_name: this.street,
                building_number: ''
            }
            this.getBuildsArr(data)
        },

        addStreet(street, city_id) {
            this.street = street
            this.city_id = city_id
            this.listStreet = false
            this.buildArr()
        },

        next_component() {
            this.updateKeyForComponents(3)
        }
    }
}
</script>


<style scoped>

</style>