<template >  
    <div style="margin-bottom: 25vh" :key="key">
           {{ consol }}
        <AppBar
            class="app-bar"
            :header="'Оплата усіх послуг'"
            :icon="'mdi-credit-card'"
        >
        </AppBar>
        <!-- <v-toolbar class="toolbar" >
             <v-tabs
                    v-model="tab"
                    background-color="transparent"
                    centered
                    fixed-tabs
                    dark
                    color="#2e73b4"
                    >
                        <v-tabs-slider color="#2e73b4"></v-tabs-slider>

                        <v-tab>
                            <v-icon color="#2e73b4">
                                mdi-credit-card
                            </v-icon>
                            <span style="color: #2e73b4">
                                Оплата 
                            </span>
                        </v-tab>

                        <v-tab>
                            <v-icon color="#2e73b4">
                                mdi-history
                            </v-icon>
                            <span style="color: #2e73b4">
                                Історія 
                            </span>
                        </v-tab>

                        <v-tab >
                            <v-icon color="#2e73b4">
                                mdi-calendar-check-outline
                            </v-icon>
                            <span style="color: #2e73b4">
                                Календар
                            </span>
                        </v-tab>
                    </v-tabs>
        </v-toolbar> -->
               
                   
         

    <!-- Payment confirmation dialog -->
        <Preloader v-if="preloader === true" :color="'#2e73b4'"/>

        <div v-if="preloader === false">
           

            <v-row justify="center" >
                <v-dialog
                v-model="dialog"
                persistent
                min-width="100%"
                height="100%"
                class="ma-0"
                >
                <v-container
                class="py-0"
                >
                    <v-card class=""> 
                     <v-app-bar
                        color="#2e72b4"
                        class="appBar"
                        
                        >
                            <v-toolbar-title
                            class="ma-auto pa-0"
                            style="font-size: 18px; color: white" 
                            
                            >
                                Підтвердження платежу 
                            </v-toolbar-title>

                            <v-btn
                            @click="clear(), dialog = false, stopTimer()"
                            icon
                            >
                            <v-icon color="red">mdi-close</v-icon>
                            </v-btn>

                        </v-app-bar> 
                        
                        <div v-for="(item, index) in GET_DEBT" :key="index">
                            <div v-if="GET_SUM > 0">
                                <div v-if="item.debts.AllSum > 0">
                                    <div v-for="addr in item.addres" :key="addr.index">
                                        <v-row class="pt-3">
                                            <v-col cols="2" align="center">
                                                <v-icon 
                                                    size="40"
                                                    dense
                                                    color="indigo"
                                                    class="ma-auto"
                                                >
                                                    mdi-home
                                                </v-icon>
                                            </v-col>
                                            <v-col cols="10" class="pb-0 pl-0">
                                                <span style="font-weight: 600">{{ addr.city }}</span>
                                                <span style="font-weight: 600">{{addr.street_name}} {{addr.building}}{{addr.corp1 ? '/'+addr.corp1 : ''}}{{isNaN(addr.corp) ? ' '+addr.corp : ' к'+addr.corp}}{{addr.apartment ? ', кв '+addr.apartment : ''}}</span>  
                                            </v-col>
                                        </v-row>
                                    </div>
                                </div>

                                <div>
                                    
                                    <div v-if="GET_SUM > 0">
                                        <div v-for="debt in item.debts.accounts" :key="debt.index">
                                            <v-row v-if="debt.allSum > 0">
                                                <v-col align="center" class="pb-0">
                                                    <span style=" font-size: 14px; border-bottom: 1px dashed black">{{debt.company_name}}</span>
                                                    <br>
                                                    <span style="font-size: 14px;">Особовий рахунок: {{ debt.ls }}</span>
                                                </v-col>
                                            </v-row>
                                           
                                            <div v-for="i in debt.service" :key="i.index">
                                                <v-row v-if="i.sum > 0">
                                                    <v-col  class=" px-7">
                                                        
                                                        <v-row>
                                                            <v-col cols="8" class="">
                                                                <div>
                                                                     <v-icon 
                                                                        v-if="i.service_number == 0" 
                                                                        color="orange"
                                                                        class="mt-n2"
                                                                        >
                                                                            mdi-fire
                                                                    </v-icon>
                                                                    <v-icon 
                                                                        v-else-if="i.service_number == 4 || i.service_number == 8" 
                                                                        color="blue"
                                                                        class="mt-n2"
                                                                        >
                                                                            mdi-water
                                                                    </v-icon>
                                                                    <v-icon 
                                                                        v-else-if="i.service_number == 1" 
                                                                        color="#ffd500"
                                                                        class="mt-n2"
                                                                        >
                                                                            mdi-flash
                                                                    </v-icon>
                                                                    <span style="font-size: 14px;">{{ i.name }}</span>
                                                                </div>
                                                            </v-col>
                                                            <v-col cols="4" class="pl-0 d-flex align-center">
                                                                <div>
                                                                    <span style=" color: #4caf50;">{{ i.sum  }} </span>
                                                                    грн.
                                                                </div>
                                                            </v-col>
                                                        </v-row>
                                                        <v-row class="d-flex mt-n5">
                                                            <v-col cols="8" class="pt-0">
                                                                    <span style="color: #000000b3; font-size: 13px">комісія складе:</span>
                                                            </v-col>

                                                            <v-col cols="4" class="pt-0 pl-0">
                                                                    <span style="color: #000000b3; font-size: 13px">{{i.fee}} грн.</span>
                                                            </v-col>
                                                        </v-row>
                                                    </v-col> 
                                                </v-row>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="GET_SUM <= 0" class="text-center">
                                <h3 class="pt-5 pb-3 px-2">Нажаль Ви не обрали жодної послуги</h3>
                                <span style="color: red">Для того щоб здійснити платіж, будь ласка, поверніться та оберіть хоча б одну послугу
                                </span>
                        </div>
                    
                    <v-app-bar
                        color="#2e72b4"
                        bottom
                        height="none"
                        class="appBar mt-6 " 
                        style=""
                        >

                       
                            <v-row class="d-flex py-3 ">
                                <v-col class="py-0" cols="5">
                                    <div style="font-size: 12px; color: white">
                                         Сума до сплати (з урахуванням комісії): <br> <span style="font-size: 16px; color: #05ff0f;">{{(GET_SUM + getFeeSum).toFixed(2)}}</span> грн.
                                    </div>
                                </v-col>
                                <v-col class="ma-auto pa-0 pr-4" cols="7">
                                    <!-- Боевая кнопка -->
                                    <v-btn
                                        v-if="GET_SUM > 0"
                                        @click="cardList()"
                                        class="button d-flex justify-space-around"
                                    >
                                    <span style="font-size: 12px; color: #fff">
                                        Підтвердити   
                                    </span>
                
                                    <span style="font-size: 12px; color: #fff; text-transform: lowercase">
                                        {{ currentTime }}s
                                    </span>
                        
                                    </v-btn>

                                    <v-btn
                                        v-else
                                        @click="clear(), dialog = false, stopTimer()"
                                        class="button d-flex justify-space-around"
                                    >
                                    <span style="font-size: 12px; color: #fff">
                                        Повернутись   
                                    </span>
                                    </v-btn>

                                    <!-- Button for development || Кнопка "В розробці" -->
                                    <!-- <v-btn
                                        @click="messageDev()"
                                        class="button d-flex justify-space-around"
                                    >
                                        <span style="font-size: 12px; color: #fff">
                                            Підтвердити   
                                        </span>
                    
                                        <span style="font-size: 12px; color: #fff; text-transform: lowercase">
                                            {{ currentTime }}s
                                        </span>
                                    </v-btn> -->
                                </v-col>
                            </v-row>
                        </v-app-bar> 
                </v-card>
                </v-container>
                </v-dialog>
            </v-row>
        </div>

        <!-- Snackbar-window for development || диалог для разработки -->
        <!-- <v-snackbar
            :timeout="5000"
            v-model="snackbar"
            absolute
            :multi-line="true"
            shaped
            style="position: fixed; top: 0px"
            color="#34a853"
          
          centered
        >
            <span style="font-size: 16px;" class="align-center"> {{message}} </span>
        </v-snackbar>
         -->

        <!-- <v-snackbar
            :timeout="5000"
            v-model="snackbarDev"
            absolute
            :multi-line="true"
            shaped
            style="position: fixed; top: 0px"
            color="#34a853"
          
          centered
        >
            <span style="font-size: 16px;" class="align-center"> {{message}} </span>
        </v-snackbar> -->
        
        
    <v-container >
<!-- Payment amount input component -->
      <v-col 
            style="margin-top: -20px"
            align="center"
            cols="12"
        >
        </v-col>
        <v-row 
            align="center"
            no-gutters
        >
            <v-col cols="12">
                <v-list v-for="(item, index) in GET_ALL_ADDRESSES" :key="index">
                    <ListCompany :addressID="item.id" :item="item"  :statusDialog="snackbar"/> 
                </v-list> 
            </v-col>
        </v-row> 
       

    </v-container>




    <div v-if="preloader === false"
        class="fixed-bottom-container"         
    >
        <v-divider></v-divider>
        <v-row 
            dense
            align="center"
        >
            <v-col align="center" cols="6" class="mt-3 mb-n4">
                <span style="font-weight: 600" class="bold-text">СУМА ДО СПЛАТИ:</span>
            </v-col>
            <v-col align="center" cols="6" class="mt-3 mb-n4">
                <span style="font-weight: 600" class="debt-number green--text" >{{ GET_SUM.toFixed(2) }} грн</span> 
            </v-col>
            <v-col  align="end" cols="12">
                 <v-btn 
                    color="#2e73b4"
                    style="margin-top: 20px; margin-bottom: 25px"
                    block
                    @click="dialog = true, snackbar = !snackbar, startTimer()"
                    large
                >
                    <span class="btn-text white--text">
                        СПЛАТИТИ
                    </span>
                </v-btn>
            </v-col>
        </v-row>
    </div>
</div>
</template>

<script>
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import Preloader from '../../components/Preloader'
    import ListCompany from './ListCompany'
    import axios from 'axios'
    import { mapGetters, mapActions, mapMutations } from 'vuex'
    
    export default {
        name: 'AllPayment',
        props: [''],
        data() {
            return {
                isLoading: false,
                calculateSum: 0,  
                dialog: false,
                message: 'Вибачте але Smart-оплата тимчасово недоступна, проводяться технічні роботи. Дякуємо за розуміння!',
                iframe: true,
                address: {},
                snackbarDev: false,
                snackbar: false,
                debt: '',
                dialog: false,
                currentTime: 60,
                timer: null,
                dataForAddCard: '',
                token: '',  
                preloader: true,  
            }
        },
        components: {
            AppBar,
            PageTitle,
            ListCompany,
            Preloader
        },

        watch: {
            currentTime(time) {
                if (time === 0) {
                    this.stopTimer()
                }
            },

            CARD_STATUS() {
                return this.getDataForPayment()
            },

            // We watch URL of adding card and redirect to this link
            URL_ADD_CARD() {
                window.location.href = this.URL_ADD_CARD;
            },

            token() {
                return this.getAccountAddresses()
            },
            
            // GET_ALL_ADDRESSES() {
            //     this.preloader = false
            // },

            '$route.name': function() {
            this.stopTimer()
            this.dialog = false
            if(this.$route.name === 'AllPayment') {
                let time = 2000
                setTimeout(() => {
                    
                    this.preloader = false
                }, time);
            } else {
                this.preloader = true
            }
            },



        },

     computed: {
         ...mapGetters('address', ['GET_ALL_ADDRESSES']), // return list address
         ...mapGetters('allPay', ['GET_SUM', 'GET_DEBT']), // GET_SUM - returns the total amount for all businesses and addresses
         ...mapGetters('storage', ['getToken', 'KEY_VALUE']), // return true token
         ...mapGetters('easypay', ['CARD_STATUS', 'URL_ADD_CARD', 'DATA_FOR_PAY']),
         // if the key is changed, the page will be reloaded
         key() {
            return this.KEY_VALUE
         },
         consol() {
             console.log('reload')
         },
        getFeeSum() {
            let fee = 0
            let objKey = ''
            let feeArr = []
            let payment = []
            let address_id = ''
            let newArr = this.GET_DEBT

            newArr.forEach(element => {
                address_id = element.id
                let debts = element.debts.accounts

                    for(let key in debts) {
                        let debtInfo = debts[key].service
                        objKey = key
                      
                        for(let key in debtInfo) {
                            feeArr.push(debtInfo[key].fee) 
                            fee += +debtInfo[key].fee
                        }
                    }
                })
                return fee
            }
           
        },

        methods: {
            classText(i)
            {
              if(i%2==0){
                return 'grey-back'
              }
              return ''
            },

            ...mapActions('allPay', ['clearDebts']),
            ...mapActions('address', ['getAccountAddresses']),
            ...mapMutations('easypay', ['setPayInfo']),
            // This function clears the array after closing the confirmation window
             clear() {
                 this.cardList();
                 
                //return this.clearDebts()
            },

            // Start timer on the pay button
            startTimer() {
                this.setPayInfo('')
                this.timer = setInterval(() => {
                    this.currentTime--
            }, 1000)},
            
            // Stop timer on the pay button, clear the array and close the dialog
            stopTimer() {
                clearTimeout(this.timer)
                this.currentTime = 60
                this.dialog = false
                this.clearDebts()
            },

            
            ...mapActions('easypay', ['checkCardList', 'goEasyPay', 'addNewCard']),
            ...mapMutations('easypay', ['setDataForPayment']),
            ...mapMutations('storage', ['setToken']),
            // Check if the user has a card added
            cardList() {
                return this.checkCardList();
            },
            
            // This function forms the data object required for payment and redirects it to add or select a credit-card
            getDataForPayment() {
                let obj = {}
                let amount = ''
                let debt = ''
                let service = ''
                let service_number = ''
                let objKey = ''
                let company = []
                let payment = []
                let address_id = ''
                let newArr = this.GET_DEBT

                newArr.forEach(element => {
                    address_id = element.id
                    let debts = element.debts.accounts

                        for(let key in debts) {
                            let debtInfo = debts[key].service
                            objKey = key
                         
                            let serviceArr = []
                            for(let key in debtInfo) {
                                amount = debtInfo[key].sum
                                debt = debtInfo[key].debt
                                service = debtInfo[key].name
                                service_number = debtInfo[key].service_number
                                if(amount > 0) {
                                    serviceArr.push({service, service_number, amount, debt,})
                                }
                                obj = [{[objKey]: serviceArr}] 
                            }
                    
                    company.push(obj)
                    let valueObj = Object.values(obj[0])
                    if(valueObj[0].length !== 0) {
                        payment.push({'address_id': address_id, 'company': obj})
                    }
                     // if(amount > 0) {
                        // payment.push({'address_id': address_id, 'company': obj})
                    // }
                    }
                    
                })
                this.dataForAddCard = {'sum': this.GET_SUM, 'payment': payment}
                if(this.CARD_STATUS.status) {
                    this.$router.push({path: `/card_selection/${this.getToken}`})
                } else  {
                    // for dev
                    // this.dataForAddCard.urlForPay = `http://localhost:8080/visual_pay/${this.getToken}`
                    // this.dataForAddCard.urlCancel = `http://localhost:8080/all_payment/${this.getToken}`
                    this.$router.push({route: 'frame', params: { props: this.dataForAddCard}})
                    this.dataForAddCard.urlForPay = `https://view-kr.smartregion.com.ua/visual_pay/${this.getToken}`
                    this.dataForAddCard.urlCancel = `https://view-kr.smartregion.com.ua/all_payment/${this.getToken}`
                    return this.addNewCard(this.dataForAddCard)
                }
                this.dialog = false
                this.setDataForPayment(this.dataForAddCard)
            },
            
            // This function calls a function in vuex that returns url to add card
            addCard() {
                return this.addNewCard(this.dataForPayment)
            },

            messageDev() {
                this.snackbarDev = true
                this.stopTimer()
            }

            

        },

        mounted() {
            if(this.$route.params.token) {
                this.token = this.$route.params.token
            }
            this.setToken(this.token)
            setTimeout(() => {
                    this.preloader = false
                }, 2000);
        },
            
        

    }

  
</script>

<style scoped>

    .fixed-bottom-container{
        position: fixed; 
        bottom: 40px; 
        background: #fff; 
        width: 100%; 
        padding-top: 10px; 
        padding-left: 14px; 
        padding-right: 14px; 
        padding-bottom: 9vh;
    } 
    .btn-text{
        white-space: normal;
    }
    .appBar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }

    .toolbar{
         position: -webkit-sticky;
        position: sticky;
        top: 56px;
        z-index: 1;
    }

    .active {
        color: white;
        background-color: #2e73b4;
    }

     .button {
        width: 100%;
        border: none;
        color: #eeeeee;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif; 
        font-size: 20px;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
      }
      @keyframes glowing {
      0% { background-color: #4caf50; box-shadow: 0 0 5px #4caf50; }
      50% { background-color: #1ed424; box-shadow: 0 0 15px #0de714; }
      100% { background-color: #4caf50; box-shadow: 0 0 5px #4caf50; }
      }
      .button {
      animation: glowing 3000ms infinite;
      }

    .basil {
        background-color: #FFFBE6 !important;
    }
    .basil--text {
        color: #356859 !important;
    }
    
</style>


