<template>
    <div style="margin-bottom: 20vh">
        <AppBar
            toPage="/main/return"
            :icon="'mdi-bell'"
            :header="'Оберiть карту'"
        />

        <v-container class="mt-3">
            <div v-for="(card, i) in CARD_STATUS.cards" :key="i">
                <v-row class="justify-center mb-7" >
                    <v-col cols="11">
                         <v-card 
                         @click="payment(card.card_token_id)" 
                         
                         :class="{
                             'background_for_card': i === 0,
                             'background_for_card2': i === 1,
                             'background_for_card3': i === 2,
                         }"  
                         class="pt-3" 
                         style=" border-radius: 10px; box-shadow: 7px 7px 9px 4px #636363;">
                            <v-row class="justify-end">
                                <v-col cols="6">
                                    <div class="text-right">
                                        <img v-if="card.pan.substr(0, 1) === '5'" width="110px" src="../../../assets/mastercard.png" alt="">
                                        <img v-else-if="card.pan.substr(0, 1) === '4'" width="100px" src="../../../assets/visa.png" alt="">
                                    </div> 
                                </v-col>
                            </v-row>
                            <v-row class="justify-center">
                                <v-col cols="10" style="color: #fff" class="pt-0">
                                        <div 
                                        class="text-center letterStyle" 
                                        style="font-size: 22px;"
                                        > 
                                        {{ card.pan }} 
                                        </div>
                                </v-col>
                            </v-row>

                            <v-row class="justify-space-around">
                                <v-col cols="3">
                                    <div class="text-center" style="color: #fff; font-style: italic; font-size: 12px">valid thru</div>
                                    <div class="text-center" style="color: #fff; font-style: italic; font-size: 18px"> {{ card.expire.replace(/(.{2})/g,"$1/").substring(0,5) }} </div>
                                </v-col>
                                <v-col cols="3">
                                    <div class="text-center" style="color: #fff; font-style: italic; font-size: 12px">CVV</div>
                                    <div class="text-center" style="color: #fff; font-style: italic; font-size: 22px; letter-spacing: 1px">***</div>
                                </v-col>
                            </v-row>
                        </v-card>
                    </v-col>
                </v-row>
            </div>
        </v-container>
        <div
        class="fixed-bottom-container"         
        >
            <v-divider></v-divider>
            <v-row 
            dense
            align="center"
            >
                <v-col  align="end" cols="12">
                    <v-btn 
                        color="#2e73b4"
                        style="margin-top: 20px; margin-bottom: 30px"

                        block
                        @click="addCard()"
                        large
                    >
                        <span class="btn-text white--text">
                            Додати картку
                        </span>
                    </v-btn>
                </v-col>
            </v-row>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from "vuex"
import AppBar from '../../../views/components/AppBar.vue'

export default {
   name: 'CardSelection',
   data: () => ({
       id: '',
       debt: '',
       info: '',
       dialog: '',
   }),

   components: {
        AppBar,
   },


   computed: {
        ...mapGetters('easypay', ['CARD_STATUS', 'PAY_STATUS', 'URL_ADD_CARD', 'DATA_FOR_PAY']),
        ...mapGetters('storage', ['getToken']),
    },

    methods: {
        ...mapActions('easypay', ['goPaymentEasyPay', 'addNewCard', 'checkStatusPay']),
        ...mapMutations('easypay', ['setDataForPayment']),
        ...mapMutations('allPay', ['setStatus']),
        payment(value) { 
            this.setStatus(false)
            this.DATA_FOR_PAY.card_token_id = value
            this.setDataForPayment(this.DATA_FOR_PAY)

            // console.log(this.DATA_FOR_PAY)
            this.$router.push({name: 'VisualPay', params: { token: this.getToken, infoForPay: this.DATA_FOR_PAY, status: false, loaderPay: true, value: 0,}})
            // return this.setDataForPayment(this.DATA_FOR_PAY) 
        },
        addCard() {
            this.setStatus(false)
            // for dev
                    // this.DATA_FOR_PAY.urlForPay = `http://localhost:8080/visual_pay/${this.getToken}`
                    // this.DATA_FOR_PAY.urlCancel = `http://localhost:8080/all_payment/${this.getToken}`

                    this.DATA_FOR_PAY.urlForPay = `https://view-kr.smartregion.com.ua/visual_pay/${this.getToken}`
                    this.DATA_FOR_PAY.urlCancel = `https://view-kr.smartregion.com.ua/all_payment/${this.getToken}`
            return this.addNewCard(this.DATA_FOR_PAY)
        },
    }

   
}
</script>

<style scoped>
.letterStyle {
    letter-spacing: 5px;
}
.cardTypeText {
    font-size: 18px;
    font-weight: 900;
}
.fixed-bottom-container{
    position: fixed; 
    bottom: 0px; 
    background: #fff; 
    width: 100%; 
    padding-top: 10px; 
    padding-left: 14px; 
    padding-right: 14px; 
    padding-bottom: 9vh;
} 
.background_for_card {
    background-image: url(../../../assets/background_card.jpeg);
    background-size: cover;
}
.background_for_card2 {
    background-image: url(../../../assets/background_card2.jpeg);
    background-size: cover;
}
.background_for_card3 {
    background-image: url(../../../assets/background_card3.jpeg);
    background-size: cover;
}

</style>