<template>
    <div>
        <AppBar
            class="app-bar"
            :header="'Оплата'"
            :icon="'mdi-credit-card'"/>
                <iframe width="100%" style="height:100vh" 
                src="https://www.youtube.com/embed/0MEpPU3rWCk" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                >
            </iframe>
        
    </div>
</template>

<script>
import AppBar from '../../components/AppBar.vue'
export default {
    name:'Frame',
    props:'',
    components:{ AppBar },
    data () {
      return {
        
        
      }
    },

}
</script>