// This component created a dropdown list

<template>
    <v-container>
        <div>
            
                <div
                @click="v0 = !v0"
                >
                    <v-row>
                        <v-col cols="2" align="center">
                            <v-icon 
                                size="40"
                                dense
                                color="indigo"
                            >
                                mdi-home
                            </v-icon>
                        </v-col>
                        <v-col cols="10" class="px-0">
                            <span style="font-weight: 600">{{ item.city }}</span>
                            <br>
                            <span style="font-weight: 600">{{item.street_name}} {{item.building}}{{item.corp1 ? '/'+item.corp1 : ''}}{{isNaN(item.corp) ? ' '+item.corp : ' к'+item.corp}}{{item.apartment ? ', кв '+item.apartment : ''}}</span>   
                        </v-col>
                    </v-row>
                </div>

                <MessageConfirmCompany 
                v-if="item.ls_add === 0" 
                :dataAddress="item" 
                />
                
                <div v-else>
                   
                    <v-row>
                        <v-col align="center" cols="12" class="pt-0">
                            <span
                            style="border-bottom: 1px solid black; border-bottom-style: dashed"
                            >До сплати: 
                            <span v-if="getArrSumm > 0" style="color: red; font-size: 16px; font-weight: 600" >{{ getArrSumm }} грн.</span>
                            <span v-else style="color: #4caf50; font-size: 16px; font-weight: 600" >{{ getArrSumm }} грн.</span>
                            </span>
                        </v-col>
                    </v-row>
                    <v-row class="text-center">
                        <v-col cols="12" class="px-0">
                            <v-banner
                            v-model="v0"
                            transition="slide-y-transition"
                            >      
                                <div v-for="item in debts" :key="item.index">
                                    <v-row class="text-center">
                                        <v-col cols="2" >
                                            <v-checkbox
                                                v-model="v1"
                                                :value="item.ls"
                                                class="ml-2"
                                                color="success"
                                            ></v-checkbox>
                                        </v-col>
                                        {{ getCompanyList }}
                                        {{ getFee }}
                                        <v-col cols="10"
                                        @click="checkdoxCompany(item.ls)"
                                        >
                                            <v-row class="mt-3 mb-3">
                                                <v-col cols="12" class="mt-n2">
                                                    <div
                                                    style="font-weight: 600"
                                                    >
                                                        {{ item.company_name }}
                                                        {{ getAllSumCompany }}
                                                    </div>
                                                </v-col>
                                                <v-col cols="12" class="mt-n4 pt-2">
                                                    <div>Особовий рахунок: №{{ item.ls }}</div>
                                                </v-col>
                                            </v-row>    
                                        </v-col>        
                                    </v-row>
                                    <v-col cols="12">
                                        <div class="pl-0">
                                            <v-banner
                                            v-if="v1.includes(item.ls)"
                                            transition="slide-y-transition"
                                            class="pr-0"
                                            >
                                                    <div v-for="debtInfo in item.service" :key="debtInfo.index">
                                                        <v-row>
                                                        <v-col cols="2" class="ml-0">
                                                                <v-btn
                                                                    v-if="debtInfo.status === true"
                                                                    icon
                                                                    @click="debtInfo.status = false, getFullSum()"
                                                                    style="background-color: rgba(0, 0, 0, 0.04)"
                                                                >
                                                                    <v-icon
                                                                        color="red"
                                                                        >
                                                                        mdi-minus
                                                                    </v-icon>
                                                                </v-btn>
                                                                <v-btn
                                                                    v-else
                                                                    icon
                                                                    @click="debtInfo.status = true"
                                                                    style="background-color: rgba(0, 0, 0, 0.04)"
                                                                >
                                                                <!-- () => {if(debtInfo.debt <= 0) {debtInfo.sum = 1} else {debtInfo.sum = debtInfo.debt}} -->
                                                                    <v-icon 
                                                                        color="#4caf50"
                                                                        >
                                                                        mdi-plus
                                                                    </v-icon>
                                                                </v-btn>
                                                        </v-col>  

                                                        <v-col cols="10" class="pl-0">
                                                            <div 
                                                            class="text-left pt-2 d-flex justify-space-between" 
                                                            :class="{not_active: debtInfo.status === false}"
                                                            >
                                                                <div>
                                                                    <v-icon 
                                                                    v-if="debtInfo.service_number == 0" 
                                                                    color="orange"
                                                                    class="mt-n2"
                                                                    >
                                                                        mdi-fire
                                                                    </v-icon>

                                                                    <v-icon 
                                                                    v-else-if="debtInfo.service_number == 4 || debtInfo.service_number == 8" 
                                                                    color="blue"
                                                                    class="mt-n2"
                                                                    >
                                                                        mdi-water
                                                                    </v-icon>

                                                                    <v-icon 
                                                                    v-else-if="debtInfo.service_number == 1" 
                                                                    color="#ffd500"
                                                                    class="mt-n2"
                                                                    >
                                                                        mdi-flash
                                                                    </v-icon>

                                                                    <span>{{ debtInfo.name}}:</span>
                                                                </div>
                                                                <div class="text-right">
                                                                    <div class="text-right">
                                                                        <span style="color: red" v-if="debtInfo.debt > 0">{{ Math.abs(debtInfo.debt) }} </span>
                                                                        <span style="color: #4caf50" v-else-if="debtInfo.debt <= 0">{{ Math.abs(debtInfo.debt) }} </span> грн.
                                                                    </div>
                                                                    <div>
                                                                        <div class="text-left mt-n2">
                                                                            <span v-if="debtInfo.debt <= 0" style="font-size: 15px; color: #4caf50;">переплата</span>
                                                                            <span v-else-if="debtInfo.debt > 0" style="font-size: 15px; color: red;">заборгованість</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        </v-col>
                                                    </v-row>
                                                    
                                                    <v-banner
                                                    v-if="debtInfo.status === true"
                                                    transition="slide-y-transition"
                                                    class="pr-0"
                                                    >
                                                        <div>
                                                            <v-text-field
                                                                v-model.number="debtInfo.sum"
                                                                :value="debtInfo.service_number"
                                                                :rules="[rules.required, rules.counter]"
                                                                @input="getFullSum"
                                                                type="number"
                                                                suffix="грн."
                                                                min="1"
                                                                color="green"
                                                                label="Введіть суму"
                                                            ></v-text-field>
                                                        </div>    
                                                    </v-banner>
                                                    
                                                </div>
                                            </v-banner>
                                        </div>
                                    </v-col>
                                <hr>
                            </div>
                            </v-banner>
                        </v-col>
                    </v-row>
                </div>
        </div>
    </v-container>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import axios from 'axios'
import MessageConfirmCompany from './MessageConfirmCompany.vue'
 
export default {
name: 'ListCompany',
props: ['addressID', 'item', 'statusDialog', 'name'],
data: () => ({
    isLoading: false,
    calculateSum: 0,  
    dialog: false,
    snackbar: false,
    checkbox: true,
    v0: true,
    v1: [],
    v2: [],
    agree: true,
    debts: '',
    responce: '',
    items: [],
    arrInp: [],
    summed: '',
    allSum: [],
    addres: '',
    newFormArr: [],
    sumForCompany: 0,
    rules: {
        required: value => !!value,
        counter: value => value >= 3  || 'Введена сума повинна бути не меньше ніж 3 гривні',
    },
   fullSum: 0,
   sum: 0,
   arraySum: [],
   status: true,
}),

components: {
    MessageConfirmCompany
},

watch: { 
    statusDialog: function(newVal, oldVal) {
        this.debt()
    }, 
    getArrSumm: function(newVal, oldVal) {
        this.getFullSum()
    },
    
 },


computed: {
    ...mapGetters('allPay', ['GET_DEBT']),
    ...mapGetters('storage', ['getToken']),

    // this function returns the sum of all numbers entered by the user for this address
    getArrSumm() {
        let debts = this.debts
        this.newFormArr.length = 0
        let companys = []
        let summed = []
        for (let key in debts) {
            companys = debts[key]
            let objDebt = companys.service
            for (let key in objDebt) {
                let obj = (objDebt[key]);
                if(obj.status === false) {
                   obj.sum = 0  
                } else {
                    if(obj.sum === 0) {
                        if(obj.debt < 0) {
                           obj.sum = 0 
                        } else {
                            obj.sum = obj.debt 
                        }
                    }
                }
                summed.push(obj.sum)
                let newObj = {}
                newObj[obj.name] = +obj.sum
                newObj.status = obj.status
                newObj.ls = companys.ls
                newObj.companyName = companys.company_name
                this.newFormArr.push(newObj)      
            }    
        }
        let valueObj = 0;
        let sum = 0
        for (let i = 0; i < this.newFormArr.length; i++) {
            valueObj = this.newFormArr[i]
            if (this.v1.includes(valueObj.ls)) {
               if (valueObj.status === true) {
                    let valueSum = Object.values( valueObj )[0]
                    sum += valueSum
                }
            }
        } 
        return sum.toFixed(2); 

    }, 
    // this computed full sum for this company
    getAllSumCompany() {
        let debts = this.debts
        let allSum = 0
        let allSumCompany = 0
        let summed = []
        
        let companys = []
        let company = []
        for (let key in debts) {
            allSum = 0
            companys = debts[key]
            company = debts[key].service
            company.forEach(element => {
                if(element.status === true)  {
                    if(element.sum !== "") {
                        allSum += element.sum 
                    }
                } 
            }) 
        allSumCompany += allSum
        this.sumForCompany = allSumCompany.toFixed(2)
        companys.allSum = allSum   
        } 
        this.responce.data.AllSum = allSumCompany    
    },
    getFee() {
        let debts = this.debts
        let obj = {} 
        for (let key in debts) {
            obj = debts[key]
            if(this.v1.includes(obj.ls)) {
                obj.service.forEach(element => {
                    if(obj.company == 1) {
                        element.fee = (element.sum/100*0.8).toFixed(2)
                    } else if(obj.company == 2) {
                        element.fee = (element.sum/100*0.3).toFixed(2)
                    } else if(obj.company == 3) {
                        element.fee = (element.sum/100*1.1).toFixed(2)
                    } else if(obj.company == 5) {
                        element.fee = (element.sum/100*1.3).toFixed(2)
                    }
                })
            } 
        }    
    },

    getCompanyList() {
        let debts = this.debts
        let obj = {} 
        for (let key in debts) {
            obj = debts[key]
            if(this.v1.includes(obj.ls)) {
                obj.service.forEach(element => {
                    element.status = true
                })
            } else {
                obj.service.forEach(element => {
                    element.status = false
                }) 
            }
        }    
    }
},

methods: { 
    classText(i)
    {
        if(i%2==0){
        return 'grey-back'
        }
        return ''
    },

    checkdoxCompany(value) {
        let index = this.v1.indexOf(value);
        if (index > -1) {
        this.v1.splice(index, 1);
        } else {
            this.v1.push(value)
        }
        
    },
        checkboxSum(value) {
            return  0
        },


    getDebt() {
        axios({
            url:'https://kr.smartregion.com.ua/api/region/v1/accounts/debt',
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + this.getToken
            },
            data: {
                address_id: this.addressID,
            }
        })
        .then((response) => {

            this.responce = response

            let success = response.data.success
            
            let debts = response.data.accounts
            this.debts = debts

            if(success === true) {
                this.getFullSum()
            }

            let companys = []
            let arrLs = []
            let arrSum = []
            
            for (let key in debts) {
                companys = debts[key]
                arrLs.push(companys.ls)
                let objDebt = companys.service
                
                for (let key in objDebt) {
                    let obj = (objDebt[key]);
                    if (obj.sum > 0) {
                        arrSum.push(obj.sum) 
                    }
                } 
            }
            this.v1 = arrLs
            this.v2 = arrSum
            
        })
        .catch((error) => {
            console.log(error)
        })
    },

    ...mapActions('allPay', ['getOllSum', 'getDebts', 'getAddress']),
    getFullSum() {
        let data = {
            id: this.addressID,
            enteredSum: this.getArrSumm,
        }
            return this.getOllSum(data)
    },

    debt() {
        let data = {
            id: this.addressID,
            addres: [this.item],
            debts: this.responce.data,
        }
        return this.getDebts(data)
    },

    minusSum(sum) {
        sum = 0
        return sum
    },

    cheked() {
        this.arraySum 
    },

    //  getObj(arg1, arg2) {
    //     let obj = {}
    //     obj[arg1] = arg2 
    //     return this.newFormObj = obj
    // },
},

mounted() {
    this.getDebt()
    this.getFullSum()
}
    
}
</script>

<style scoped>
    .fixed-bottom-container{
        position: fixed; 
        bottom: 0px; 
        background: #fff; 
        width: 100%; 
        padding-top: 10px; 
        padding-left: 16px; 
        padding-right: 16px; 
        padding-bottom: 9vh;
    } 
    .btn-text{
        white-space: normal;
    }
    .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    .not_active {
        /* color: rgba(0, 0, 0, 0.3); */
        opacity: 0.33;
    }
</style>