<template>
    <div class="message_confirm_company text-center mt-2">
        <v-card>
            <v-row>
                <v-col @click="confirmCompany">
                    <h4 style="color: red">Увага! За цією адресою немає жодного підтвердженного особового рахунку.</h4>
                    <span>Щоб підтвердити - натисніть сюди!</span> 
                </v-col>
            </v-row>
        </v-card>
    </div>
</template>

<script>
export default {
    name: 'MessageConfirmCompany',
    props: ['dataAddress'],
    data:() => ({

    }),
    methods: {
        confirmCompany() {
            console.log(this.address)
            this.$router.push({name: 'CommunalListPage', params: {address: this.dataAddress}})
        }
    },
    
}
</script>

<style scoped>
    
</style>