<template>
    <div class="receipt mb-16 ">
        <AppBar
            class="app-bar"
            :header="'Квитанцiя'"
            :icon="'mdi-credit-card'"
        >
        </AppBar>

        <v-container align="center" class="mt-5">
            <div v-for="company in PAY_STATUS" :key="company.index">
                <v-row class="mx-auto" style="width: 100%; border: 1px solid #000">
                <v-col>
                    <v-row>
                        <v-col align="center" style="width: 100%; border: 1px solid #000; font-weight: 700">
                            {{ company.address }}
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col align="center" style="width: 100%; border: 1px solid #000">
                            {{ company.company_name }} 
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="6" style="width: 100%; border: 1px solid #000">
                            Особовий рахунок:
                        </v-col>
                        <v-col style="width: 100%; border: 1px solid #000">
                            № {{ company.ls }}
                        </v-col>
                    </v-row>

                   

                    <v-row v-for="service in company.company" :key="service.index">
                        <v-col>
                            <v-row>
                                <v-col style="width: 100%; border: 1px solid #000; background: #00000040">
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="6" style="width: 100%; border: 1px solid #000">
                                    Послуга:
                                </v-col>
                                <v-col cols="6" style="width: 100%; border: 1px solid #000">
                                    {{ service.service }}
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="6" style="width: 100%; border: 1px solid #000">
                                    Сума:
                                </v-col>
                                <v-col cols="6" style="width: 100%; border: 1px solid #000">
                                    {{ service.amount }} грн.
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="6" style="width: 100%; border: 1px solid #000">
                                    Статус:
                                </v-col>
                                <v-col cols="6" style="width: 100%; border: 1px solid #000">
                                    {{ service.message }}
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col cols="6" style="width: 100%; border: 1px solid #000">
                                    Дата:
                                </v-col>
                                <v-col cols="6" style="width: 100%; border: 1px solid #000">
                                    {{ new Date(company.date) | formatDate }}
                                </v-col>
                            </v-row>
                        </v-col>
                        

                    </v-row>
                    
                </v-col>
            </v-row>
            </div>
            
        </v-container>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import AppBar from '../../components/AppBar'
import moment from 'moment'

export default {
    name: 'Receipt',
    components: {
        AppBar
    },
    data:() => ({

    }),

    filters: {
        formatDate(value) {
            if (value) {
                return moment(String(value)).format('YYYY-MM-DD HH:MM')
            }
        },
    },

    computed: {
        ...mapGetters('easypay', ['PAY_INFO', 'PAY_STATUS']),
    },

    watch: {
        PAY_INFO() {
            if(this.PAY_INFO.identificator !== '') {
               this.checkStatusPay(this.PAY_INFO.identificator) 
            }
        }
    },

    methods: {
        ...mapActions('easypay', ['checkStatusPay']),
    },

    mounted() {
        this.checkStatusPay(this.PAY_INFO.identificator)
    }
    
}
</script>

<style scoped>





</style>