<template>
    <div> 
        <AppBar
            class="app-bar"
            :header="'Процес оплати'"
            :icon="'mdi-credit-card'"
        >
        </AppBar>
        <v-container >
            <div style="height: 85vh" class="d-flex justify-center align-center"
            v-if="loaderPay === true "
            >
                <v-progress-circular
                :size="200"
                :width="10"
                color="#34a853"
                indeterminate
                style="font-size: 20px"
                >
                    Зачекайте...
                </v-progress-circular>
            </div>
            
            <div style="height: 85vh" class="d-flex justify-center align-center"
            v-if="loaderPayProcent === true"
            >
                <v-progress-circular
                :rotate="90"
                :size="200"
                :width="10"
                :value="value"
                color="blue"
                style="font-size: 40px"
                >
                    {{ value }}%
                </v-progress-circular>
            </div>
        </v-container>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import AppBar from '../../components/AppBar'

export default {
name: 'VisualPay',
components: {
    AppBar
},
props: ['infoForPay', 'status'],
data:() => ({
    token: '',
    identificator: '',
    interval: {},
    value: 0,
    dots: '',
    dialog: false,
    url: '',
    forma: '',
    loaderPay: true,
    loaderPayProcent: false,
    success: false,
}),

watch: {
    // for payment with 3Ds verification
    // PAY_INFO() {
    //     console.log(this.PAY_INFO.identificator) 
    //     if ( this.PAY_INFO.hasOwnProperty('redirect_url') ) {
    //         this.dialog = true
    //         this.url = this.PAY_INFO.redirect_url
    //     } else if (this.PAY_INFO.hasOwnProperty('forma')) {
    //         this.dialog = true
    //         this.forma = this.PAY_INFO.forma
    //     }
    //     this.loaderPay = false
    // },

    '$route.name': function() { 
        if(this.$route.name === 'VisualPay') {
            this.payment(this.DATA_FOR_PAY)
        }
    },


    PAY_INFO() {
        // if(this.PAY_INFO.status === false) {
        //     setTimeout(() => {
        //         this.$router.replace({ 
        //         name: 'AddedAddress', 
        //         params: {
        //             textButton: 'Спробувати знов', 
        //             message: this.PAY_INFO.message, 
        //             info: 'Приносимо своЇ вибачення, але щось пішло не так! Повторіть спробу трохи пізніше.', 
        //             route: 'AllPayment',
        //             icon: 'mdi-close',
        //             color: 'red',
        //         }
        //     })
        //     }, 2000);
         if(this.PAY_INFO.status === false){
             setTimeout(() => {
                 this.$router.replace({
                     name: 'Frame'
                 })
             }, 2000);
        } 
        else if(this.PAY_INFO.status === true) {
            setTimeout(() => {
              this.confirm()  
            }, 2500);
        } 
    },
    
    // loaderPayProcent() {
    //     this.value = 0
    //     if(this.$route.name === 'VisualPay') {
    //         if(this.loaderPayProcent === true) {
    //             this.interval = setInterval(() => {
    //                 if (this.value == 100) {
    //                     this.confirm()
    //                     return (this.value = 100)
    //                     }
    //                     this.value += 10
    //                 }, 500)
    //             }
    //     }
        
        
    // },
},

computed: {
    ...mapGetters('easypay', ['DATA_FOR_PAY', 'REDIRECT_URL', 'PAY_STATUS', 'PAY_INFO']),
    ...mapGetters('allPay', ['STATUS']),
    
 
},

methods: {
    ...mapActions('easypay', ['goPaymentEasyPay', 'checkStatusPay']),
    ...mapMutations('storage', ['setToken']),
    ...mapMutations('easypay', ['setRedirectUrl', 'setStatus']),
    ...mapActions('allPay', ['clearDebts']),

    payment(data) {
        this.goPaymentEasyPay(data) 
    },

    close() {
        this.setRedirectUrl('')
        this.setStatus('')
    },

   confirm() {
       if(this.$route.name === 'VisualPay') {
            this.$router.replace({ 
                name: 'AddedAddress', 
                params: {
                    textButton: 'Отримати квитанцiю', 
                    message: this.PAY_INFO.message, 
                    info: 'Дякуємо, Вашу оплату успiшно прийнято!', 
                    route: 'Receipt',
                    icon: 'mdi-check',
                    color: 'green',
                }
            }) 
            }
   }
},

mounted() {
    this.identificator = this.$route.query.identificator
    this.token = this.$route.params.token
    this.success = this.$route.params.success
    this.setToken(this.token)
    if(this.DATA_FOR_PAY === '') {
        let data = {
            identificator: this.identificator
        }
        console.log(data)
        this.payment(data) 
    } else {
        this.payment(this.DATA_FOR_PAY)
    }
    

},

// beforeDestroy () {
//     clearInterval(this.interval)
// },
}

</script>

<style scoped>

.fixed-bottom-container{
    position: fixed; 
    bottom: 0px; 
    background: #fff; 
    width: 100%; 
    padding-top: 10px; 
    padding-left: 14px; 
    padding-right: 14px; 
    padding-bottom: 9vh;
} 

.appBar{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}
</style>