<template>  
    <div>
        <AppBar
            toPage="/main/return"
        />

      
        <PageTitle
            icon="mdi-gift"
            color="purple darken-2"
            title="Подарунки"
        >
        </PageTitle>
        <v-container>
        
            <v-row 
                align="start"
                no-gutters
               
            >

                <v-col 
                    align="center"
                    cols="12"
                >
                    <v-list dense>
                      
                        <v-list-item-group
                            color="primary"
                        >
                            <v-list-item
                                v-for="(item, i) in items"
                                :key="i"
                                :class="classText(i)"
                            >
                              
                                <v-list-item-content>
                                    <v-list-item-title>{{item.text}}</v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-col>
                
                <v-row 
                    align="end"
                    no-gutters
                    
                >

                    <v-col 
                        align="center"
                        cols="12"
                    >
                   
                    </v-col>
                </v-row>
              
            </v-row>  
        </v-container>  
    </div>
</template>

<script>
    import PageTitle from '.././components/PageTitle'
    import AppBar from '.././components/AppBar'
    export default {
        name: 'Categories',
        data() {
            return {
                dialog: false,
                address: {},
                items: [
                  { text: 'Перша оплата без комісії' },
                  
                ],
            }
        },
        components: {
            AppBar,
            PageTitle
        },
        methods: {
            classText(i)
            {
                if(i%2==0){
                    return 'grey-back'
                }
                return ''
            }
        },
    }

  
</script>
<style>
  .grey-back{
    background: rgb(216,216,216);
  }  
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  
</style>


