<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step
        :complete="e1 > 1"
        step="1"
      >
        Крок 1
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step
        :complete="e1 > 2"
        step="2"
      >
        Крок 2
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step 
      :complete="e1 > 3"
      step="3"
      >
        Крок 3
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="4">
        Крок 4
      </v-stepper-step>
    </v-stepper-header>


    <v-stepper-items>
      <v-stepper-content step="1" class="text-center">
        <div
          class="mb-10 mt-10"
          color="#fff"
          height="50vh"
        >
        <h3 class="mb-5">{{ lockalizationLang.blokc_1.tile }}</h3>

        <span>
            {{ lockalizationLang.blokc_1.text }}
        </span>
        </div>

        <v-btn
          color="primary"
          @click="e1 = 2"
        >
          Далі
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="2" class="text-center">
        <div
          class="mb-10 mt-10"
          color="#fff"
          height="50vh"
        >
        <h3 class="mb-5">{{ lockalizationLang.blokc_2.title }}</h3>
          <ul class="text-left" v-for="(li, index) in lockalizationLang.blokc_2.text" :key="index">
              <li> {{ li }} </li>
          </ul>
        </div>

        <v-btn
          color="primary"
          @click="e1 = 3"
          class="ma-auto"
        >
          Далі
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="3" class="text-center">
        <div
          class="mb-10 mt-10"
          color="#fff"
          height="50vh"
        >
        <span>
           {{ lockalizationLang.blokc_3.text }}
        </span>
        </div>

        <v-btn
          color="primary"
          @click="e1 = 4"
        >
          Далі
        </v-btn>
      </v-stepper-content>

       <v-stepper-content step="4" class="text-center">
        <div
          class="mb-10 mt-10"
          color="#fff"
          height="50vh"
        >
      

        <span>
            {{ lockalizationLang.blokc_4.text }}
        </span>
        </div>

        <v-btn
          color="primary"
          @click="firstStep"
        >
          Додати адресу
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
    name: 'Intro',
    data:() => ({
         e1: 1,
         ua_text: {
           blokc_1: {
             title: "Вітаємо в «Смарт регіоні»!",
             text: "Ми надзвичайно раді новому користувачу унікальної системи, аналогів якої ще не було не тільки в Україні, а і в світі! Ми об'єднали доступ до комунікації та взаємодії людей з органами місцевої влади та підприємствами комунального сектору."
           },

           blokc_2: {
             title: 'В мобільному додатку ви можете:',
             text: [
               "звернутися до голови Кіровоградської обласної державної адміністрації та міського голови міста Кропивницького через «гарячі лінії» із можливістю зворотного зв'язку прямо в додаток;",
               "вносити показники лічильників та керувати особовими рахунками усіх основних комунальних підприємств;",
               "оплачувати комунальні послуги в один клік;",
               "звертатися до фахівців підприємств та отримувати відповідь."
             ]
           },

           blokc_3: {
             text: "Спочатку потрібно додати вашу адресу, підтвердити особові рахунки, запропоновані штучним інтелектом, за необхідності вказати унікальний номер лічильника і після цього у вас з'явиться можливість вносити показники та сплачувати за комунальні послуги."
           },

           blokc_4: {
             text: "На вкладці «Оплата» ви побачите актуальний стан рахунку, отриманий напряму з баз даних підприємств. І навпаки – при оплаті через додаток ваша проплата безпосередньо відображатиметься в базах даних комунальних підприємств, що дасть максимально швидке оновлення інформації при погашенні заборгованості."
           }
         },

         ru_text: {
           blokc_1: {
             title: "Добро пожаловать в «Смарт Регион»!",
             text: "Мы очень рады новому пользователю уникальной системы, аналогов которой еще не было не только в Украине, но и в мире! Мы объединили доступ к коммуникации и взаимодействие людей с органами местной власти и предприятиями коммунального сектора."
           },

           blokc_2: {
             title: 'В мобильном приложении вы можете:',
             text: [
               "обратиться к главе Кировоградской областной государственной администрации и городскому главе Кропивницкого через «горячие линии» с возможностью обратной связи прямо в приложение;",
               "вносить показания счетчиков и управлять личными счетами всех основных коммунальных предприятий;",
               "оплачивать коммунальные услуги в один клик;",
               "обращаться к специалистам предприятий и получать ответ."
             ]
           },

           blokc_3: {
             text: "Сначала нужно добавить ваш адрес, подтвердить правильность личных счетов, предложенных искусственным интеллектом, при необходимости указать уникальный номер счетчика и после этого у вас появится возможность вносить показатели и платить за коммунальные услуги."
           },

           blokc_4: {
             text: "На вкладке «Оплата» вы увидите актуальное состояние счета, полученное напрямую из баз данных компаний. И наоборот – при оплате через приложение ваша оплата непосредственно отражается в базах данных коммунальных предприятий, что позволит максимально быстро обновить информацию при погашении задолженности."
           }
         }
    }),

    computed: {
        ...mapGetters('storage', ['getToken', 'KEY_VALUE', 'LANG']),
        lockalizationLang() {
          if(this.LANG === 'ua' || this.LANG === 'uk') {
            return this.ua_text
          } else if(this.LANG === 'ru') {
            return this.ru_text
          }
        }
    },

    methods: {
      ...mapMutations('seting', ['setAttendUser']),

      firstStep() {
          this.e1 = 1
          this.setAttendUser(false)
          this.$router.replace({name: 'AddressMap'})
          // this.$router.replace({name: 'Addretsses', params: {token: this.getToken}})
          
      }
    }
}
</script>

<style scoped>

</style>