<template>  
    <div class="mb-16">
        <AppBar
            toPage="/main/return"
            :icon="'mdi-bell'"
            :header="'Вашi сповiщення'"
        />

        <Preloader v-if="preloader === true" :color="'#2e73b4'"/>
        <v-container v-else>
        
        <v-row 
            align="start"
            no-gutters
           
        >

            <v-col 
            cols="12"
            class="d-flex align-center justify-center" 
            style="height: 78vh"
            v-if="LIST_NOTIFICATIONS.notifications.length == 0"
            >
              <span style="color: #0000008c; font-size: 20px">
                Наразі у Вас немає повідомлень
              </span>
            </v-col>

            <v-col 
                align="center"
                cols="12"
                v-if="LIST_NOTIFICATIONS.notifications.length > 0"
            >
                <v-list dense>
                  
                  <v-list-item-group
                    color="primary"
                  >
                    
                    <v-card v-for="(item, i) in LIST_NOTIFICATIONS.notifications"
                      :key="i"
                      class="mt-4 "
                      :class="{read: item.read_status===1, not_read: item.read_status===0}"
                    >
                      <v-list-item class="px-2" @click="goToThisNotification(item.id)"> 
                      <v-list-item-content class="py-4">
                        <div style="height: 5px" class="d-flex justify-end">
                          <div
                          v-if="item.read_status===0"
                          class="mr-1"
                          :class="{status_not_read: item.read_status===0}"
                          ></div>
                          <div
                          v-else
                          >
                            <v-btn icon @click.stop="del(item)" class="mt-n5 mr-n1">
                              <v-icon>
                                mdi-close
                              </v-icon>
                            </v-btn>
                          </div>
                        </div>
                        <v-list-item-title class="py-2" style="font-size: 18px">{{item.title}}</v-list-item-title>
                        <span class="mt-2 text-center" style="font-size: 16px; font-weight: 400; color: #0000008c;">{{item.text}}</span>
                      </v-list-item-content>
                    </v-list-item>
                    </v-card>
                  </v-list-item-group>
                </v-list>
            </v-col>
            
          <v-row 
            align="end"
            no-gutters
            
          >

              <v-col 
                  align="center"
                  cols="12"
              >
            </v-col>
        </v-row>
          
        </v-row>  



        <v-snackbar
                v-model="snackbarDel"
                centered
                color="#fff"
                class="text-center"
                :timeout="-1"
            >
                <v-row>
                    <v-col cols="12" class="text-center pb-0">
                        <span style="font-size: 16px; color: #0000008c">
                            Ви дійсно хочете видалити це повідомлення від {{ item.title }}?
                        </span>
                    </v-col>

                    <v-col cols="12" class="text-center d-flex  pt-0" style="z-index: 100">
                         <v-btn
                        class="ma-auto"
                        text
                        @click="delNotification(item.user_id, item.id), snackbarDel = false"
                        color="#4385f4"
                        >
                         ТАК
                        </v-btn>

                        <v-btn
                        class="ma-auto"
                        text
                        @click="snackbarDel = false"
                        color="#4385f4"
                        >
                        НІ
                        </v-btn>
                    </v-col>
                </v-row>
            </v-snackbar> 
  </v-container>  
</div>
</template>

<script>
    import AppBar from '.././components/AppBar'
    import { mapGetters, mapActions, mapMutations } from 'vuex'
    import Preloader from '../components/Preloader'
    export default {
        name: 'NotificationsPage',
        data() {
            return {
                snackbarDel: false,
                notification_id: 0,
                dialog: false,
                address: {},
                preloader: true,
                item: [],
            }
        },
        components: {
            AppBar,
            Preloader
        },

        computed: {
          ...mapGetters('storage', ['getToken']),
          ...mapGetters('notification', ['LIST_NOTIFICATIONS', 'ONE_NOTIFICATION'])
        },

        watch: {
          ONE_NOTIFICATION() {
             this.$router.push({name: 'OneNotification', params: {notification_id: this.notification_id}})
          },
          
          '$route.name': function() { 
            if(this.$route.name === 'NotificationsPage') {
                this.getListNotifications()
                setTimeout(() => {
                    this.preloader = false
                }, 2000);
            } else {
                this.preloader = true
            }
          }
        },

        methods: {
            ...mapActions('notification', ['getListNotifications', 'getOneNotification', 'deleteNotification']),
            classText(i)
            {
              if(i%2==0){
                return 'grey-back'
              }
              return ''
            },

            goToThisNotification(id) {
              this.notification_id = id
              this.getOneNotification(id)
            },

            del(item) {
              this.item = item
              this.snackbarDel = true
            },

            delNotification(user_id, id) {
              let data = {
                user_id: user_id,
                id: id
              }
              this.deleteNotification(data)
              .then((resp) => {
                  this.getListNotifications()
              })
            }
            
        },
        mounted() {
          this.getListNotifications()
          setTimeout(() => {
              this.preloader = false
          }, 2000);
        }
    }

  
</script>
<style>
  .grey-back{
    background: rgb(216,216,216);
  }  
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  

  .read {
    background-color: #fff !important;
  }

  .not_read {
    background-color: #dcdbdb !important; 
  } 

  .status_not_read {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    
  }
  @keyframes glowing {
      0% { background-color: #e8b600; box-shadow: 0 0 5px #e8b600; }
      50% { background-color: transparent; box-shadow: 0 0 15px transparent; }
      100% { background-color: #e8b600; box-shadow: 0 0 5px #e8b600; }
  }
  .status_not_read {
    animation: glowing 3000ms infinite;
  }
</style>


