<template>  
    <div class="mb-16">
        <AppBar
            toPage="/main/return"
            :name_icon="'mdi-bell'"
            :header="'Деталі'"
        />

      
        <v-container class="mt-5">
            <v-card v-for="(item, i) in ONE_NOTIFICATION.notification" :key="i" class="pa-3">
                <v-row>
                    <v-col class="text-center"
                    style="font-size: 22px; font-weight: 600"
                    >
                        {{ item.title }}
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        {{ item.text }}
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="text-right">
                         {{ new Date(item.updated_at) | formatDate }}
                    </v-col>
                </v-row>
            </v-card>
        </v-container>  
</div>
</template>

<script>
    import AppBar from '.././components/AppBar'
    import { mapGetters, mapActions, mapMutations } from 'vuex'
    import moment from 'moment'
    export default {
        name: 'OneNotification',
        data() {
            return {
                
            }
        },

        filters: {
            formatDate(value) {
                if (value) {
                    return moment(String(value)).format('YYYY-MM-DD HH:MM')
                }
            },
        },
        components: {
            AppBar,
        },

        computed: {
          ...mapGetters('storage', ['getToken']),
          ...mapGetters('notification', ['LIST_NOTIFICATIONS', 'ONE_NOTIFICATION'])
        },

        methods: {
            
        },
        mounted() {
          
        }
    }

  
</script>
<style>
  .grey-back{
    background: rgb(216,216,216);
  }  
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  
</style>

 