<template>
    <div class="fine">
        <AppBar
            class="app-bar"
            :header="'Штрафи МРЕВ'"
        >
        </AppBar>
         <v-container>
        <h3 class="d-flex justify-center">В Розробці</h3>
        <ButtonCategories
            v-for="item in fines"
            :key="item.id"
            :icon="item.icon"
            :text="item.title"
            :icon_color="item.color_icon"
            snackbar_color="red"
            text_color="black"
        />
      </v-container>
    </div>
</template>

<script>
import AppBar from '../../components/AppBar.vue'
import ButtonCategories from "../../components/ButtonsCategories/ButtonCategories";

export default {
    name: 'Fine',
    components: {
        AppBar,
      ButtonCategories,
    },
  data() {
    return {
      fines: [{
        id:1,
        title: "Сплата Штрафів",
        icon: "mdi-police-badge-outline",
        color_icon: "#210bef",
      }],
    }
  }
}
</script>

<style scoped>

</style>