<template>
    <div style="width: 100%">
        <v-skeleton-loader
            
            width="100%" 
            v-show="loader"
            type="image"

            
        >
        </v-skeleton-loader>
        <v-carousel
            v-model="page"
            v-show="!loader"
            :show-arrows="false"
            style="height: 45vh"
            touch
            hide-delimiter-background 
            
        >
            <v-carousel-item
               
                v-for="(city, i) in cities"
                :key="i"
                
            >
                <v-sheet
                  :color="colorsnotify[i]" 
                  height="100%"
                >
                <!-- <v-row >         
                  <v-col cols="5" class="pa-6">
                    
                  </v-col>
                  <v-col cols="2" class="pt-16" :style="marginC">
                    <v-avatar color="deep-purple darken-4">
                      <v-icon dark 
                            x-large>
                                mdi-terraform
                              </v-icon>
                    </v-avatar>
                  </v-col>
                  <v-col cols="5" class="pa-6">           
                  </v-col>
                </v-row > -->

                 <v-row  class="carousel">
                    <v-col cols="5" >
                    
                  </v-col>
                  <v-col cols="2"  class="pt-16 carousel" :style="marginC">
                    <v-avatar color="deep-purple darken-4" class="carousel" :style="opasityStyle">
                        <v-icon 
                            dark 
                            x-large
                        >
                            mdi-terraform
                        </v-icon>
                              
                    </v-avatar>

                  </v-col>
                  <v-col cols="5" class="">           
                  </v-col>
                
                  <v-col cols="1" class="pt-0 mt-0">
                  </v-col>
                  <v-col  cols="10" class="pt-0 mt-0 carousel" align="center" :style="marginC">
                    <span :style="textSize.title" class="white--text carousel">{{cities[i]['c']}}, </span><br>
                    <span :style="textSize.text" class="white--text carousel">проспект Яворницкого 74 кв. 2</span>
                  </v-col>
                  <v-col cols="1" class="pt-0 mt-0">
                  </v-col>
                </v-row>

                </v-sheet>

              </v-carousel-item>

        </v-carousel>
        <!-- <div :class="[colorsnotify[page], 'colorDiv']"></div> -->
    </div>

</template>
<script>
	export default {
		name: 'CardCarousel',
		props: ['data', 'loader', 'styleText'],
        data() {
            return {
                page: 0,
                colorsnotify: [
                    'gradient0',
                    'gradient1',
                    'gradient2',
                ],
                cities: [
                    {
                        "c": 'м. Дніпро',
                        "a": 'проспект Яворницкого 71 кв. 2',
                    },
                    {
                        "c": 'м. Дніпро',
                        "a": 'проспект Яворницкого 72 кв. 3',
                    },
                    {
                        "c": 'м. Дніпро',
                        "a": 'проспект Яворницкого 73 кв. 4',
                    },
                ],              
            }
        },
        computed: {
        	title(){
        		return this.data.title.split(' ');
        	},
            marginC(){
                // console.log(this.styleText)
                // console.log('margin-top:'+ (40 - (100 - this.styleText)/6)+'%')
                return 'margin-top:'+ (0 - (100 - this.styleText)/4)+'%'
            },
            textSize(){
                // console.log('margin-top:'+ (40 - (100 - this.styleText)/3)+'%')
                return {
                    title: 'font-size:'+ (200 - (100 - this.styleText)/2)+'%',
                    text: 'font-size:'+ (130 - (100 - this.styleText)/2)+'%',
                }
            },
            opasityStyle(){
                return 'opacity:' + this.styleText/100 + ';'
            }
        },
        watch: {
          
        },
        methods: {
            classText(i)
            {
              if(i%2==0){
                return 'grey-back'
              }
              return ''
            }
        },
	};
</script>
<style>
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  

  .gradient1{ 
    background: #c79081;
    background: -webkit-linear-gradient(to right, #c79081 , #dfa579);
    background: linear-gradient(to right,  #c79081 , #dfa579);
  }        

  .gradient2{ 
    background: #a3bded;
    background: -webkit-linear-gradient(to right, #a3bded , #6991c7);
    background: linear-gradient(to right,  #a3bded , #6991c7);
  }
  .colorDiv{
    
    height: 50px;
    width: 100%,
  }   
  .carousel{
    will-change: font-size;  }
</style>