<template>  
    <div>
       
          <v-card
              class="mx-auto rounded-xl"
              
              width="100%"
          >
            <v-card-subtitle align="center">
                Дані з id.gov.ua
            </v-card-subtitle>   
              <v-card-text>
                  <v-row dense align="center">
                      <v-col
                       cols="4"
                       align="center">
                        <span style="color: black; font-weight: bold">Відправник</span>
                          <v-icon 
                            size="64"
                            dense
                          >
                            mdi-account
                          </v-icon>
                      </v-col>
                      <v-col cols="8">
                          <span style="color: black; display: block;">Іванов</span>
                          <span style="color: black; display: block;">Іван</span>
                          <span style="color: black; display: block;">Іванович</span>
                          <span style="color: black; display: block;">5743456787</span>
                      </v-col>
                      
                  </v-row>
              </v-card-text>
          </v-card>
       
</div>
</template>

<script>
    export default {
        name: 'HumanInformation',
        data() {
            return {
                dialog: false,
                address: {},
                items: [
                 
                ],
            }
        },
        components: {
            
        },
        computed: {
            
        },
        methods: {
            
        },
    }

  
</script>
<style>
 
</style>


