<template>
    <v-row justify="center">
        <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
        >
          
           <v-card>
                 <v-toolbar
                    dark
                    color="#4385f4"
                >
                    <v-btn
                        icon
                        dark
                        @click="dialog = false"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title class="text-center">
                        <div>
                            Деталі звернення
                        </div>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                
                </v-toolbar>
                <v-container style="padding-top: 1vh">
                 <v-row dense align="center">
                    <v-col>

                        <div class="text-left" style="color: #00000080">
                                <p>Тема звернення:</p>
                        </div>
                        
                        <div class="px-3">
                                                   
                            <div class="d-flex mt-4">
                                <v-row>
                                    <v-col cols="12">
                                        <p>{{ data.card.appeal }}</p>
                                    </v-col>
                                </v-row>
                            </div>

                            <div class="d-flex mt-4">
                                <v-row>
                                    <v-col class="text-right">
                                        <p>{{ new Date(data.card.created_at) | formatDate }}</p>
                                    </v-col>
                                </v-row>
                            </div>

                        </div>

                        <hr v-if="data.card.status === 1" color="#4485f4">
                        <hr v-if="data.card.status === 2" color="green">  

                        <div class="text-left" style="color: #00000080">
                            <p>Відповідь адміністрації:</p>
                        </div>

                        <div class="px-3">
                            <div class="d-flex mt-3 mb-4">
                                <p>{{ data.card.appeal_answer }}</p>
                            </div>
                        </div>
                    </v-col>
                </v-row> 
                </v-container>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    import {mapGetters, mapActions} from 'vuex'
    import moment from 'moment'
    import AppBar from '../AppBar.vue'
    export default {
        components: {
            AppBar
        },
        props: ["status"],
        data () {
            return {
                dialog: false,
                requestNumber: '',
                loader: true,
                phone: '0682178889',
                data: {
                    "card": {
                        "created_at": "0000-00-00",
                        "registration_number": "000000000",
                        "appeal": "Тема",
                        "appeal_answer": "Відповідь",
                        "status": 1,
                        "files": []
                    }
                }
            }
        },

        filters: {
            formatDate(value) {
                if (value) {
                    return moment(String(value)).format('YYYY-MM-DD HH:MM')
                }
            },
        },

        methods: {
            ...mapActions('hotline', ['getCardDetails', 'getCardDownload']),
            getRequestData(id) {
                let data = {
                    id_appeal: id
                }
                this.getCardDetails(data)
                .then((resp) => {
                    this.data = resp.data
                    this.loader = false
                })
            },
            downloadFile(name){
                this.getCardDownload({
                    registration_number: data.registration_number,
                    phone: this.phone,
                    file_name: name
                })
                .then((resp) => {

                })
            },
            show(id){
                this.dialog = true;
                this.getRequestData(id);
            }
        }
    }
</script>
<style>
  .grey-back{
    background: rgb(216,216,216);
  }  

</style>