<template>  
    <div 
        style="background-image: url('https://cdn.vuetifyjs.com/images/parallax/material.jpg'); height: 100%"
    >

    <v-snackbar
        :timeout="-1"
        :value="true"
        absolute
        centered
        :multi-line="true"
        shaped
        color="orange darken-4"  
    >
        <span style="font-size: 30px;">Додаток ще у розробці</span>
    </v-snackbar>

    
    </div>
</template>
<script>
  
    export default {
        name: 'PreviewPage',
        data: () => ({
          
         
        }),
        components:{
         
        },
        mounted(){
            
        }
    }
</script>

<style>
 

</style>