<template>  
    <div 
      v-touch="{
        up: () => swipe('Up'),
        down: () => swipe('Down')
      }"
      id="target"
      style="overflow-y: hiden"
    >


    
         <CardCarousel
            
            class="carouselClass"
            id="header"
            :loader="loader"
            :styleText="styleText"
        >
        </CardCarousel>
    
    
    
      <v-card 
        style=" border-radius: 15px;" 
        :class="cardClass"
        id="mainCard"
        
      >
        
        <v-card-text 
          
            style="height: 100px"
        >
        
      <div class="mt-2 p-0"   >
          <v-skeleton-loader
              v-show="loader"
              style="margin-left: 0px"
              type="image"
              height="70px"
          ></v-skeleton-loader>
          <!-- <v-alert
              v-show="!loader"
              dense
              border="left"
              type="orange darken-4"
              
          >
              Для повноцінного користування необхідно підтвердити Gov ID
          </v-alert>   -->
      </div> 
      <ButtonMenu
        v-for="(data, index) in buttonsArray"
        :loader="loader"
        :data="data"
        
        :key="index"
             >
      </ButtonMenu>
     
      
    </v-card-text>
    </v-card>
          
    
    
   <!--  <v-snackbar
          :timeout="2000"
          v-model="snackbar"
          absolute
          multi-line="true"
          shaped
          
          color="indigo"
          
          centered
        >
          <span style="font-size: 1.5em;">Ще в розробці</span>
        </v-snackbar> -->
  </div>
</template>
<script>
  import ButtonMenu from './components/ButtonMenu'
  import CardCarousel from './components/RadaRequest/CardCarouselBackup'
  export default {
    name: 'Categories',
    data: () => ({
        style: 100,
        loader: true,
        value: null,
        classCard: false,
        classValue: false,
        scroll: {
          start: 0,
          end: 0
        },
        heightMonitor: document.documentElement.clientHeight,
        snackbar: false,
        buttonsArray: [
            {title: 'МІСЬКА РАДА', image: '32.png', to: '/rada'},
            {title: 'ОБЛАСНА РАДА', image: 'gerb-oblrada32.png', to: ''},
            {title: 'КОМУНАЛЬНІ ПІДПРИЄМСТВА', icon: 'mdi-terraform', color: 'green', to: '/communalList'},
            {title: 'ТРАНСПОРТ МІСТА', icon: 'mdi-subway', color: 'yellow darken-2', to: ''},
            {title: 'МЕДИЧНІ ЗАКЛАДИ', icon: 'mdi-hospital-box', color: 'red darken-2', to: ''},
            {title: 'ОСВІТА ЗАКЛАДИ', icon: 'mdi-book-education', color: 'orange darken-2', to: ''},
            {title: 'ШТРАФИ МРЕВ', icon: 'mdi-car', color: 'primary darken-2', to: '/communalList'},
        ]
     
    }),
    components:{
      ButtonMenu,
      CardCarousel
    },
    computed: {
      // cardClass(){
      //     let y = this.handleScroll();
      //     let obj = {};
      //     let pos = y;
      //     let max = this.heightMonitor*0.3;
      //     if(pos >= max){
      //       console.log(max)
      //       console.log("--")
      //       obj['mainDiv'] = 'position: fixed'
      //       obj['cardText'] = 'scroleCardText'
      //     }
      //     obj['mainDiv'] = ''
      //     obj['cardText'] = 'blockCardText'
      //     this.classCard = obj;
      //     console.log(obj)
      //     return obj;
      // },
      marginCard(){
        // let obj = {};
        // console.log(this.classCard)
        // console.log(obj)
        // let max = this.heightMonitor*0.3;
        //  if(this.classCard){
        //     obj['mainDiv'] = 'position: fixed; right: 0px; left: 0px'
        //     obj['cardText'] = 'flex-grow: 1; overflow: auto;'
        //     obj['cardPos'] = 'height: 80vh;'
        //   } else {
        //     obj['mainDiv'] = ''
        //     obj['cardText'] = 'flex-grow: 1; overflow: hiden;'
        //     obj['cardPos'] = ''
        //   }
          
        //   return obj
      },
      styleText(){
        //console.log('font-size:'+ this.style+' %;')
        //return 'font-size:'+ (70+this.style/3)+'%;'
        return this.style
      },
      cardClass(){
        if(this.classValue === true){
          document.getElementById('mainCard').scrollTop -= 100;
          return 'cardSticky22'
          

        } else {
          return 'cardSticky11'
        }
      }
    },
    methods: {
    handleScroll (event) {
        
      //  let y = window.pageYOffset;
      //  let max = this.heightMonitor*0.3;
      //  console.log(max + '--' + y)
      // if(y >= max && this.classCard !== true) {
        
      //   this.classCard = true
      // } else if(y <= max && this.classCard !== false){
      //   this.classCard = false
      // }
      if(this.scroll.start === 0){
        let y = window.pageYOffset + document.documentElement.clientHeight;
        let x = window.pageYOffset + target.getBoundingClientRect().bottom;
        console.log(y)
        console.log(x)
        this.scroll.start= x-y
        //console.log(this.scroll)
      }



      let y = window.pageYOffset + document.documentElement.clientHeight;
      let x = window.pageYOffset + target.getBoundingClientRect().bottom;
      let pos = x - y
      this.style = Math.round((pos/this.scroll.start)*100)

      //console.log(y + '--' + x)

      
      if(pos < 10){
          this.classValue = true
      } else {
        this.classValue = false
      }
      
    },
    swipe (direction) {
      // console.log(direction)
      //   if(direction === 'Up' && this.classCard != true){
      //       this.classCard = true;
      //   } else if(direction === 'Down' && this.classCard != false){
      //       this.classCard = false;
      //   }
    },
  },
    mounted() {

      setTimeout(() => {
                
                this.loader = false;
                let height = this.$refs.catButton.clientHeight;
                console.log(height)
            }, 500);

    },
    created () {
      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed () {
      window.removeEventListener('scroll', this.handleScroll);
    },
  }

  
</script>

<style>
  .body{
    overflow: hiden;
  }
  .cardSticky11{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding-bottom: 10vh;
    overflow: hiden;
    height: 85vh;
    margin-top: -2vh;
    float: top;
  }
  .cardSticky22{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    padding-bottom: 10vh;
    overflow: auto;
    height: 85vh;
    margin-top: -6vh;
  }
  .carouselClass{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
  }
  
  .scroleCardText {
    
    flex-grow: 1;
    overflow: auto;
    
  }
  .blockCardText {
    
    flex-grow: 1;
    overflow: hiden;
    
  }
  .scroleCard {
    margin-top: -35vh;
    
    
  }
  .blockCard {
    margin-top: -3vh;
   
    
  }

</style>