<template>
    <v-container>
        <v-row justify="center">
        <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
        >
          
            <v-card>
                <v-toolbar
                    dark
                    color="#4385f4"
                >
                    <v-btn
                        icon
                        dark
                        @click="closeDialog()"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-toolbar-title>Додання компаній</v-toolbar-title>
                    <v-spacer></v-spacer>
                    
                  
                </v-toolbar>
                <v-container style="padding-top: 16px">
                    <v-text-field
                        label="Назва компанії"
                        v-model="companyName"
                    ></v-text-field>
                    <CommunalButton
                        v-for="(item, index) in companyFilter"
                        :key="index"
                        :imageLink="item.image"
                        :text="item.name"
                        onClickBtn="true"
                        @buttonClick="addCompany(item)"
                    ></CommunalButton>
                </v-container>
            </v-card>
        </v-dialog>
        <AddLicToAddress ref="AddLicToAddress" />
    </v-row>
    </v-container>
    
</template>
<script>
    import CommunalButton from '../CommunalButton'
    import AddLicToAddress from '../Address/AddLicToAddress'
    import {mapGetters, mapActions} from 'vuex'
    export default {
        data () {
            return {
                dialog: false,
                company: [],
                address: null,
                companyName: '',
            }
        },
        components: {
            CommunalButton,
            AddLicToAddress
        },
        computed: {
            companyFilter(){
                return this.company.filter((obj) => {
                    if(obj.name.toLowerCase().indexOf(this.companyName.toLowerCase()) !== -1){
                        return true
                    } else {
                        return false
                    }
                   
                })
            }
        },
        methods: {
            ...mapActions('hotline', ['getCardDetails', 'getCardDownload']),
            
            addCompany(company){
                this.$refs.AddLicToAddress.show(company, this.address)
                this.dialog = false
            },
            getRequestData() {
                this.getCardDetails({registration_number: this.requestNumber})
                .then((resp) => {
                    this.data = resp.data.card
                    this.loader = false
                })
            },
            downloadFile(name){
                this.getCardDownload({
                    registration_number: data.registration_number,
                    phone: this.phone,
                    file_name: name
                })
                .then((resp) => {

                })
            },
            closeDialog(){
                this.dialog = false
            },
            show(company, address){
                this.company = company;
                this.address = address
                this.dialog = true;

            },

        },
        mounted(){
            //var oWebViewInterface = window.nsWebViewInterface;

            // // register listener for any event from native app
            // oWebViewInterface.on('anyEvent', function(eventData){
                
            // });

            // emit event to native app
            // oWebViewInterface.emit('anyEvent', false);

            // // function which can be called by native app
            // window.functionCalledByNative = function(arg1, arg2){
            //     // do any processing
            //     return dataOrPromise;
            // }
        }
    }
</script>
<style>
  .grey-back{
    background: rgb(216,216,216);
  }  

</style>