<template>
    <v-row justify="center">
        <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
        >
          
            <v-card>
                <v-toolbar
                    dark
                    color="green darken-2"
                >
                    <v-btn
                        icon
                        dark
                        @click="closeDialog()"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-toolbar-title>Внесення показів</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn
                        icon
                        dark
                        @click="flashight()"
                    >
                        <v-icon>mdi-flashlight</v-icon>
                    </v-btn>
                  
                </v-toolbar>
                <v-container style="padding-top: 16px">
                    <v-row 
                        align="center"
                        justify="center"
                        v-for="(zone, index) in zones"
                        :key="index"
                        no-gutters
                    >
                        <v-col cols="12" align="center">
                            <span style="font-size: 20px">{{zone.zone}}</span>
                        </v-col>
                        <v-col cols="4" align="center">
                            <v-text-field
                                v-model="zone.meterage"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                     <v-row 
                        align="center"
                        justify="center"
                       
                    >
                        <v-col cols="8" align="center">
                            <v-btn
                                        
                                block 
                                @click="sendMeterages"
                                x-large
                                elevation="2"
                                color="green darken-2"
                            >
                                <v-row
                            
                                    dense
                                    align="center"

                                >
                                  
                                    <v-col align-self="center" color="black" style="color: white" cols="12">
                                        <span class="btn-text">
                                            Передати показники
                                        </span>
                                    </v-col>
                                </v-row>
                            </v-btn>
                        </v-col>
                        
                    </v-row>
                </v-container>
            </v-card>
        </v-dialog>
    </v-row>
</template>
<script>
    require('../../../externalScripts/nativescript-webview-interface.js');
    import {mapGetters, mapActions} from 'vuex'
    export default {
        data () {
            return {
                dialog: false,
                requestNumber: '',
                loader: true,
                phone: '0682178889',
                flashLight: false,
                zones: [
                    {zone: 'Перша зона', meterage: ''},
                    {zone: 'Друга зона', meterage: ''},
                ]
            }
        },
        methods: {
            ...mapActions('hotline', ['getCardDetails', 'getCardDownload']),
            getRequestData() {
                this.getCardDetails({registration_number: this.requestNumber})
                .then((resp) => {
                    this.data = resp.data.card
                    this.loader = false
                })
            },
            downloadFile(name){
                this.getCardDownload({
                    registration_number: data.registration_number,
                    phone: this.phone,
                    file_name: name
                })
                .then((resp) => {

                })
            },
            closeDialog(){
                this.offFlashlight();
                this.dialog = false
            },
            show(number){
                this.requestNumber = number;
                this.dialog = true;
                this.loader = true;
                this.getRequestData();
            },
            sendMeterages(){
                this.offFlashlight();
            },
            flashight(){
                var oWebViewInterface = window.nsWebViewInterface;
                
                if(this.flashLight) {
                    oWebViewInterface.emit('flashlightControl', {isEnabled: false});
                } else if(!this.flashLight) {
                    oWebViewInterface.emit('flashlightControl', {isEnabled: true});
                }
            },
            offFlashlight(){
                var oWebViewInterface = window.nsWebViewInterface;
                if(this.flashLight){
                    oWebViewInterface.emit('offFlashlight');
                }
            }
        },
        mounted(){
            //var oWebViewInterface = window.nsWebViewInterface;

            // // register listener for any event from native app
            // oWebViewInterface.on('anyEvent', function(eventData){
                
            // });

            // emit event to native app
            // oWebViewInterface.emit('anyEvent', false);

            // // function which can be called by native app
            // window.functionCalledByNative = function(arg1, arg2){
            //     // do any processing
            //     return dataOrPromise;
            // }
        }
    }
</script>
<style>
  .grey-back{
    background: rgb(216,216,216);
  }  

</style>