<template>
    <div class="transport">
        <AppBar
            img="mdi-train-car"
            class="app-bar"
            :header="'Транспорт Міста'"
        >
        </AppBar>
        <v-container>
        <h3 class="h3-transport">В Розробці</h3>
        <ButtonCategories
            v-for="item in transports"
            :key="item.id"
            :icon="item.icon"
            :text="item.title"
            :icon_color="item.color_icon"
            snackbar_color="red"
            text_color="black"
        />
      </v-container>
    </div>
</template>

<script>
import AppBar from '../../components/AppBar.vue'
import ButtonCategories from "../../components/ButtonsCategories/ButtonCategories"

export default {
    name: 'Transport',
    components: {
        AppBar,
        ButtonCategories,
    },
  data(){
      return{
        transports: [{
          id:1,
          title:"Маршрути Онлайн",
          icon:"mdi-road-variant",
          color_icon:"#d4aa1e"
        },
        {
          id:2,
          title:"Авіа",
          icon:"mdi-airplane",
          color_icon:"#ad1ed4"
        },
        {
          id:3,
          title:"Автобуси",
          icon:"mdi-bus",
          color_icon:"#301ed4"
        },
        {
          id:4,
          title:"Залізниця",
          icon:"mdi-train-variant",
          color_icon:"#1ed44b"
        }],
      }
  
    }
}
</script>

<style scoped>
.h3-transport{
  display: flex;
  justify-content: center;
}

</style>