<template>
    <div class="select_address">
        <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            transition="dialog-right-transition"
        >
            <v-card>
                <v-toolbar
                    dark
                    color="#2e73b4"
                    style="border-rdius: none"
                >
                    <v-btn
                        icon
                        dark
                        @click="dialog = false"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-toolbar>

                <v-container style="height: 90vh" class="d-flex justify-space-between flex-column">
                    <v-card v-if="KEY_FOR_COMPONENTS !== 9999" class="mt-2 d-flex align-center justify-center" style="height: 10vh">
                        <v-row>
                            <v-col cols="12">
                                <div class="text-center" v-if="!SELECTED_CITY">
                                    <span style="font-size: 14px; color: #adadad" >
                                        Ваша Адреса
                                    </span>
                                </div>
                                <div class="text-center" v-else>
                                    <span  v-if="SELECTED_CITY" style="font-size: 14px; font-weight: 700; color: #000">
                                        {{ SELECTED_CITY }} <br>
                                        <span v-if="SELECTED_STREET">{{ SELECTED_STREET }},</span> <span v-if="SELECTED_BUILDING">{{ SELECTED_BUILDING }}</span> <span v-if="SELECTED_CORPUS">корп.{{ SELECTED_CORPUS }}</span> <br>
                                        <span v-if="SELECTED_APARTMENT">кв.{{ SELECTED_APARTMENT }}</span>
                                    </span>
                                </div>
                            </v-col>
                        </v-row>
                    </v-card>

                    <v-row class="mt-3">
                        <v-col cols="12">
                            <City v-if="KEY_FOR_COMPONENTS === 1" />
                            <Street v-if="KEY_FOR_COMPONENTS === 2" />
                            <Building v-if="KEY_FOR_COMPONENTS === 3" />
                            <Apartment v-if="KEY_FOR_COMPONENTS === 4" />
                            <BuildingConfirm v-if="KEY_FOR_COMPONENTS === 9999"/>
                            <AddAddressManual v-if="KEY_FOR_COMPONENTS === 10"/>

                        </v-col>
                        <!-- <v-col cols="12" class="text-center">
                            <v-btn @click="next_component" color="#607d8b" style="color: white">
                                Продовжити
                            </v-btn>
                            <v-btn v-if="showBtn && component === 4" @click="addAdress()" color="#607d8b" style="color: white">
                                Додати адресу
                            </v-btn>
                        </v-col> -->
                    </v-row>
                    <!-- <v-row class="d-flex align-end">
                        <v-col class="text-center">
                            <div style="font-size: 14px">
                                Якщо Вам не вдається знайти свою адресу <br> <span @click="addManualAddress()" style="font-size: 16px; color: #1976d2; text-decoration: underline">натисніть сюди</span>, щоб додати її самостійно
                            </div>
                        </v-col>
                    </v-row> -->
                </v-container>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import City from './AddressComponents/City.vue'
    import Street from './AddressComponents/Street.vue'
    import Building from './AddressComponents/Building.vue'
    import BuildingConfirm from './AddressComponents/BuildingConfirm.vue'
    import Apartment from './AddressComponents/Apartment.vue'
    import ConfirmAddress from './AddressComponents/ConfirmAddress.vue'
    import AddAddressManual from '../AddAddressManual.vue'
    import {mapGetters, mapActions, mapMutations} from 'vuex'
export default {
    components: {
        City, Street, Building, Apartment, ConfirmAddress, BuildingConfirm, AddAddressManual
    },

    data: () => ({
        dialog: false,
        showBtn: false,
        component: 1,
    }),

    computed: {
         ...mapGetters('manual_address', ['KEY_FOR_COMPONENTS', 'KEY_FOR_MAP', 'APARTMENTS', 'CONFIRMED']),
         ...mapGetters('manual_address', ['BUILDS_CONFIRMS', 'APARTMENTS', 'SELECTED_CITY_ID', 'SELECTED_GEON_ID', 'SELECTED_CITY', 'SELECTED_STREET', 'SELECTED_BUILDING', 'SELECTED_CORPUS', 'SELECTED_APARTMENT', 'GOE']),
    },

    watch: {
        KEY_FOR_MAP() {
            if(this.KEY_FOR_MAP == 4)
           this.dialog = false
        },
        
        component() {
            console.log(this.component)
            if(this.component == 9999) {
                let arr = this.BUILDS_CONFIRMS.building_number
                function checkCorpus(el) {
                    return el.corp.length > 0
                }
                if(arr.some(checkCorpus)) {
                    return
                } else {
                    let data = {
                    all: true,
                    city: this.BUILDS_CONFIRMS.building_number[0].city,
                    street: this.BUILDS_CONFIRMS.building_number[0].street_name,
                    building: this.BUILDS_CONFIRMS.building_number[0].building, 
                    geon_id: this.BUILDS_CONFIRMS.building_number[0].Geon_id, 
                    city_id: this.BUILDS_CONFIRMS.building_number[0].city_id, 
                    corpus: this.BUILDS_CONFIRMS.building_number[0].corp
                    }
                    this.setInfoAddedAddress(data)

                    this.component = 4
                }
            } else if(this.component == 4) {
                if(this.BUILDS_CONFIRMS) {
                    let data = {
                        building: this.SELECTED_BUILDING,
                        corp: this.SELECTED_CORPUS,
                        apartment: this.SELECTED_APARTMENT,
                        Geon_id: this.SELECTED_GEON_ID
                    }
                    this.getApartmentsArr(data)
                }
            } 
            else if(this.component == 4) {
                if(this.BUILDS_CONFIRMS) {
                    this.getGeoData()
                }
            }
        },
        
        APARTMENTS() {
            // let data = {
            // city: this.BUILDS_CONFIRMS.building_number[0].city,
            // street: this.BUILDS_CONFIRMS.building_number[0].street_name,
            // }
            // this.setInfoAddedAddress(data)
            if(this.CONFIRMED) {
                if(this.APARTMENTS.apartment.length == 0) {
                    this.addAdress()
                } else {
                    this.component = 4
                }
                this.showBtn = true
            }
            
        }
    },

    methods: {
        ...mapActions('address', ['getGeoAddress', 'getListApartments', 'setAddress', 'setCoordinatesStatus', 'getAccountAddresses']),
        ...mapMutations('manual_address', ['setInfoAddedAddress', 'setShowGeo', 'updateKeyForMap']),
        ...mapActions('manual_address', ['getApartmentsArr', 'getGeoAddressManual']),

        openDialog(value, component_num) {
           this.dialog = value 
           if(component_num) {
               this.component = component_num 
           } else {
               this.component = 1 
           }
        },

        getGeoData() {
            let city = this.SELECTED_CITY
            let street = this.SELECTED_STREET
            let building = this.SELECTED_BUILDING

            let data = {
                address: `${
                    city.replace(/смт|с-ще |с.|м./,'').split(',')[0]}, ${street.replace(/вул.|пров.|проїзд|тупик|бульв./, '')}, ${building.split(',')[0]}`
            }
            this.getGeoAddressManual(data)
        },

        next_component() {
            if(this.component == 3) {
                
                    this.component++
                
                    this.addAdress()
                
            } else {
                this.component++
            } 
            if(this.component < 4) {
                this.showBtn = false
            }
            
        },

        addManualAddress() {
            this.component = 10
        },

        addAdress() {
            this.updateKeyForMap(4)
            this.dialog = false
        }

        // addAdress() {
        //     this.dialog = false

        //     let data = {
        //     building: this.SELECTED_BUILDING,
        //     corp: this.SELECTED_CORPUS,
        //     apartment: this.SELECTED_APARTMENT,
        //     Geon_id: this.SELECTED_GEON_ID,
        //     city_id: this.SELECTED_CITY_ID,
        //     latitude: this.GOE.data.geoData[0].lat,
        //     longitude:this.GOE.data.geoData[0].lon,
        //     }
           
        //         this.setAddress(data)
        //         .then(resp => {
        //             this.getAccountAddresses()
        //             .then((resp) => {
        //                 this.$store.state.address.addressPage = resp.data.accounts.length - 1
        //             });
        //             this.$router.push({name: 'Addresses', params: {token: this.getToken}})
        //             // this.selectAddress.street = ''
        //             // this.selectFlat = ''
        //             // this.issetFlat = false
        //         })
        //         .catch(error => {
        //             console.log(error)
        //         })
        // }
    }
}
</script>

<style scoped>

</style>