<style>
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  

  .gradient1{ 
    background: #c79081;
    background: -webkit-linear-gradient(to right, #c79081 , #dfa579);
    background: linear-gradient(to right,  #c79081 , #dfa579);
  }        

  .gradient2{ 
    background: #a3bded;
    background: -webkit-linear-gradient(to right, #a3bded , #6991c7);
    background: linear-gradient(to right,  #a3bded , #6991c7);
  }   
</style>
<template>  
  <v-container style="padding-top: 0px">

  <v-row >
    <v-skeleton-loader
        
        width="100%" 
        v-show="loader"
        type="image"
        
    >
    </v-skeleton-loader>
    <v-carousel
       v-show="!loader"
      v-model="value"
      height="320"      
      reverse="false"
      touch
      hide-delimiter-background  
    >

      <v-carousel-item
       
        v-for="(city, i) in cities"
        :key="i"
        transition
      >
        <v-sheet
          :color="colorsnotify[i]" 
          height="100%"
        >
        <v-row>         
          <v-col cols="5" class="pa-6">
            
          </v-col>
          <v-col cols="2" class="pt-16">
            <v-avatar color="deep-purple darken-4">
              <v-icon dark 
                    x-large>
                        mdi-terraform
                      </v-icon>
            </v-avatar>
          </v-col>
          <v-col cols="5" class="pa-6">           
          </v-col>
        </v-row>
         <v-row class="pt-0 mt-0">
          <v-col cols="1" class="pt-0 mt-0">
          </v-col>
          <v-col  cols="10" class="pt-0" align="center">
            <span class="white--text display-1">{{cities[i]['c']}}, </span><br>
            <span class="white--text ">проспект Яворницкого 74 кв. 2</span>
          </v-col>
          <v-col cols="1" class="pt-0">
          </v-col>
        </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
  </v-row>

  <template>
  <div class="mt-2 p-0" >

   <v-alert
      v-show="!loader"
      dense
      border="left"
      type="orange darken-4"
    >
      Для повноцінного користування необхідно підтвердити Gov ID
    </v-alert>   
  </div> 
      <div
        class="mt-0 p-0"
      > 
        <v-skeleton-loader
          
          
          v-show="loader"
          style="margin-left: 0px"
          type="image"
          height="70px"
        ></v-skeleton-loader>
        <v-btn
          v-show="!loader"
          align="left"
          class="pt-8 pb-8 no-text-transform"
          style="width: 100%;"
          tile
          block 
          fab
          rounded
          x-large
          elevation="2"
        >
        <v-row>
            <v-col align="right" class="pa-0 pt-5" cols="5" color="black">
               МІСЬКА 
            </v-col>
            <v-col cols="2" align="center">
              <img
                src="../assets/32.png"
              >
            </v-col>
            <v-col cols="5" class="pa-0 pt-5" align="left">
              РАДА
            </v-col>
         </v-row>
        </v-btn>
      </div>

      <div
        class="mt-3 p-0"
      >
        <v-skeleton-loader
          
          
          v-show="loader"
          style="margin-left: 0px"
          type="image"
          height="70px"
        ></v-skeleton-loader>
        <v-btn
          v-show="!loader"
          align="left"
          class="pt-8 pb-8 no-text-transform"
          style="width: 100%;"
          tile
          block 
          fab
          rounded
          x-large
          elevation="2"
        >
        <v-row>
            <v-col align="right" class="pa-0 pt-5" cols="5" color="black">
               ОБЛАСНА 
            </v-col>
            <v-col cols="2" align="center">
              <img
                src="../assets/gerb-oblrada32.png"
              >
            </v-col>
            <v-col cols="5" class="pa-0 pt-5" align="left">
              РАДА
            </v-col>
         </v-row>
        </v-btn>
      </div>
      
      <div
        align="center"
        justify="space-around"
        class="mt-3 p-0"
      >
        <v-skeleton-loader
          
          
          v-show="loader"
          style="margin-left: 0px"
          type="image"
          height="70px"
        ></v-skeleton-loader>
       <v-btn
          v-show="!loader"
          align="left"
          class="pt-8 pb-8 no-text-transform"
          style="width: 100%;"
          tile
          color="silver"
          block 
          fab
          rounded
          x-large
          elevation="2"
        >
          <v-row>
              <v-col align="right" class="pa-0 pt-5" cols="5" color="black">
                КОМУНАЛЬНІ 
              </v-col>
              <v-col cols="2" align="center">
                
                  <v-icon color="green darken-2" large>
                    mdi-terraform
                  </v-icon>
              
              </v-col>
              <v-col cols="5" class="pa-0  mt-0 pt-5" align="left">
                ПІДПРИЄМСТВА
              </v-col>
          </v-row>
        </v-btn>
      </div>
      <div
        align="center"
        justify="space-around"
        class="mt-3 p-0"
      >
        <v-skeleton-loader
          
          
          v-show="loader"
          style="margin-left: 0px"
          type="image"
          height="70px"
        ></v-skeleton-loader>
       <v-btn
          v-show="!loader"
          align="left"
          class="pt-8 pb-8 no-text-transform"
          style="width: 100%;"
          tile
          block 
          fab
          rounded
          x-large
          elevation="2"
        >
         <v-row>
              <v-col align="right" class="pa-0 pt-5" cols="5" color="black">
                ТРАНСПОРТ 
              </v-col>
              <v-col cols="2" align="center">
                
                  <v-icon color="yellow darken-2" large>
                    mdi-subway
                  </v-icon>
              
              </v-col>
              <v-col cols="5" class="pa-0 pt-5" align="left">
                МІСТА
              </v-col>
          </v-row>
        </v-btn>
      </div>
      <div
        align="center"
        justify="space-around"
        class="mt-3 p-0"
      >
        <v-skeleton-loader
          
          
          v-show="loader"
          style="margin-left: 0px"
          type="image"
          height="70px"
        ></v-skeleton-loader>
       <v-btn
          v-show="!loader"
          align="left"
          class="pt-8 pb-8 no-text-transform"
          style="width: 100%;"
          tile
          block 
          fab
          rounded
          x-large
          elevation="2"
        >
          <v-row>
              <v-col align="right" class="pa-0 pt-5" cols="5" color="black">
                МЕДИЧНІ 
              </v-col>
              <v-col cols="2" align="center">
                
                  <v-icon color="red darken-2" large>
                  mdi-hospital-box
                </v-icon>
              
              </v-col>
              <v-col cols="5" class="pa-0 pt-5" align="left">
                ЗАКЛАДИ
              </v-col>
          </v-row>
        </v-btn>
      </div>


      <div
        align="center"
        justify="space-around"
        class="mt-3 p-0"
      >
        <v-skeleton-loader
          
          
          v-show="loader"
          style="margin-left: 0px"
          type="image"
          height="70px"
        ></v-skeleton-loader>
       <v-btn
          v-show="!loader"
          align="left"
          class="pt-8 pb-8 no-text-transform"
          style="width: 100%;"
          tile
          block 
          fab
          rounded
          x-large
          elevation="2"
        >
          <v-row>
              <v-col align="right" class="pa-0 pt-5" cols="5" color="black">
                ОСВІТА 
              </v-col>
              <v-col cols="2" align="center">
                
                  <v-icon color="orange darken-2" large>
                  mdi-book-education
                </v-icon>
              
              </v-col>
              <v-col cols="5" class="pa-0 pt-5" align="left">
                ЗАКЛАДИ
              </v-col>
          </v-row>
        </v-btn>
      </div>
      <div
        align="center"
        justify="space-around"
        class="mt-3 p-0"
      >
        <v-skeleton-loader
          
          
          v-show="loader"
          style="margin-left: 0px"
          type="image"
          height="70px"
        ></v-skeleton-loader>
       <v-btn
          v-show="!loader"
          align="left"
          class="pt-8 pb-8 no-text-transform"
          style="width: 100%;"
          tile
          block 
          fab
          rounded
          x-large
          elevation="2"
        >

        <v-row>
              <v-col align="right" class="pa-0 pt-5" cols="5" color="black">
                ШТРАФИ 
              </v-col>
              <v-col cols="2" align="center">
                
                  <v-icon color="primary darken-2" large>
                  mdi-doctor
                </v-icon>
              
              </v-col>
              <v-col cols="5" class="pa-0 pt-5" align="left">
                МРЕВ
              </v-col>
          </v-row>
        </v-btn>
      </div>

      <div
          align="center"
          justify="space-around"
          class="mt-4 p-0"
        >
          <v-btn
            tile
            color="success"
          >
            ДОДАТИ АДРЕСУ
            <v-icon right>
              mdi-map-marker-radius
            </v-icon>
          </v-btn>
        </div>      
    </template>
  
  </v-container>
</template>

<script>
  export default {
    name: 'Categories',
    data: () => ({
        loader: true,
        value: null,
        colorsnotify: [
          'gradient0',
          'gradient1',
          'gradient2',
        ],
        cities: [
            {
              "c": 'м. Дніпро',
              "a": 'проспект Яворницкого 71 кв. 2',
            },
            {
              "c": 'м. Дніпро',
              "a": 'проспект Яворницкого 72 кв. 3',
            },
            {
              "c": 'м. Дніпро',
              "a": 'проспект Яворницкого 73 кв. 4',
            },
        ],
     
    }),
    mounted() {
      setTimeout(() => {
                this.loader = false;
            }, 3000);
    }
  }

  
</script>



