<template>

    <v-snackbar 
        :color="colorSnackBar" 
        timeout="2000" 
        :top="true" 
        rounded="lg" 
        v-model="snackbar" 
        
        style="margin-top: 10vh;"
    >
        
        <v-row justify="center">
            <v-col cols="12" align="center" style="font-size: 1.2em">
                {{text}}
            </v-col>
        </v-row>
    </v-snackbar>
</template>

<script>
    export default {
        name: 'SnackNar',
        data() {
            return {
                snackbar: false,
                text: '',
                colorSnackBar: '',
            }
        },
        methods: {
            show(text, color){
                this.snackbar = true;
                this.text = text;
                this.colorSnackBar = color;
                // setTimeout(() => {
                //     this.snackbar = false;
                //     this.text = '';
                //     this.colorSnackBar = '';
                // }, 3000);
            },
            clearSnackBar()
            {
                setTimeout(() => {
                    this.text = '';
                    this.colorSnackBar = '';
                }, 2000)
            }
        }
    }
</script>