<template>  
    <div style="margin-bottom: 10vh">
        <AppBar
            class="app-bar"
        >
        </AppBar>
        <PageTitle
            
            title="Додати адресу"
        >
        </PageTitle>
     
        <v-container>
            <v-row 
                justify="center"
                align="center"    
            >
                <v-col cols="12" v-if="text" align="center">
                    <v-alert
                        dense
                        border="left"
                        type="orange darken-4"
                    >
                        {{text}}
                    </v-alert>  
                </v-col>
                <v-col cols="12" align="center">
                    
                    <v-autocomplete
                        :loading="loading.district"
                        v-model="data.district"
                        :search-input.sync="searchDistrict"
                        :items="districtItems"
                        dense
                        label="Район"
                    ></v-autocomplete>
                </v-col>
                <v-col cols="12" align="center">
                    
                    <v-autocomplete
                        :loading="loading.city"
                        v-model="data.city"
                        :search-input.sync="searchCity"
                        :items="cityItems"
                        dense
                        label="Населений пункт"
                    ></v-autocomplete>
                </v-col>
                <v-col cols="12" align="center">
                    
                    <v-autocomplete
                        :loading="loading.street"
                        v-model="data.street"
                        :search-input.sync="searchStreet"
                        :items="streetItems"
                        dense
                        label="Вулиця"
                    ></v-autocomplete>
                </v-col>
                
            </v-row>
            <v-row 
                justify="center"
                align="center"    
            >
                <v-col cols="6" align="center">
                    
                    <v-autocomplete
                        :loading="loading.building"
                        v-model="data.building"
                        :search-input.sync="searchBuilding"
                        :items="buildingItems"
                        dense
                        label="Будинок"
                    ></v-autocomplete>
                </v-col>
                
                <v-col cols="6" align="center">
                    
                    <v-autocomplete
                        :loading="loading.apartment"
                        v-model="data.apartment"
                        :search-input.sync="searchApartment"
                        :items="apartmentArray"
                        dense
                        label="Квартира"
                    ></v-autocomplete>
                </v-col>
            </v-row>
            <v-btn                     
                block 
                @click="setAccountAddress"
                x-large
                elevation="2"
                color="green darken-2"
                :disabled="isAddActive"
            >
                <v-row
            
                    dense
                    align="center"

                >
                  
                    <v-col align-self="center" color="black" style="color: white" cols="12">
                        <span class="btn-text">
                            Додати адресу
                        </span>
                    </v-col>
                </v-row>
            </v-btn>

            <v-row
                style="margin-top: 25px"
                dense
                align="center"
            >
                    
                <v-col align-self="center" align="center" color="black" @click="addAddressManually" style="text-decoration: underline;" cols="12">
                    <span class="btn-text">
                        Не вдалося додати адресу
                    </span>
                </v-col>
            </v-row>
            
        </v-container>
        <SnackBar ref="SnackBar"/>
    </div>

</template>

<script>
    import SnackBar from '../../../components/SnackBar'
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'AddAddress',
        props: ['text'],
        data() {
            return {
                loading: {
                    district: false,
                    city: false,
                    street: false,
                    building: false,
                    apartment: false,
                },
                searchDistrict: '',
                searchCity: '',
                searchStreet: '',
                searchBuilding: '',
                searchApartment: '',
                districtArray: [],
                cityArray: [],
                streetArray: [],
                buildingArray: [],
                apartmentArray: [],
                data: {
                    district: '',
                    city: '',
                    street: '',
                    building: '',
                    apartment: '',
                },
                metaData: {
                    district_id: '',
                    city_id: '',
                    Geon_id: '',
                    build: [],
                    apartment: '',
                },
            }
        },
        components: {
            AppBar,
            PageTitle,
            SnackBar
        },
        computed: {
            ...mapGetters('address', ['getCoordinates']),
            isAddActive(){
                console.log('===============')
                console.log(this.metaData)
                if(this.metaData.Geon_id != '' && this.metaData.build != [] && this.data.apartment != ''){
                    return false
                }
                return true
            },
            districtItems(){
                
                return this.districtArray.map((obj) => {
                        return obj.district_name;
                    });
            },
            cityItems(){
                
                return this.cityArray.map((obj) => {
                        return obj.city_name;
                    });
            },
            streetItems(){
                
                return this.streetArray.map((obj) => {
                        return obj.street_name;
                    });
            },
            buildingItems(){
                return Object.keys(this.buildingArray);
            },

        },
        watch: {
            searchDistrict(){
                var district = this.searchDistrict
                this.searchCity = ''
                this.searchStreet = ''
                this.searchBuilding = ''
                this.cityArray = []
                this.streetArray = []
                this.buildingArray = []
                setTimeout(() => {
                    if(district === this.searchDistrict && this.searchDistrict != null){
                        this.loading.district = true
                        
                        this.getDistrictArray();
                    }
                }, 1000);
            },
            searchCity(){
                var city = this.searchCity
                this.searchStreet = ''
                this.searchBuilding = ''
                this.streetArray = []
                this.buildingArray = []
                setTimeout(() => {
                    if(city === this.searchCity && this.searchCity != null){
                        this.loading.city = true
                        
                        this.getCityArray();
                    }
                }, 1000);
            },
            searchStreet(){
                
                var street = this.searchStreet
                this.searchBuilding = ''
                this.buildingArray = []
                setTimeout(() => {
                    if(street === this.searchStreet && this.searchStreet != null){
                        this.loading.street = true
                        this.getStreetArray();
                    }
                }, 1000);
            },
            searchBuilding(){
                
                var building = this.searchBuilding
                setTimeout(() => {
                    if(building === this.searchBuilding && this.searchBuilding != null && this.searchBuilding != this.data.building){
                        this.loading.building = true

                        this.getBuildingArray();
                    }
                }, 1000);
            },
            searchApartment(){
                var apartment = this.searchApartment
                setTimeout(() => {
                    if(apartment === this.searchApartment && this.searchApartment != null){
                        this.loading.apartment = true
                        this.getApartmentArray();
                    }
                }, 1000);
            }
        },
        methods: {
            ...mapActions('address', ['getDistrict', 'getCity', 'getStreet', 
                'getBuilding', 'getApartment', 'setAddress']),
            getDistrictArray(){
                this.getDistrict({district: this.searchDistrict})
                .then((resp) => {
                    this.districtArray = resp.data.district
                    this.loading.district = false
                })
            },
            getCityArray(){
                let districtCode = '';
                for(let i in this.districtArray){
                    if(this.districtArray[i].district_name === this.data.district){
                        districtCode = this.districtArray[i].id
                        this.metaData.district_id = districtCode;
                    }
                }   
                this.getCity({city: this.searchCity, district_id: districtCode})
                .then((resp) => {
                    this.cityArray = resp.data.city
                    this.loading.city = false

                })
            },
            getStreetArray(){
                let cityCode = '';
                for(let i in this.cityArray){
                    if(this.cityArray[i].city_name === this.data.city){
                        cityCode = this.cityArray[i].id
                        this.metaData.city_id = cityCode;
                    }
                }
                this.getStreet({street_name: this.searchStreet, city_id: cityCode})
                .then((resp) => {
                    this.streetArray = resp.data.street_name
                    this.loading.street = false
                    console.log(resp.data)

                })
            },
            getBuildingArray(){
                let streetCode = '';
                
                for(let i in this.streetArray){
                    console.log(this.streetArray[i].street_name)
                    console.log(this.data.street)
                    if(this.streetArray[i].street_name === this.data.street){
                        streetCode = this.streetArray[i].Geon_id
                        this.metaData.Geon_id = streetCode;
                        console.log(streetCode)
                    }
                }
                //console.log(this.searchBuilding)
                this.getBuilding({building: this.searchBuilding, Geon_id: streetCode})
                .then((resp) => {
                    this.loading.building = false
                    this.buildingArray = resp.data.building
                    console.log(resp.data)

                })
            },
            getApartmentArray(){

                this.metaData.build = this.buildingArray[this.data.building]

                let data = {build: this.metaData.build, apartment: this.searchApartment, Geon_id: this.metaData.Geon_id} 
                console.log(data)  
                this.getApartment(data)
                .then((resp) => {
                    this.loading.apartment = false
                    this.apartmentArray = resp.data.apartment
                    console.log(resp.data)

                })
            },
            setAccountAddress(){
                let data = {build: this.metaData.build, apartment: this.data.apartment, Geon_id: this.metaData.Geon_id} 
                this.setAddress(data)
                .then(resp => {
                    console.log(resp.data)
                    this.$refs.SnackBar.show(resp.data.message , 'green darken-2')
                })
                .catch(error => {
                    this.$refs.SnackBar.show(error.response.data.message , 'red darken-2')
                    console.log(error)
                })
            },
            // getBuildingArray(){
            //     let streetCode = '';
            //     console.log(this.streetArray)
            //     for(let i in this.streetArray){
            //         console.log(this.streetArray[i].street_name)
            //         console.log(this.data.street)
            //         if(this.streetArray[i].street_name === this.data.street){
            //             streetCode = this.streetArray[i].Geon_id
            //             console.log(streetCode)
            //         }
            //     }
                
            //     this.getBuilding({building: this.searchBuilding, Geon_id: streetCode})
            //     .then((resp) => {
            //         this.buildingArray = resp.data.building
            //         console.log(resp.data)

            //     })
            // },
            
            addAddressManually(){
                this.$router.push({name: 'AddAddressManual'})
            }
        },
    }

  
</script>

<style>
  
</style>


