<template>  
    <div>
        <v-row>
            <v-col class="text-center">
                <div style="font-size: 20px">
                    Додайте адресу самостійно
                </div>
            </v-col>
        </v-row>
     
        <v-container>
            <v-row 
                justify="center"
                align="center"    
            >

                <v-col cols="12" align="center">
                    <v-text-field
                        label="Населений пункт"
                        autocomplete="off"
                        v-model="city"
                    ></v-text-field>
                </v-col>

                 <v-col cols="12" align="center">
                    <v-text-field
                        label="Вулиця"
                        autocomplete="off"
                        v-model="street"
                    ></v-text-field>
                </v-col>
            </v-row>

            <v-row 
                justify="center"
                align="center"    
            >
                <v-col cols="4" align="center">
                    <v-text-field
                        label="Будинок"
                        v-model="building"
                        autocomplete="off"
                    ></v-text-field>
                </v-col>
                <v-col cols="4" align="center">
                    <v-text-field
                        label="Корпус"
                        v-model="corpus"
                        autocomplete="off"
                    ></v-text-field>
                </v-col>
                <v-col cols="4" align="center">
                    <v-text-field
                        label="Квартира"
                        v-model="apartment"
                        autocomplete="off"
                    ></v-text-field>
                </v-col>
                
            </v-row>
            <v-btn                     
                block 
                @click="geoData()"
                x-large
                elevation="2"
                color="green darken-2"
                :disabled="isAddActive"
            >
                <v-row
            
                    dense
                    align="center"

                >
                  
                    <v-col align-self="center" color="black" style="color: white" cols="12">
                        <span class="btn-text">
                            Додати адресу
                        </span>
                    </v-col>
                </v-row>
            </v-btn>
            
        </v-container>
        <SnackBar ref="SnackBar"/>
    </div>
</template>

<script>
    import SnackBar from '../../../components/SnackBar'
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'CompanyPage',
        data() {
            return {
                city: '',
                street: '',
                building: '',
                corpus: '',
                apartment: ''
            }
        },
        components: {
            AppBar,
            PageTitle,
            SnackBar
        },
        computed: {
           isAddActive(){
                
                if(this.city != '' && this.street != '' && this.building != ''){
                    return false
                }
                return true
            },
            
        },
        watch: {
            GOE() {
                this.addAddressManually()
            }
        },
        methods: {
            ...mapActions('address', ['setAddressManual']),
            ...mapActions('manual_address', ['getCitysArr', 'getStreetsArr', 'getGeoAddressManual']),

            citysArr() {
                let data = {
                    city: this.city
                }
                this.getCitysArr(data)
            },

            addCity(city) {
                this.city = city
                this.listCity = false
            },

            streetsArr() {
                let data = {
                    city_name: this.city,
                    street_name: this.street
                }
                this.getStreetsArr(data)
            },

            addStreet(street) {
                this.street = street
                this.listStreet = false
            },
            geoData() {
                let geoData = {address: this.city + ',' + this.street + ',' + this.building}
                // let geoData = `street=${this.building}+${this.street}&city=${this.city}`
                console.log(geoData)
                this.getGeoAddressManual(geoData)
            },

            addAddressManually(){
                let data = {
                    city: this.city,
                    street_name: this.street,
                    building: this.building,
                    corp: this.corpus,
                    apartment: this.apartment,
                    latitude: this.GOE.data.geoData[0].lat,
                    longitude: this.GOE.data.geoData[0].lon
                    // latitude: 48.5132000,
                    // longitude: 32.2597000
                }
                //this.$router.replace({name: 'AddLic', params:{id: 1}})
                this.setAddressManual(data)
                .then(resp => {
                    console.log(resp.data)
                    this.$refs.SnackBar.show(resp.data.message , 'green darken-2')
                    this.$router.replace({name: 'AddLic', params:{id: resp.data.address}})
                })
                .catch(error => {
                    this.$refs.SnackBar.show(error.response.data.message , 'red darken-2')
                    console.log(error)
                })
            }
        },
    }

  
</script>

<style>

</style>





