<template>  
    <div style="margin-bottom: 10vh">
        <PageTitle
            :title= message
        >
        </PageTitle>
     
        <v-container>
            <v-row 
                justify="center"
                align="center"    
            >
                <v-col cols="12" align="center">
                    <v-avatar 
                        color="red" 
                        size="87"
                    >
                        <v-icon 
                            dark 
                            x-large
                        >
                            mdi-cog
                        </v-icon>
                    </v-avatar>
                </v-col>
                <v-col cols="12" align="center" class="mt-5">
                    <span style="font-size: 36px;">
                        {{info}}
                    </span>
                </v-col>
            </v-row>
            
           
            
        </v-container>
        <div
            class="toMainMenuButton"
        >
            <v-btn            
                block 
                x-large
                elevation="2"
                color="red"  
                :to="{name: route}"
            >
                <v-row
                    dense
                    align="center"
                >
                    <v-col align-self="center" color="black" style="color: white; text-align: center;" cols="12">
                        <span class="btn-text">
                            {{ textButton }}
                        </span>
                    </v-col>
                </v-row>
            </v-btn>
        </div>
    </div>
</template>

<script>
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import {mapGetters, mapActions} from 'vuex'
    export default {
        props: ['message', 'textButton', 'info', 'route'],
        name: 'AddedBad',
        data() {
            return {
                data: {
                    
                },
            }
        },
        components: {
            AppBar,
            PageTitle,
        },
    }

  
</script>

<style>
    .toMainMenuButton{
        position: fixed;
        bottom: 80px;
        padding: 10px;
        width: 100%;
    }
</style>


