<template>  
    <div style="margin-bottom: 10vh">
        <AppBar
            class="app-bar"
            :backButtonAlive="true"
        >
        </AppBar>
        <PageTitle
            
            title="Додати особові рахуки"
        >
        </PageTitle>
     
        <v-container 
            style="padding-bottom: 10vh"
        >
            <!-- <CommunalButton
                :loader="loader"
                v-for="(item, index) in companys"
                :key="index"
                :image="item.img"
                :imageLink=""
                :text="item.text"
                :onClickBtn="true"
                @buttonClick="openAddLic(item)"
            ></CommunalButton> -->
            <CommunalButton
                v-for="(item, index) in getCompanies"
                :key="index"
                :imageLink="item.image"
                :text="item.name"
                :onClickBtn="true"
                @buttonClick="openAddLic(item)"
            ></CommunalButton>
            
        </v-container>

        <v-col 
            class="fixed-bottom-button"
            align="center"
            cols="12"
        >
            <v-btn
                block 
                large
                color="green dark-2"
                elevation="2"
                :to="'/main/return'"
            >
                <v-row>
                    <v-col align="center" cols="12" color="black">
                        <h4 style="color: white">Завершити пізніше</h4>
                    </v-col>
                </v-row>
            </v-btn>
        </v-col>
        <SnackBar ref="SnackBar"/>
        <AddLicToAddress ref="AddLicToAddress"/>
    </div>
</template>

<script>
    import CommunalButton from '../../components/CommunalButton'
    import SnackBar from '../../../components/SnackBar'
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import AddLicToAddress from '../../components/Address/AddLicToAddress'
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'CompanyPage',
        data() {
            return {
                companys: [
                    {img: 'logo32.png', text: 'ПрАТ "Кіровоградобленерго"', to: '1', id: 0},
                    {img: 'koek.png', text: 'ТОВ "КОЕК"', to: '2', id: 2},                    
                    {img: 'vodokanal.png', text: 'ОКВП "Дніпро-Кіровоград"', to: '3', id: 1},
                    {img: 'teplo.png', text: 'КП "Теплоенергетик"', to: '4', id: 4},
                    {img: 'naftogaz.png', text: 'ГК "Нафтогаз України"', to: '5', id: 0},
                    {img: 'kr-gaz.png', text: 'ВАТ "Кіровоградгаз"', to: '6', id: 5},
                ]
            }
        },
        components: {
            AppBar,
            PageTitle,
            SnackBar,
            CommunalButton,
            AddLicToAddress
        },
        computed: {
            ...mapGetters('communal', ['getCompanies']),
            ...mapGetters('storage', ['KEY_VALUE']),
        },
        watch: {
            KEY_VALUE() {
                
                this.addAddressManually()
            }
        },
        methods: {
            ...mapActions('address', ['setAddressManual']),
            ...mapActions('communal', ['getCompanys']),
            addAddressManually(){
                let data = {
                    city: this.data.city,
                    street_name: this.data.street,
                    building: this.data.building,
                    corp: this.data.corp,
                    apartment: this.data.apartment
                }
                this.setAddressManual(data)
                .then(resp => {
                    console.log(resp.data)
                    this.$refs.SnackBar.show(resp.data.message , 'green darken-2')
                })
                .catch(error => {
                    this.$refs.SnackBar.show(error.response.data.message , 'red darken-2')
                    console.log(error)
                })
            },
            openAddLic(company){
                console.log(this.$route.params.id)
                this.$refs.AddLicToAddress.show(company, this.$route.params.id)
            },
        },
        mounted(){
            setTimeout(() => {
                console.log(this.getCompanies)
            }, 1000)
            
        }
    }

  
</script>

<style>
    .fixed-bottom-button{
        position: fixed; 
        bottom: 0px; 
        background: #fff; 
        width: 100%; 
        padding-top: 10px; 
        padding-left: 16px; 
        padding-right: 16px; 
        padding-bottom: 9vh;
    } 
</style>


