<template>  
    <div 
        v-touch="{
          up: () => swipe('Up'),
          down: () => swipe('Down')
        }"
        id="target"
        class="" 
        :key="key"
    >
    <AppBar
        class="app-bar"
        :header="header"
        :icon="'mdi-home-city'"
    >
    </AppBar>

    <Preloader v-show="preloader" :color="'#2e73b4'"/>

    <div>
          <CardCarousel
            class="carouselClass"
            id="header"
            :loader="loader"
            :selectedAddress.sync="selectedAddress"
            ref="CardCarousel"
        >
        </CardCarousel>

        <v-card 
            style="border-radius: 15px; padding-bottom: 7vh"
            class="cardSticky"
            id="mainCard"
            v-scroll="handleScroll"
        >
            <v-card-text 
                
            >
                <ButtonMenu
                    v-for="(data, index) in buttonsArray"
                    :loader="loaderBtn"
                    :data="data"
                    :index="index"
                    :address="selectedAddress"
                    :key="index"
                >
                </ButtonMenu>
          </v-card-text>
      </v-card>
    </div>

      
          
  </div>
</template>
<script>
    import AppBar from '../../components/AppBar.vue'
    import ButtonMenu from '../../components/ButtonMenu'
    import Preloader from '../../components/Preloader.vue'
    import CardCarousel from '../../components/CardCarousel'
    import LoaderButtons from '../../components/LoaderButtons'
    import {mapActions, mapGetters, mapMutations} from 'vuex'
    export default {
        name: 'Address',
        props: ['token'],
        data: () => ({
            header: 'Вашi адреси',
            loader: true,
            value: null,
            classCard: false,
            selectedAddress: {},
            classValue: false,
            snackbar: false,
            loaderBtn: true,
            category: {},
            buttonsArray: {},
            preloader: true,
            params: ''
         
        }),
        components:{
            ButtonMenu,
            CardCarousel,
            LoaderButtons,
            Preloader,
            AppBar
        },
        computed: {
            ...mapGetters('storage', ['getToken', 'KEY_VALUE']),
            ...mapGetters('address', ['GET_ALL_ADDRESSES']),
            ...mapGetters('seting', ['ATTEND']),
            key() {
                return this.KEY_VALUE
            },

            marginCard(){
                let obj = {};
                console.log(this.classCard)
                console.log(obj)
                let max = this.heightMonitor*0.3;
                if(this.classCard){
                    obj['mainDiv'] = 'position: fixed; right: 0px; left: 0px'
                    obj['cardText'] = 'flex-grow: 1; overflow: auto;'
                    obj['cardPos'] = 'height: 80vh;'
                } else {
                    obj['mainDiv'] = ''
                    obj['cardText'] = 'flex-grow: 1; overflow: hiden;'
                    obj['cardPos'] = ''
                }
                
                return obj
            },
            cardClass(){
                if(this.classValue === true){
                    return 'cardSticky2'
                    document.getElementById('mainCard').scrollTop += 10;

                } else {
                    return 'cardSticky'
                }
            },
        },
        watch: {
            'selectedAddress.id'(){
                this.preloader = false;
                // this.loaderBtn = true;
                this.getArrayButtons();
            },

          

            '$route.name': function() { 
                if(this.$route.name == 'Addresses' || this.$route.name == 'Push') {
                    setTimeout(() => {
                        this.preloader = false
                    }, 2000);
                } else {
                    this.preloader = true
                }
            },
            ATTEND() {
                if(this.ATTEND.show_intro == true) {
                this.$router.push({name: 'Intro'})
                }
            },

            selectedAddress() {
                this.$refs.CardCarousel.newCoordinats(this.selectedAddress)
            },

            // solution to display categories when adding the first address
            GET_ALL_ADDRESSES() {
                if(this.GET_ALL_ADDRESSES.length === 1) {
                    this.getButtonsForAddress({city_id: this.GET_ALL_ADDRESSES[0].city_id})
                    .then(resp => {
                        let category = resp.data.category
                        this.category = category
                        let categoryArray = this.buttonsArray
                        this.buttonsArray = category
                        for(let i in categoryArray){
                            // if(category[i].status === 0 || category[i] == undefined){
                            //     delete categoryArray[i];
                            // }
                        }
                        this.loaderBtn = false;
                    })
                }
            }
        },
        methods: {
            click() {
                console.log('Hey!!!')
            },

            ...mapMutations('storage', ['setToken', 'setBaseUrl', 'setLang']),
            ...mapActions('address', ['getButtonsForAddress']), 
            ...mapActions('seting', ['attendUser']),
            
            swipe (direction) {
              // console.log(direction)
              //   if(direction === 'Up' && this.classCard != true){
              //       this.classCard = true;
              //   } else if(direction === 'Down' && this.classCard != false){ 
              //       this.classCard = false;
              //   }
            },
            getArrayButtons(){
                    this.getButtonsForAddress({city_id: this.selectedAddress.city_id})
                    // console.log(this.selectedAddress)
                    .then(resp => {
                        let category = resp.data.category
                        this.category = category
                        let categoryArray = this.buttonsArray
                        this.buttonsArray = category
                        // for(let i in categoryArray){
                        //     if(category[i].status === 0 || category[i] == undefined){
                        //         delete categoryArray[i];
                        //     }
                        // }
                        this.loaderBtn = false;
                    })
                
                
            },
           scrollToTop() {
                window.scrollTo(0, 30);
           },

           handleScroll: function (evt, el) {
            if (window.scrollY < 1) {
                console.log(window.scrollY)
            }
             
            }


        },

        created() {
            console.log(this.$route.params);
            console.log(document.location.host)
            if(document.location.host == 'preview-kr.smartregion.com.ua') {
                let devAPIUrl = 'https://dev-kr.smartregion.com.ua/api/region/v1/'
                this.setBaseUrl(devAPIUrl)
            }
            this.setToken(this.$route.params.token)
        },

        mounted() {
            //this.setToken(this.$route.params.token)
            setTimeout(() => {
                this.loader = false;
            }, 500);

            this.scrollToTop(); 

            if(this.getToken !== '') {
                if(this.$route.params.load) {
                    if(this.$route.params.load === 'lang') {
                        this.setLang(this.$route.params.num) 
                    } else if(this.$route.params.load === "pageLoad") {
                        this.$router.push({name: 'NotificationsPage'})
                    }
                    // this.$router.push({name: 'NotificationsPage'})
                // } else if(this.$route.params.lang == 'lang') {
                //     this.params = this.$route.params.load
                //     this.$router.push({name: 'Lang'})
                }
            };
            this.attendUser()
            

            if(this.GET_ALL_ADDRESSES.length > 0) {
                this.preloader = false
            }
            
        },
    }

  
</script>
<style>
  body{
    overflow: hiden;
  }
  .cardSticky{
    margin-top: -2vh;
  }
  .cardSticky2{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    overflow: auto;
    height: 85vh
  }
  /* .carouselClass{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  } */
  
  .scroleCardText {
    flex-grow: 1;
    overflow: auto;
  }
  .blockCardText {
    flex-grow: 1;
    overflow: hiden;
  }
  .scroleCard {
    margin-top: -35vh;
  }
  .blockCard {
    margin-top: -3vh;
  }

</style>