<template>  
    <div style="margin-bottom: 10vh">
        <AppBar
            class="app-bar"
            :backButtonAlive="true"
        >
        </AppBar>
        <PageTitle
            
            title="Додати адресу"
        >
        </PageTitle>
        
        <v-container>
            {{text}}!{{getCoordinates}}
            <v-row justify="center" align="center" style="height: 70vh">
                <v-col align="center" cols="12">
                    <v-progress-circular
                        :size="70"
                        :width="7"
                        color="purple"
                        indeterminate
                    ></v-progress-circular>
                </v-col>
            </v-row>
        </v-container>
        
    </div>

</template>

<script>
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'BeforeAddAddress',
        data() {
            return {
                text: ''
            }
        },
        components: {
            AppBar,
            PageTitle,
        },
        computed: {
            ...mapGetters('address', ['getCoordinatesStatus', 'getCoordinates']),

        },
        watch: {
            '$store.state.address.coordinatesStatus': function(){
                console.log("this.getCoordinatesStatus")
                console.log(this.getCoordinatesStatus)
                this.text = typeof this.getCoordinates.latitude;
                // this.$router.push({name: 'AddressMap'})
                // return
                
                if(this.getCoordinatesStatus){

                    if((this.getCoordinates.latitude < 49.1 && this.getCoordinates.latitude > 47.7) && (this.getCoordinates.longitude < 33.91 && this.getCoordinates.longitude > 29.7)){
                        this.$router.push({name: 'AddressMap', params: {coordinates: this.getCoordinates}})
                    } else {
                        // this.$router.push({name: 'AddAddress', params: {text: 'Ви знаходитесь за межами Кіровоградської області'}}) 
                        this.$router.push({name: 'AddressMap', params: {coordinates: this.getCoordinates}})
                    }
                    
                } else {
                    this.$router.push({name: 'AddAddress'}) 
                }
            }
        },
        methods: {
            tte(){
                //this.text = this.getCoordinatesStatus
                setTimeout(() => {
                    this.tte()
                }, 1000)
            }
        },
        mounted(){
            //this.$router.push({name: 'AddressMap'})
            this.tte()
        }
    }

  
</script>

<style>
  
</style>


