<template>
    <div class="education">
        <AppBar
            class="app-bar"
            :header="'Навчальні Заклади'"
        >
        </AppBar>
      <v-container>
        <h3 class="d-flex justify-center">В Розробці</h3>
        <ButtonCategories
            v-for="item in educations"
           :key="item.id"
            :icon="item.icon"
            :text="item.title"
            :icon_color="item.color_icon"
            snackbar_color="red"
            text_color="black"
       />
      </v-container>
    </div>
</template>

<script>
import AppBar from '../../components/AppBar.vue'
import ButtonCategories from "../../components/ButtonsCategories/ButtonCategories";

export default {
    name: 'Education',
    components: {
        AppBar,
      ButtonCategories,
    },
  data() {
    return {
      educations: [{
        id:1,
        title:"Школи",
        icon:"mdi-book-open-page-variant",
        color_icon:"#1e21d4",
      },{
        id:2,
        title:"Університети",
        icon:"mdi-school",
        color_icon:"#d41e70",
      }],
    }
  },
}
</script>

<style scoped>

</style>