<style>
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  

  .gradient1{ 
    background: #c79081;
    background: -webkit-linear-gradient(to right, #c79081 , #dfa579);
    background: linear-gradient(to right,  #c79081 , #dfa579);
  }        

  .gradient2{ 
    background: #a3bded;
    background: -webkit-linear-gradient(to right, #a3bded , #6991c7);
    background: linear-gradient(to right,  #a3bded , #6991c7);
  }   

</style>
<template>  
    <v-container style="padding-top: 0px; padding-left: 0px; padding-right: 0px; padding-bottom: 10vh;" >


    <v-row >
        
    
        <CardCarousel
            id="header"
            
            :loader="loader"
        >
        </CardCarousel>
    </v-row>

    <template >
        <v-card rounded="xl" >
            <v-card-text >
                <div class="mt-2 p-0" >
                    <v-skeleton-loader
                        v-show="loader"
                        style="margin-left: 0px"
                        type="image"
                        height="70px"
                    ></v-skeleton-loader>
                    <v-alert
                        v-show="!loader"
                        dense
                        border="left"
                        type="orange darken-4"
                    >
                        Для повноцінного користування необхідно підтвердити Gov ID
                    </v-alert>   
                </div> 
                
                    <ButtonMenu
                        v-for="(data, index) in buttonsArray"
                        :loader="loader"
                        :data="data"
                    >
                    </ButtonMenu>
                </div>
            </v-card-text>
    </v-card>
          
    </template>
    <v-snackbar
          :timeout="2000"
          v-model="snackbar"
          absolute
          multi-line="true"
          shaped
          
          color="indigo"
          
          centered
        >
          <span style="font-size: 1.5em;">Ще в розробці</span>
        </v-snackbar>
  </v-container>
</template>

<script>
  

  import ButtonMenu from './components/ButtonMenu'
  import CardCarousel from './components/CardCarousel'
  export default {
    name: 'Categories',
    data: () => ({
        loader: true,
        value: null,
        snackbar: false,
        buttonsArray: [
            {title: 'МІСЬКА РАДА', image: '32.png', to: '/rada'},
            {title: 'ОБЛАСНА РАДА', image: 'gerb-oblrada32.png', to: ''},
            {title: 'КОМУНАЛЬНІ ПІДПРИЄМСТВА', icon: 'mdi-terraform', color: 'green', to: '/communalList'},
            {title: 'ТРАНСПОРТ МІСТА', icon: 'mdi-subway', color: 'yellow darken-2', to: ''},
            {title: 'МЕДИЧНІ ЗАКЛАДИ', icon: 'mdi-hospital-box', color: 'red darken-2', to: ''},
            {title: 'ОСВІТА ЗАКЛАДИ', icon: 'mdi-book-education', color: 'orange darken-2', to: ''},
            {title: 'ШТРАФИ МРЕВ', icon: 'mdi-car', color: 'primary darken-2', to: '/communalList'},
        ]
     
    }),
    components:{
      ButtonMenu,
      CardCarousel
    },

    mounted() {
      setTimeout(() => {
                this.loader = false;
            }, 500);
    }
  }

  
</script>



