<template>  
    <div 
      v-touch="{
        up: () => swipe('Up'),
        down: () => swipe('Down')
      }"
      style="position: fixed" 
    >


    
         <CardCarousel
            
            class="carouselClass"
            id="header"
            :loader="loader"
        >
        </CardCarousel>
    
    
    
      <v-card rounded="xl" 
        
        style="height: 80vh;"
        :class="[cardClass[0]]"
      >
      
        <v-card-text :class="[cardClass[1]]">

      <div class="mt-2 p-0" >
          <v-skeleton-loader
              v-show="loader"
              style="margin-left: 0px"
              type="image"
              height="70px"
          ></v-skeleton-loader>
          <v-alert
              v-show="!loader"
              dense
              border="left"
              type="orange darken-4"
              
          >
              Для повноцінного користування необхідно підтвердити Gov ID
          </v-alert>   
      </div> 
      
      <ButtonMenu
        v-for="(data, index) in buttonsArray"
        :loader="loader"
        :data="data"
      >
      </ButtonMenu>
      
    </v-card-text>
    </v-card>
          
    
    
    <v-snackbar
          :timeout="2000"
          v-model="snackbar"
          absolute
          multi-line="true"
          shaped
          
          color="indigo"
          
          centered
        >
          <span style="font-size: 1.5em;">Ще в розробці</span>
        </v-snackbar>
  </div>
</template>
<script>
  import ButtonMenu from './components/ButtonMenu'
  import CardCarousel from './components/CardCarousel'
  export default {
    name: 'Categories',
    data: () => ({
        loader: true,
        value: null,
        classCard: false,
        snackbar: false,
        buttonsArray: [
            {title: 'МІСЬКА РАДА', image: '32.png', to: '/rada'},
            {title: 'ОБЛАСНА РАДА', image: 'gerb-oblrada32.png', to: ''},
            {title: 'КОМУНАЛЬНІ ПІДПРИЄМСТВА', icon: 'mdi-terraform', color: 'green', to: '/communalList'},
            {title: 'ТРАНСПОРТ МІСТА', icon: 'mdi-subway', color: 'yellow darken-2', to: ''},
            {title: 'МЕДИЧНІ ЗАКЛАДИ', icon: 'mdi-hospital-box', color: 'red darken-2', to: ''},
            {title: 'ОСВІТА ЗАКЛАДИ', icon: 'mdi-book-education', color: 'orange darken-2', to: ''},
            {title: 'ШТРАФИ МРЕВ', icon: 'mdi-car', color: 'primary darken-2', to: '/communalList'},
        ]
     
    }),
    components:{
      ButtonMenu,
      CardCarousel
    },
    computed: {
      cardClass(){
        console.log(this.classCard)
          if(this.classCard){
            return ['scroleCard', 'scroleCardText']
          }
          return ['blockCard', 'blockCardText']
      },
      marginCard(){
        let i = this.handleScroll()
        console.log(i)
        return i
      }
    },
    methods: {
    handleScroll (event) {

      
      let y = 300-window.pageYOffset;
      if(y < 150) {
        console.log(y)
        return 'auto'
      }
      return 'auto'
      
    },
    swipe (direction) {
      console.log(direction)
        if(direction === 'Up' && this.classCard != true){
            this.classCard = true;
        } else if(direction === 'Down' && this.classCard != false){
            this.classCard = false;
        }
    },
  },
    mounted() {
      setTimeout(() => {
                this.loader = false;
            }, 500);
    },
    created () {
      window.addEventListener('scroll', this.handleScroll);
    },
    destroyed () {
      window.removeEventListener('scroll', this.handleScroll);
    },
  }

  
</script>
<style>

  .carouselClass{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
  }
  .v-card {
    display: flex !important;
    flex-direction: column;
    transition-timing-function: linear;
    transition-property: all;
    transition-duration: 0.2s;
  }
  .v-card__text {
    transition-property: all;
    transition-duration: 0.2s;
  }
  .scroleCardText {
    
    flex-grow: 1;
    overflow: auto;
    
  }
  .blockCardText {
    
    flex-grow: 1;
    overflow: hiden;
    
  }
  .scroleCard {
    margin-top: -35vh;
    
    
  }
  .blockCard {
    margin-top: -3vh;
   
    
  }

</style>