<template>
    <div class="medicine">
        <AppBar
            class="app-bar"
            :header="'Медичні заклади'"
        >
        </AppBar>
        <v-container>
        <h3 class="h3-medicine">В Розробці</h3>
        <ButtonCategories
            v-for="item in medicines"
            :key="item.id"
            :img="item.image"
            :text="item.title"
            snackbar_color="red"
            text_color="black"
        />
      </v-container>
    </div>
</template>

<script>
import AppBar from '../../components/AppBar.vue'
import ButtonCategories from "../../components/ButtonsCategories/ButtonCategories";

export default {
    name: 'Medicine',
    components: {
        AppBar,
      ButtonCategories,
    },
  data() {
    return {
      medicines: [{
        id:1,
        title:"Helsi",
        image:require('../../../assets/helsi-logo.png'),
      }],
    }
  }
}
</script>

<style scoped>
.h3-medicine{
  display: flex;
  justify-content: center;
}

</style>