<template>
    <v-app>
        <!-- <iframe height="500px" width="100%" style="position: absolute; z-index: 10000" src="https://tawk.to/chat/5ea9604069e9320caac86e55/default?$_tawk_sk=undefined&$_tawk_tk=undefined&v=698" frameborder="0"></iframe> -->
         <!-- <iframe height="500px" width="100%" style="position: absolute; z-index: 10000" src="https://tawk.to/chat/5ea9604069e9320caac86e55/default?$_tawk_sk=undefined&$_tawk_tk=undefined&v=698" frameborder="0"></iframe> -->
        <!-- <v-bottom-navigation
            :class="bgColor"
            v-if="this.$route.name !== 'PreviewPage'"
            :fixed="true"
            height="84px"
            
        >
            <v-btn 
                style="margin: auto; border-radius: 50%;
                background:transparent"
                @click="addAddress(), color(0);"
                :color="color"
                fab
                icon
                
                >
                <span>Мапа</span>
                <v-icon >mdi-map-marker</v-icon>
            </v-btn>
            Button for development mode with "hardCode token" 
            <v-btn
                style="margin: auto; border-radius: 50%;
                background:transparent"
                @click="clickAddress(), color(1);"
                :color="color"
                fab
                icon
                
            >
                <span>Адреси</span>
                <v-icon>mdi-home-city</v-icon>
            </v-btn>    

            <v-btn
                style="margin: auto; border-radius: 50%;
                background:transparent"
                @click="clickPayment(), color(2);"
                :color="color"
                fab
                icon
                
                
            >
                <span>Оплата</span>
                <v-icon >mdi-credit-card</v-icon>
            </v-btn>

            <v-btn
                style="margin: auto; border-radius: 50%;
                background:transparent"
                @click="clickNotification(), color(3);"
                :color="color"
                fab
                icon
                
            >
                <span>Cповіщення</span>
                <v-badge
                    v-if="count > 0 && count < 30"
                    overlap
                    :content="count"
                    color="yellow darken-4"
                >
                    <v-icon>mdi-bell</v-icon>
                </v-badge>
                <v-badge
                    v-if="count == 30"
                    overlap
                    :content="'30+'"
                    color="yellow darken-4"
                >
                    <v-icon>mdi-bell</v-icon>
                </v-badge>
                <v-icon v-if="count == 0">mdi-bell</v-icon>
            </v-btn>
        </v-bottom-navigation> -->
        <BottomNavigation v-if="this.$route.name !== 'PreviewPage'" 
            :options="options" 
            v-model="selected"
            :foreground-color="foregroundColor"  
            >
        </BottomNavigation>
        <v-main>
            <!-- <transition name="fade" mode="out-in"> -->
                <keep-alive>
                    <router-view/>
                </keep-alive>
            <!-- </transition> -->
        </v-main>
        <v-snackbar
            :timeout="5000"
            v-model="snackbar"
            absolute
            :multi-line="true"
            shaped
            style="position: fixed; top: 0px;"
            color="green"
            
          centered
        >
            <span style="font-size: 16px;" class="align-center"> {{message}} </span>
        </v-snackbar>
        <PopupInfo ref="PopupInfo" :text="'Ви можете додати особові рахунки за трьома адресами. Якщо Вам потрібно більше – зверніться до технічної підтримки.'"/>
    </v-app>
</template>

<script>
    require('./externalScripts/nativescript-webview-interface.js');
    
    import {mapGetters, mapMutations, mapActions} from 'vuex'
    import PopupInfo from './views/components/PopupInfo.vue'
    import BottomNavigation from './views/components/BottomNavigation.vue'
    export default {
        name: 'App',
        components: {PopupInfo, BottomNavigation},
        data: () => ({
            selected: 0,
            options: [
                { 
                    id: 0, 
                    icon: "mdi-map-marker", 
                    title: "", 
                    
                },
                { 
                    id: 1, 
                    icon: "mdi-home-city", 
                    title: "", 
                    
                },
                { 
                    id: 2, 
                    icon: "mdi-credit-card", 
                    title: "",
                    
                },
                {
                    id: 3,
                    icon: "mdi-apple-keyboard-command",
                    title:""
                },
                { 
                    id: 4, 
                    icon: "mdi-bell", 
                    title: "",
                    badge: '',
                    
                },
    ],
            snackbar: false,
            value:0,
            message: '',
            keyValue: 0,
            count: 0,
            token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9rci5zbWFydHJlZ2lvbi5jb20udWFcL2FwaVwvcmVnaW9uXC92MVwvYXV0aFwvdXNlckF1dGgiLCJpYXQiOjE2MjQ1NDk1ODQsImV4cCI6Mzk1NzM0OTU4NCwibmJmIjoxNjI0NTQ5NTg0LCJqdGkiOiJNODVvOTVZMUhNVFh0a0UzIiwic3ViIjoxMDQ0LCJwcnYiOiI3NmQ1OTVmNDFkMDk2MmQ0ZDIyM2UxYzE2NzQyNjdhODJhMjA2MzY2In0.XAikBOygbj1EAqLS7Tc1Rudorjfl9x7o6Q8fAG080BE',
        }),

        computed: {
             ...mapGetters('storage', ['getToken', 'COLOR', 'KEY_VALUE']),
             ...mapGetters('address', ['DISABLED_BTN', 'GET_ALL_ADDRESSES']),
             ...mapGetters('notification', ['LIST_NOTIFICATIONS']),
                color () {
                    switch (this.value) {
                    case 0: return '#34a853'
                    case 1: return 'teal'
                    case 2: return '#2e72b4'
                    case 3: return 'purple'
                    case 4: return 'orange'
                    default: 
                        return '#2e72b4'
                    }
                },
                foregroundColor(){
                    if(this.selected===0){
                        this.addAddress()

                        return '#34a853'
                    }
                    if(this.selected===1){
                        this.clickAddress()
                        return 'teal'
                    }
                    if(this.selected===2){
                        this.clickPayment()
                        return '#2e72b4'
                    }
                    if(this.selected===3){
                        this.clickNotification()
                        return 'purple'
                    }
                    if(this.selected===4){
                        this.clickNotification()
                        return 'orange'
                    }
                    else return '#2e72b4'
                }
                
        },
        watch: {
            LIST_NOTIFICATIONS() {
                this.count = 0
                let count = this.LIST_NOTIFICATIONS.notifications
                    count.forEach(element => {
                        if(element.read_status === 0) {
                        this.count++  
                    }
                });
                
            },

            value() {
                this.setColor(this.color)
            }, 

            '$route.name': function() {
                this.checkColor()
                this.plusKeyValue()
            },

            '$store.state.storage.snackBar': function(){
              
                // console.log(this.$store.state.storage.snackBar)
                if(this.$store.state.storage.snackBar){
                  
                    this.snackbar = true;
                        this.setSnackBar(false);
                }
            },
            '$route.path': function(){
               
            },
            
        },

        methods: {
            ...mapMutations('storage', ['setSnackBar', 'setToken', 'setColor', 'setKeyValue']),
            ...mapActions('communal', ['getCompanys']),
            ...mapActions('notification', ['getListNotifications', 'getOneNotification']),
            getCompanysArray(){
                this.getCompanys();
            },
            addAddress(){
                if(this.GET_ALL_ADDRESSES.length >= 10) {
                    this.$refs.PopupInfo.showSnackbar();
                } else {
                    var oWebViewInterface = window.nsWebViewInterface;
                    oWebViewInterface.emit('addAdress', ' ');
                    this.$store.state.address.loadMap = true
                    this.$router.push({name: 'AddressMap'})
                }
                
            },

            clickNotification() {
                this.$router.push({name: 'NotificationsPage'})
            },
            
            clickAddress() {
                    if(this.DISABLED_BTN === true) {
                    this.message = 'Щоб скористатися функціями додатку, будь ласка вкажiть свою адресу'
                    this.snackbar = true
                    } 
                    else if(this.DISABLED_BTN === false) {
                            if(this.getToken === '') {
                                this.$router.push({name: 'Addresses', params: { token: '${storage.getItem(\'accessToken\')}' }})
                            } else {
                                this.$router.push({name: 'Addresses', params: { token: this.getToken }})
                            }
                    }
            },
            
            // for dev
            // clickAddress() {
            //     if(this.DISABLED_BTN === true) {
            //         this.message = 'Щоб скористатися функціями додатку, будь ласка вкажiть свою адресу'
            //         this.snackbar = true
            //     } 
            //     else if(this.DISABLED_BTN === false) {
            //         this.$router.push({name: 'Addresses', params: { token: this.token }})
            //         // this.$router.go()
            //     }
            // },
            clickPayment() { 
                if(this.DISABLED_BTN === true) {
                    this.message = 'Щоб скористатися функціями додатку, будь ласка вкажiть свою адресу'
                    this.snackbar = true
                } 
                else if(this.DISABLED_BTN === false) {
                    
                    if(this.getToken === '') {
                        this.$router.push({name: 'AllPayment', params: { token: '${storage.getItem(\'accessToken\')}' }})
                    } else {
                        this.$router.push({name: 'AllPayment', params: {token: this.getToken}})
                    }
                   
                }
            },

            // for dev
            //  clickPayment() {
            //     if(this.DISABLED_BTN === true) {
            //         this.message = 'Щоб скористатися функціями додатку, будь ласка вкажiть свою адресу'
            //         this.snackbar = true
            //     } 
            //     else if(this.DISABLED_BTN === false) {
            //         this.$router.push({name: 'AllPayment', params: { token: this.getToken }})
                    
            //     }
            // },

            checkColor() {
                if(this.$route.name == 'Addresses' || this.$route.name == 'CommunalListPage') {
                    this.value = 1               
                } else if(this.$route.name == 'AllPayment') {
                    this.value = 2               
                } else if(this.$route.name == 'AddressMap') {
                    this.value = 0               
                } else if(this.$route.name == 'NotificationsPage') {
                    this.value = 3               
                }
            },

            plusKeyValue() {
                // this.keyValue++
                // this.setKeyValue(this.keyValue)
                this.setKeyValue()
            }

                                
        },

        created() {
            console.log(this.$route.params);
            this.setToken(this.$route.params.token)
        },

        mounted(){
            // console.log(this.$route)
            // this.setToken(this.$route.params.token)
            setTimeout(() => {
                this.getCompanys();
            }, 1000);
            this.setColor(this.color);
            this.checkColor();
            this.getListNotifications();
        }
    };
</script>

<style>

  ::-webkit-scrollbar { 
    width: 0px;  
    background: transparent; 
  }
  .fade-enter, .fade-leave-to {
        opacity: 0;
        transform: translateX(2em);
    }
    .fade-enter-active, .fade-leave-active{
        transition: all .3s ease;
    }

    .v-dialog {
        box-shadow: none !important;
        margin: 0 !important;
    }

    .v-dialog:not(.v-dialog--fullscreen) {
    max-height: 97% !important;
    }

    .v-input--selection-controls__ripple {
        position: inherit !important;
    }

    .theme--light.v-sheet:not(.v-sheet--outlined):not(.v-sheet--shaped) .v-banner__wrapper {
    border-bottom: none !important;
    }

    .theme--dark.v-btn.v-btn--disabled.v-btn--has-bg {
    background-color: rgb(56, 141, 211) !important;
    }

    .theme--dark.v-btn.v-btn--disabled {
    color: none !important;
    }

    /* for dark theme */
    /* .theme--dark.v-btn.v-btn--has-bg {
        background-color: transparent !important;
    } */

    /* .snackbar_border_rad_for_map {
        border-radius: 15px !important;
    } */

    .v-sheet.v-snack__wrapper {
        border-radius: 15px !important;
        margin-bottom:40px;
    }
    .leaflet-popup-content-wrapper, .leaflet-popup-tip {
        background: rgba(252, 252, 252, 0.8) !important;
    }

    .leaflet-popup {
        margin-bottom: 6vh !important;
    }

    .leaflet-popup-content-wrapper {
        text-align: center !important;
        border-radius: 15px !important;
    }

    .v-sheet.v-stepper:not(.v-sheet--outlined) {
        box-shadow: none !important;
    }
    
</style>



// <style lang="scss" scoped>
//   .phone-viewport {
//     width: 322px;
//     height: 200px;
//     display: inline-flex;
//     align-items: flex-end;
//     overflow: hidden;
//     border: 1px solid rgba(#000, .26);
//     background: rgba(#000, .06);
//   }
// </style>
