<template>  
    <div style="margin-bottom: 10vh">
        <v-container>
            
            <v-snackbar
                v-model="snackbarFalse"
                centered
                color="#fff"
                class="text-center"
                :timeout="-1"
            >
                <v-row>
                    <v-col cols="12" class="text-center pb-0">
                        <span style="font-size: 16px; color: #0000008c">
                            Введені данні не вірні! <br/>
                            Будь ласка перевірте номер лічильника та спробуйте ще!
                        </span>
                    </v-col>

                    <v-col cols="12" class="text-center  pt-0" style="z-index: 100">
                        <v-btn
                        class="ma-auto"
                        text
                        @click="snackbarFalse = false"
                        color="#4385f4"
                        >
                        Зрозуміло
                        </v-btn>
                    </v-col>
                </v-row>
            </v-snackbar>

            <v-snackbar
                v-model="snackbarTrue"
                centered
                color="#fff"
                class="text-center"
                :timeout="-1"
            >
                <v-row>
                    <v-col cols="12" class="text-center pb-0">
                        <span style="font-size: 16px; color: #0000008c">
                            Лічильник №<span style="font-weight:  700">{{ numderCounter }}</span> <br/>
                            за осбовим рахунком <span style="font-weight:  700">{{ DEBT.ls }}</span> успішно підтверджено! 
                        </span>
                    </v-col>

                    <v-col cols="12" class="text-center  pt-0" style="z-index: 100">
                        <v-btn
                        class="ma-auto"
                        text
                        @click="goToMeterage(), snackbarTrue = false"
                        color="#4385f4"
                        >
                        Продовжити
                        </v-btn>
                    </v-col>
                </v-row>
            </v-snackbar>

            <v-row dense align="center">
                <v-col class="text-center mx-3 mt-10">
                    <h3>Шановний клієнте!</h3>
                    <p>
                        Щоб верифікувати свій аккаунт, будь ласка введіть унікальний номер свого лічильника.
                    </p>
                </v-col>
            </v-row>
            <v-row 
                align="start"
                no-gutters
            >   
                <v-col 
                    align="center"
                    cols="12"
                >    
                    <div>
                        <v-row dense justify="center" align="center">
                            <v-col align="center" cols="12">
                                <v-text-field
                                    label="Введіть номер лічильника"
                                    v-model="numderCounter"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </div>
                    
                    <v-col align="center" cols="12">
                        <v-btn
                            @click="addCounter()"
                            block 
                            x-large
                            elevation="2"
                            color="#4385f4"
                        >
                            <v-row
                                dense
                                align="center"
                            >
                                <v-col align-self="center" color="black" style="color: white" cols="12">
                                    <span class="btn-text">
                                        Продовжити
                                    </span>
                                </v-col>
                            </v-row>
                        </v-btn>
                    </v-col>
                </v-col>         
            </v-row>
        </v-container>
    </div>
</template>

<script>
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import InputMeterageDialog from '../../components/Communal/InputMeterageDialog'
    import axios from 'axios'
    import { mapActions, mapGetters, mapMutations } from 'vuex'
    export default {
        name: 'AddCounter',
        props: ['name', 'addressId', 'companyId'],
        data() {
            return {
                numderCounter: '',
                snackbarTrue: false,
                snackbarFalse: false
            }
        },
        components: {
            InputMeterageDialog,
            AppBar,
            PageTitle
        },

        watch: {
            ADD_STATUS() {
                if(this.ADD_STATUS == true) {
                    this.snackbarTrue = true
                } else if(this.ADD_STATUS == false) {
                    this.snackbarFalse = true
                    this.addStatusDefault()
                }
               
            }
        },
        
        computed: {
            ...mapGetters('storage', ['getToken']),
            ...mapGetters('meterage', ['ADD_STATUS']),
            ...mapGetters('confirm_company', ['COMPANY_INFO', 'COMPANY_ID']),
            ...mapGetters('getAddressInfo', ['SELECTED_ADDRES']),
            ...mapGetters('getAddressInfo', ['DEBT']),
        },

        methods: {
            ...mapActions('meterage', ['addCounters', 'checkCounters']),
            ...mapMutations('meterage', ['addStatusDefault', 'setCounters']),

            click(){
                this.$router.replace({name: 'CompanyPage'})
            },

            goToMeterage() {
                this.checkCounters(this.SELECTED_ADDRES.id)
            },  

            classText(i)
            {
                if(i%2==0){
                    return 'grey-back'
                }
                return ''
            },

            addCounter() {           
                let data = {
                        address_id: this.SELECTED_ADDRES.id,
                        company_id: this.COMPANY_ID,
                        counter: this.numderCounter,
                    }
                this.addCounters(data)
            }, 
        },
        
    }

  
</script>

<style>
  .btn-text{
        white-space: normal;
  }
  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
</style>


