
<template>  
    <div>
       <AppBar
            class="app-bar"
        >
        </AppBar>
        <PageTitle
            title="Додати підприємства"
        >
        </PageTitle>
        <v-container>
            <v-text-field
                label="Назва компанії"
                v-model="companyName"
            ></v-text-field>
            <CommunalButton
                :loader="loader"
                v-for="(item, index) in companyFilter"
                :key="index"
                :imageLink="item.image"
                :text="item.name"
                onClickBtn="true"
                @buttonClick="addCompany(item)"
            ></CommunalButton>
        </v-container>
        <AddLicToAddress ref="AddLicToAddress" />
    </div>
</template>

<script>
    import CommunalButton from '../../components/CommunalButton'
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import AddLicToAddress from '../../components/Address/AddLicToAddress'
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'AddCompanyToAddress',
        props: ['company', 'address'],
        data() {
            return {
                dialog: false,
                snackbar: false,
                loader: false,
                addCompanyList: [],
                companyName: '',
                companys: [
                    {img: 'logo32.png', text: 'ПрАТ "Кіровоградобленерго"', to: '1'},
                    {img: 'koek.png', text: 'ТОВ "КОЕК"', to: '2'},                    
                    {img: 'vodokanal.png', text: 'ОКВП "Дніпро-Кіровоград"', to: '3'},
                    {img: 'teplo.png', text: 'КП "Теплоенергетик"', to: '4'},
                    {img: 'naftogaz.png', text: 'ГК "Нафтогаз України"', to: '5'},
                    {img: 'kr-gaz.png', text: 'ВАТ "Кіровоградгаз"', to: '6'},
                ],
            }
        },
        components: {
            AppBar,
            PageTitle,
            CommunalButton,
            AddLicToAddress,
        },
        computed:{
            ...mapGetters('communal', ['getCompanies']),
            companies(){
                this.getCompanyByAddress(this.address.id)
                .then(resp => {
                    this.company = resp.data.company
                })
                .catch(error => {
                    console.log(error.response)
                })
                console.log('companies')
            },
            companiesForAdd(){
                console.log('companiesForAdd')
            },
            companyFilter(){
                return this.$store.state.communal.addressCompanyAdd.filter((obj) => {
                    if(obj.name.toLowerCase().indexOf(this.companyName.toLowerCase()) !== -1){
                        return true
                    } else {
                        return false
                    } 
                })
            },
},
        watch: {
            'address.id'(){
                this.getCompanyForAddress()
            }
        },
        methods: {
            
            ...mapActions('communal', ['getCompanys', 'getCompanyByAddress']),
            // addCompany(company){
            //     //this.$refs.AddLicToAddress.show(this.company, this.address.id)
            //     this.companyName = '';
            //     // this.$router.push({ name: 'AddLicToAddress', params: { id: company.id, company: company, address: this.address } })
            //     this.dialog = false
            // },
            getCompanyForAddressAdd(){
                let addCompany = []
                for(let i = 0; i < this.getCompanies.length; i++){
                    addCompany[i] = this.getCompanies[i]
                }
                console.log(addCompany)
                for(let i = 0; i < addCompany.length; i++){
                    for(let id in this.company){
                        if(addCompany[i].id == id){
                            addCompany.splice(i, 1)
                        }
                    } 
                }
                this.addCompanyList = addCompany
                return addCompany
            },
            getCompanyForAddress(){
                this.getCompanyByAddress(this.address.id)
                .then(resp => {
                    
                    this.getCompanyForAddressAdd();
                })
                .catch(error => {
                    console.log(error.response)
                })
            },
            getCompanysList(){
                this.getCompanys()
                .then((resp) => {
                  this.loader = false
                    console.log(resp.data)
                })
            },
            classText(i)
            {
              if(i%2==0){
                return 'grey-back'
              }
              return ''
            },

        },
        mounted(){
            console.log(this.address)
            console.log(this.company)
            
        }
    }

  
</script>

<style>
  .grey-back{
    background: rgb(216,216,216);
  }  
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  
  .btn-text{
        white-space: normal;
  }
  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    .addBtn{
        position: fixed;
        bottom: 80px;
        right: 16px;
    }
    .v-text-field input {
        flex: 1 1 auto;
        line-height: 20px;
        padding: 8px 8px;
        max-width: 100%;
        min-width: 0px;
        width: 100%;
        text-align: center;
    }
</style>





