<template>
    <div>
        <AppBar
            class="app-bar"
        >
        </AppBar>
        <PageTitle
            title="Додати підприємства"
        >
        </PageTitle>
        <v-container style="padding-top: 16px">
            <v-row 
                align="center"
                justify="center"
                no-gutters
            >
                <!-- <v-col cols="12" align="center">
                    Номер особового рахунку
                </v-col> -->
                <v-col cols="12" align="center">
                    <v-text-field
                        label="Назва компанії"
                        v-model="lic"
                    ></v-text-field>
                </v-col>
            </v-row>
            <v-row 
                align="center"
                justify="center"
            >
                <v-col cols="8" align="center">
                    <v-btn
                        @click="addLicAddress"   
                        block 
                        x-large
                        elevation="2"
                        color="green darken-2"
                    >
                        <v-row
                            dense
                            align="center"
                        >
                            <v-col align-self="center" color="black" style="color: white" cols="12">
                                <span class="btn-text">
                                    Додати рахунок
                                </span>
                            </v-col>
                        </v-row>
                    </v-btn>
                </v-col>
            </v-row>
        </v-container>
        <SnackBar ref="SnackBar" />
    </div>
</template>
<script>
    import SnackBar from '../../../components/SnackBar'
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import {mapGetters, mapActions} from 'vuex'
    export default {
        name: 'AddLicToAddress',
        props: ['company', 'address'],
        data () {
            return {
                dialog: false,
                lic: '',
            }
        },
        components: {
            SnackBar,
            AppBar,
            PageTitle,
        },
        methods: {
            ...mapActions('address', ['setLicToAddress']),
           ...mapActions('communal', ['getCompanyByAddress']),
            addLicAddress(){
                let data = {
                    address_id: this.address.id,
                    company_id: this.company.id,
                    ls: this.lic
                }
                console.log(this.$route)
                this.setLicToAddress(data)
                .then(resp => {
                    console.log(resp.data.succses)
                    this.$refs.SnackBar.show(resp.data.message , 'green darken-2')
                    this.$store.state.communal.addressCompanyAdd = this.$store.state.communal.addressCompanyAdd.filter((obj) => {
                        if(obj.id === this.company.id){
                            return false
                        } else {
                            return true
                        } 
                    })
                    this.getCompanyByAddress(this.address.id)
                    this.lic = ''
                    setTimeout(() => {
                        // if()
                        // this.$router.go(-1)
                    }, 1500)
                    
                })
                .catch(error => {
                    console.log(error.response)
                    this.$refs.SnackBar.show(error.response.data.message , 'red darken-2')

                })

            },

        },
        mounted(){
            //var oWebViewInterface = window.nsWebViewInterface;

            // // register listener for any event from native app
            // oWebViewInterface.on('anyEvent', function(eventData){
                
            // });

            // emit event to native app
            // oWebViewInterface.emit('anyEvent', false);

            // // function which can be called by native app
            // window.functionCalledByNative = function(arg1, arg2){
            //     // do any processing
            //     return dataOrPromise;
            // }
        }
    }
</script>
<style>
  .grey-back{
    background: rgb(216,216,216);
  }  

</style>