<template>  
    <div style="margin-bottom: 20vh">

    <AppBar
        :toPage="'/communalList'"
        class="app-bar"
    >
    </AppBar>
    <PageTitle
        icon="mdi-terraform"
        color="green darken-2"
        title="Комунальні підприємства"
    >
    </PageTitle>

    <v-container >
      <v-col 
            style="margin-top: -20px"
            align="center"
            cols="12"
        >
          <span style="font-size: 1.5em;">Оплата усіх послуг</span>
        </v-col>
        <v-row 
            align="center"
            no-gutters
            
        >
            <v-col 
                align="center"
                cols="12"
            >
                <v-list v-for="(item, index) in items" :key="index">
                <v-row>
                    <v-col cols="2">
                        <v-checkbox
                            v-model="item.agree"
                            color="success"
                            hide-details
                        ></v-checkbox>
                    </v-col>
                    <v-col cols="10">
                        <span style="display: block; font-size: 1.2em">{{ item.title }}</span>
                        <span style="display: block;">особовий рахунок: {{item.ls}}</span>
                        <span :class="item.debt < 0  ? 'green--text' : 'red--text' " style="display: block; font-size: 1.2em; ">{{ item.debt }}</span>
                        <span style="display: block;">Сума, грн</span>
                        <v-text-field
                            v-model="item.summ"
                            color="green"
                            placeholder="Cума"
                        ></v-text-field>
                    </v-col>
                </v-row>
                <v-divider></v-divider>
            </v-list> 
               
            </v-col>

        </v-row> 
        
           
        <v-snackbar
          :timeout="2000"
          v-model="snackbar"
          absolute
          multi-line="true"
          shaped
          
          color="indigo"
          
          centered
        >
          <span style="font-size: 1.5em;">Ще в розробці</span>
        </v-snackbar>
    </v-container>
    <div
        class="fixed-bottom-container"         
    >
        <v-divider></v-divider>
        <v-row 
            dense
            align="center"

        >
            <v-col align="center" cols="6">
                <span class="bold-text">Сума до сплати:</span>
            </v-col>
            <v-col align="center" cols="6">
                <span class="debt-number green--text" >{{ calculateSum }} грн</span> 
            </v-col>

            <v-col  align="end" cols="12">
                 <v-btn 
                    color="green dark-2"
                    style="margin-top: 20px"
                    block
                    v-on:click="toPay()"
                >
                    <span class="btn-text white--text">
                        СПЛАТИТИ
                    </span>
                    
                </v-btn>
            </v-col>

        </v-row>
        
    </div>
</div>
</template>

<script>
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    export default {
        name: 'AllService',
        data() {
            return {
                isLoading: false,
                calculateSum: 0,  
                items: [
                    {title: 'Газопостачання', ls: '150000029', debt: 1200, summ: '1200'},
                    {title: 'Газопостачання', ls: '150000029', debt: -1200, summ: '1200'},
                    {title: 'Газопостачання', ls: '150000029', debt: 1200, summ: '1200'},
                    {title: 'Газопостачання', ls: '150000029', debt: 1200, summ: '1200'},
                ],
                dialog: false,
                address: {},
                snackbar: false,
                
            }
        },
        components: {
            AppBar,
            PageTitle,
        },
        watch: {
            items: {
                deep: true,
                handler(items){
                    let sum = 0;
                    for(var i in items){
                        if(items[i].agree == true) {
                            if(items[i].summ == '') continue;
                            sum += parseInt(items[i].summ);
                        }
                    }
                    this.calculateSum = sum;
                }
            }
        },
        methods: {
            classText(i)
            {
              if(i%2==0){
                return 'grey-back'
              }
              return ''
            }
        },
    }

  
</script>

<style>
    .fixed-bottom-container{
        position: fixed; 
        bottom: 0px; 
        background: #fff; 
        width: 100%; 
        padding-top: 10px; 
        padding-left: 16px; 
        padding-right: 16px; 
        padding-bottom: 9vh;
    } 
    .btn-text{
        white-space: normal;
    }
    .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
</style>


