<template>  
    <div :key="key">
       <AppBar
            :header="'Комунальні послуги'"
            :name_icon="'mdi-home-city'"
        />
    <v-container >
        <div class="mt-3 mb-3">
            <v-row>
                <v-col cols="2" align="center">
                    <v-icon 
                        size="40"
                        dense
                        color="indigo"
                    >
                        mdi-home
                    </v-icon>
                </v-col>
                <v-col cols="10" class="px-0">
                    <span style="font-weight: 600">{{ SELECTED_ADDRES.city }}</span>
                    <br>
                    <span style="font-weight: 600">{{SELECTED_ADDRES.street_name}} {{SELECTED_ADDRES.building}}{{SELECTED_ADDRES.corp1 ? '/'+SELECTED_ADDRES.corp1 : ''}}{{isNaN(SELECTED_ADDRES.corp) ? ' '+SELECTED_ADDRES.corp : ' к'+SELECTED_ADDRES.corp}}{{SELECTED_ADDRES.apartment ? ', кв '+SELECTED_ADDRES.apartment : ''}}</span>   
                </v-col>
            </v-row>
        </div>
        <hr class="mb-3">
        

        <v-row 
            align="start"
            no-gutters
            style="margin-bottom: 9vh"
        >   

            <v-col 
                align="center"
                cols="12"
                v-show="loader"
            >    
                <LoaderButtons />
            </v-col>
            <v-col 
                align="center"
                cols="12"
                v-show="!loader"
            >   
                <CommunalButton
                    v-for="(item, index) in company"
                    :key="index"
                    :imageLink="item.image"
                    :text="item.name"
                    :ls="item.ls"
                    :companyInfo="item"
                    :account_id="item.account_id"
                    :status="item.service_verified"
                    :companyId="index"
                    onClickBtn="true"
                    :pathProg="{name: 'CompanyPage', params: {city: address, companyInfo: item, companyId: index}}"
                    @click="console"
                >
                </CommunalButton>

                <v-btn
                    v-if="showBtnPay === true"
                    large
                    class="mt-6"
                    color="green"
                    width="100%"
                    @click="goToPay"
                >
                    <span style="color: #fff">Оплата усiх послуг</span>
                </v-btn>

                <v-btn
                    v-if="showBtnPay === false"
                    large
                    class="mt-6"
                    color="#4385f4"
                    width="100%"
                    @click="openAddCompanyFull"
                >
                    <span style="color: #fff">Додати підприємство</span>
                </v-btn>

                <v-btn
                    v-if="showBtnPay === true"
                    class="mx-2 addBtn"
                    fab
                    color="#4385f4"
                    @click="openAddCompany"
                >
                    <v-icon color="#fff" large>
                        mdi-plus
                    </v-icon>
                </v-btn>
            </v-col>
        </v-row>  
    <AddLicToAddress ref="AddLicToAddress" />
    <AddCompanyToAddress ref="AddCompanyToAddress" />
    </v-container>
    
</div>
</template>

<script>
    import CommunalButton from '../../components/CommunalButton'
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import AddLicToAddress from '../../components/Address/AddLicToAddress'
    import AddCompanyToAddress from '../../components/Communal/AddCompanyToAddress'
    import LoaderButtons from '../../components/LoaderButtons'
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    import CompanyPage from './CompanyPage'
    export default {
        name: 'CompanyListPage',
        props: ['id', 'address'],
        data() {
            return {
                date: 'this Date',
                dialog: false,
                snackbar: false,
                loader: true,
                company: null,
                buttonClass: false,
                showBtnPay: true,
                addCompanyList: [],
            }
        },
        components: {
            AppBar,
            PageTitle,
            CommunalButton,
            AddLicToAddress,
            AddCompanyToAddress,
            LoaderButtons,
            CompanyPage,
        },
        computed:{
            ...mapGetters('storage', ['getToken', 'KEY_VALUE']),
            ...mapGetters('communal', ['getCompanies']),
            ...mapGetters('getAddressInfo', ['SELECTED_ADDRES']),
            ...mapGetters('confirm_company', ['DEL_COMPANY']),
            // if the key is changed, the page will be reloaded
            key() {
                return this.KEY_VALUE
            },
            
        },
        watch: {
            address(){
                if(this.address) {
                    this.setSelectedAddres(this.address)
                }
                this.getCompanyForAddress(this.SELECTED_ADDRES.id)
            },

            DEL_COMPANY() {
                this.getCompanyForAddress(this.SELECTED_ADDRES.id)
            },

            KEY_VALUE() {
                if(this.KEY_VALUE !== 0) {
                  console.log(this.KEY_VALUE) 
                    if(this.$route.name === 'CommunalListPage') {
                       this.getCompanyForAddress(this.SELECTED_ADDRES.id)
                    }
                }
            }

        },
        methods: {
            ...mapActions('communal', ['getCompanys', 'getCompanyByAddress']),
            ...mapMutations('getAddressInfo', ['setSelectedAddres']),
            
            openAddCompany(){
                this.buttonClass = false
                this.$refs.AddCompanyToAddress.show(this.addCompanyList, this.SELECTED_ADDRES.id)
            },

            openAddCompanyFull(){
                this.getCompanys()
                .then((resp) => {
                    let addCompanyList = resp.data.company
                    this.buttonClass = false
                    this.$refs.AddCompanyToAddress.show(addCompanyList, this.SELECTED_ADDRES.id)
                })
                
            },

            addCompany(company){
                this.$router.push({ name: 'AddCompanyToAddress', params: {address: this.address, company: this.addCompanyList} })
            },
            getCompanyForAddressAdd(){
                
                let addCompany = []
                for(let i = 0; i < this.getCompanies.length; i++){
                    addCompany[i] = this.getCompanies[i]
                }
                console.log(addCompany)
                for(let i = 0; i < addCompany.length; i++){
                    for(let id in this.company){
                        if(addCompany[i].id == id){
                            addCompany.splice(i,1)
                        }
                    } 
                }
                this.addCompanyList = addCompany
                
                return addCompany
            },
            getCompanyForAddress(id){
                this.loader = true
                this.getCompanyByAddress(id)
                .then(resp => {
                    this.company = resp.data.company
                    if(this.company) {
                        this.showBtnPay = true
                    } else {
                        this.showBtnPay = false
                    }
                    console.log(this.company)
                    this.getCompanyForAddressAdd();
                    setTimeout(() => {
                        this.loader = false
                    }, 200)
                    
                })
                .catch(error => {
                    this.showBtnPay = false
                    console.log(error)
                    setTimeout(() => {
                        this.loader = false
                    }, 200)
                })
            },
            getCompanysList(){
                this.getCompanys()
                .then((resp) => {
                  this.loader = false
                    console.log(resp.data)
                })
            },
            classText(i)
            {
              if(i%2==0){
                return 'grey-back'
              }
              return ''
            },

            ...mapActions('getAddressInfo', ['getSelectedAddres']),
            getOneAddresFromList() {
                return this.getSelectedAddres(this.address)
            },

            goToPay() {
                this.$router.push({name: 'AllPayment', params: { token: this.getToken }})
            },

            console() {
                console.log('works')
            }

        },
        mounted(){
            this.getOneAddresFromList();
            this.getCompanyForAddress(this.SELECTED_ADDRES.id);
            this.getCompanysList();
        }
    }

  
</script>

<style>
    .grey-back{
    background: rgb(216,216,216);
    }  
    .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
    }  
    .btn-text{
        white-space: normal;
    }
    .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    .addBtn{
        /* position: fixed; */
        /* bottom: 80px;
        right: 16px; */
    }
    .listItem{
        position: relative;
        display: inline-block;
        line-height: 2.5em;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
    }
    .rotateFalse{
        transform: rotate(0deg);
    }
    .rotateTrue{
        transform: rotate(45deg);
    }
    .enterprise-menu-button{
        position: relative;
        display: inline-block;
        line-height: 2.5em;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        
    }
    .btn-text{
        white-space: normal;
    }
</style>



