<template>  
    <div style="margin-bottom: 10vh">
        <AppBar
            :toPage="'/communalList'"
            class="app-bar"
            :header="'Підприємство'"
        >
        </AppBar>
        <PageTitle
            :title="COMPANY_INFO.name"
            :img="COMPANY_INFO.image"
        >
        </PageTitle>
     
        <v-container>
            <v-row 
                align="start"
                no-gutters
                
            >   
                <v-col 
                    
                    align="center"
                    cols="12"
                >
                    <v-card
                        class="mx-auto rounded-xl"
                        
                        width="100%"
                    >
                        <v-card-text>
                            <v-row dense align="center">
                                <v-col
                                    cols="4"
                                    align="center"
                                >
                                  
                                    <v-icon 
                                        size="64"
                                        dense
                                        color="indigo"
                                    >
                                        mdi-home
                                    </v-icon>
                                </v-col>
                                <v-col align="center" cols="8">
                                    <span class="main_span_styles">{{ SELECTED_ADDRES.city }}</span>
                                    <span class="main_span_styles">{{SELECTED_ADDRES.street_name}} {{SELECTED_ADDRES.building}}{{SELECTED_ADDRES.corp1 ? '/'+SELECTED_ADDRES.corp1 : ''}}{{isNaN(SELECTED_ADDRES.corp) ? ' '+SELECTED_ADDRES.corp : ' к'+SELECTED_ADDRES.corp}}{{SELECTED_ADDRES.apartment ? ', кв '+SELECTED_ADDRES.apartment : ''}}</span>
                                </v-col>
                                <v-col class="mt-2">
                                    <span class="mb-2 main_span_styles">ОСОБОВИЙ РАХУНОК: №{{ DEBT.ls }}</span>
                                    <v-row 
                                        v-for="info in DEBT.service" 
                                        :key="info.index"
                                        class="mt-1" 
                                        >

                                        <v-col cols="6" class="pa-1 d-flex align-center">
                                            <span style="text-align: left;" class="ml-3 main_span_styles">
                                                {{ info.name }}:
                                            </span>
                                        </v-col>
                                        <v-col cols="6" class="pa-1">
                                            <div >
                                                <span v-if="info.debt <= 0" style="color: green; font-size: 18px">
                                                    Переплата
                                                </span>
                                                <span v-else-if="info.debt > 0" style="color: red; font-size: 18px">
                                                    Заборгованість  
                                                </span>
                                            </div>
                                            <div>
                                                <span v-if="info.debt < 0" style="font-size: 16px; color: green;">{{ Math.abs(info.debt) }} грн
                                                </span>
                                                <span v-else-if="info.debt == 0" style="font-size: 16px; color: green;">{{ Math.abs(info.debt) }} грн
                                                </span>
                                                <span v-else-if="info.debt > 0" style="font-size: 16px; color: red;">{{ Math.abs(info.debt) }} грн
                                                </span>
                                            </div>
                                            
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
              </v-col>
              <v-col 
                  align="start"
                  cols="12"
              >
                  <div style="margin-top: 16px">
                      <div v-if="COMPANY_ID == 3">
                           <CommunalButton
                                :icon="'mdi-cash-multiple'"
                                :color="'green darken-2'"
                                :text="'ОПЛАТА'"
                                :path="{name: 'AllPayment', params: { token: this.getToken }}"
                            ></CommunalButton>
                      </div>

                        <div v-else>
                            <CommunalButton
                                :icon="'mdi-numeric'"
                                :text="'ВНЕСЕННЯ ПОКАЗНИКІВ'"
                                :path="{name: 'InputMeterage', params: {name: COMPANY_INFO.name, addressId: SELECTED_ADDRES.id, companyId: COMPANY_ID}}"
                            ></CommunalButton>
                            <CommunalButton
                                :icon="'mdi-cash-multiple'"
                                :color="'green darken-2'"
                                :text="'ОПЛАТА'"
                                :path="{name: 'AllPayment', params: { token: this.getToken }}"
                            ></CommunalButton>
                            <CommunalButton
                                v-for="(item, index) in communalUtilities"
                                :key="index"
                                :icon="item.icon"
                                :color="item.color"
                                :text="item.title"
                                :path="{name:item.path, params: {name: COMPANY_INFO.name, addressId: SELECTED_ADDRES.id, companyId: COMPANY_ID}}"
                            ></CommunalButton>
                        </div>
                      
                      <!-- :path="{name:item.path, params: {name: company.name}}" -->
                  </div>

                </v-col>
            </v-row>  
        </v-container>
    </div>
</template>

<script>
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import CommunalButton from '../../components/CommunalButton'
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    export default {
        name: 'CompanyPage',
        data() {
            return {
                dialog: false,
                address: {},
                snackbar: false,
                communalUtilities: [
                    {icon: 'mdi-thumb-up-outline', color: '' , title: 'ЗАМОВЛЕННЯ ПОСЛУГ', path: ''},
                    {icon: 'mdi-timelapse', color: 'amber darken-3' , title: 'ІСТОРІЯ  ПОКАЗАНЬ', path: 'GetHistoryMeterage'},
                    {icon: 'mdi-timelapse', color: 'amber darken-3' , title: 'ІСТОРІЯ  ОПЛАТ', path: 'GetHistoryPay'},
                    // {icon: 'mdi-cash-multiple', color: 'green darken-2' , title: 'ОПЛАТА', path: 'AllPayment'},
                    {icon: 'mdi-comment-multiple-outline', color: 'indigo darken-2' , title: 'ЗВОРОТНІЙ  ЗВ\'ЯЗОК', path: 'UsersFeedback'},
                ],
                ls: null,
                debtInfo: null
            }
            
        },
        props: ['companyInfo', 'companyId'],
        components: {
            CommunalButton,
            AppBar,
            PageTitle
        },
        watch: {
            COMPANY_INFO() {
                this.getDebt();
            }, 
        },

        computed: {
            ...mapGetters('storage', ['getToken']),
            ...mapGetters('getAddressInfo', ['SELECTED_ADDRES']),
            ...mapGetters('getAddressInfo', ['DEBT']),
            ...mapGetters('confirm_company', ['COMPANY_INFO', 'COMPANY_ID']),
        },
        methods: {
            // classText(i)
            // {
            //     if(i%2==0){
            //         return 'grey-back'
            //     }
            //     return ''
            // },

            
            ...mapActions('getAddressInfo', ['getDebtForThisCompany']),
            ...mapActions('confirm_company', ['getCompanyID']),
            
            getDebt() {
                let data = {
                    address_id: this.SELECTED_ADDRES.id,
                    company: this.companyId,
                }
                console.log(data)
                return this.getDebtForThisCompany(data)

            },
    
        },
        mounted() {
            this.getDebt();
        }
    }



  
</script>

<style>
  .grey-back{
    background: rgb(216,216,216);
  }  
  .gradient0{
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #4568dc , #b06ab3);
    background: linear-gradient(to right,  #4568dc , #b06ab3);
  }  
  .btn-text{
        white-space: normal;
  }
  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    .main_span_styles {
        color: black; 
        display: block; 
        font-size: 15px;
    }
</style>


