<template>
    <div style="margin-bottom: 10vh">
         <AppBar
            class="app-bar"
            :header="'Нове звернення'"
        ></AppBar>
        <v-container>

            <v-snackbar
                v-model="snackbar"
                centered
                color="#fff"
                class="text-center"
                :timeout="-1"
            >
                <v-row>
                    <v-col cols="12" class="text-center pb-0">
                        <span style="font-size: 16px; color: #0000008c">
                            Дякуємо! Вашу заявку успішно прийнято і буде оброблено найближчим часом!
                        </span>
                    </v-col>

                    <v-col cols="12" class="text-center  pt-0" style="z-index: 100">
                        <v-btn
                        class="ma-auto"
                        text
                        @click="confirmMessage"
                        color="#4385f4"
                        >
                        Продовжити
                        </v-btn>
                    </v-col>
                </v-row>
            </v-snackbar> 

            <div class="d-flex justify-center mb-5">
                <span class="text-center" style="font-weight: 700">
                    Вашу заявку буде прийнято та оброблено технічною підтримкою підприємства. <br>
                    Будь ласка, якомога детальніше опишіть мету Вашого звернення.
                </span>
            </div>
            
            <div class="d-flex justify-center mb-3" style="font-weight: 700; font-size: 20px" >
                <span>Заявка</span>
            </div>

            <v-card class="px-3  py-3">
                <v-row dense align="center">
                    <v-col align="center" style="font-size: 25px" cols="12">
                    <div>
                        <v-text-field outlined type="text" label="Тама звернення" v-model="title" class="px-2 mt-5 mb-1 text-left"></v-text-field>
                        <v-textarea
                            class="px-2"
                            v-model="text"
                            label="Детально опишіть мету звернення"
                            type="text"
                            maxlength="3000"
                            outlined
                        ></v-textarea>

                         <div class="text-center">
                            <v-btn
                            color="#4485f4"
                            style="color: #fff"
                            @click="addFeedback()"
                            >
                                НАДIСЛАТИ ЗАПИТ
                            </v-btn>
                        </div>
                    </div>
                    </v-col>
                </v-row>  
            </v-card>
        </v-container>
    </div>    
</template>

<script>
import CommunalButton from '../../components/CommunalButton'
import PageTitle from '../../components/PageTitle'
import AppBar from '../../components/AppBar'
import {mapGetters, mapActions} from 'vuex'
import axios from 'axios'


export default {
    name: 'FeedbackForm',
    props: ['name', 'addressId', 'companyId'],
    components: {
        PageTitle,
        AppBar,
        CommunalButton
    },

    data: () => ({
        newFeedback: '',
        goBack: -1,
        title: '',
        text: '',
        snackbar: false,
        }),
    

    computed: {
        ...mapGetters('storage', ['getToken', 'BASE_URL']),
        ...mapGetters('getAddressInfo', ['SELECTED_ADDRES']),
        ...mapGetters('getAddressInfo', ['DEBT']),
        ...mapGetters('confirm_company', ['COMPANY_ID']),
    },

    methods: {
        confirmMessage() {
            this.snackbar = false
            this.$router.go(-1)
            this.title = ''
            this.text = ''
        },

      addFeedback() {
          axios({
            url: this.BASE_URL + 'feedbacks/add',
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + this.getToken
            },
            data: {
                title: this.title,
                text: this.text,
                address_id: this.SELECTED_ADDRES.id,
                company: this.COMPANY_ID,
                ls: this.DEBT.ls
            }
        })
        .then((response) => {
            this.newFeedback = response.data.success
             this.snackbar = true
            console.log(response)
        })
        .catch((error) => {
            console.log(error)
        })
    },
    },  
    

}
</script>

<style scoped>

    .fixed-bottom-container{
        position: fixed; 
        bottom: 0px; 
        background: #fff; 
        width: 100%; 
        padding-top: 10px; 
        padding-left: 14px; 
        padding-right: 14px; 
        padding-bottom: 9vh;
    } 

  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }

   /* .<v-text-field {
       display: block;
       width: 100%;
       border-bottom: 1px solid #000;
       font-size: 18px;
       outline: none;
   }  */


   .message {
       border-radius: 15px;
       color: white;
       background: green;
       text-align: center;
   }
</style>