<template>
    <div style="margin-bottom: 10vh">
        <AppBar
            :backSteps="goBack"
            class="app-bar"
            :header="'Історія Оплат'"
        >
        </AppBar>
        <Preloader v-show="preloader" :color="'#4385f4'"/>
        <v-container v-show="!preloader" class="text-center">
            <transition
            v-if="banner === true"
            appear name="slide-y-transition" :duration="{ enter: 1000, leave: 800 }"
            >
            <v-row >
                <v-col
                cols="12"
                class="text-center px-0 pt-0"
                >
                <v-date-picker
                    no-title
                    v-model="dates"
                    range
                    locale="uk"
                    style="width: 100%"
                ></v-date-picker>
                </v-col>
                <v-col
                cols="12"
                sm="6"
                >
                <v-snackbar
                    v-model="snackbar"
                   
                    centered
                    color="#fff"
                    class="text-center"
                    :timeout="-1"
                >
                <v-row>
                    <v-col cols="12" class="text-center pb-0">
                        <span style="font-size: 16px; color: #0000008c">
                            Будь ласка, оберіть початкову та кінцеву дату періоду.
                        </span>
                    </v-col>

                    <v-col cols="12" class="text-center  pt-0" style="z-index: 100">
                        <v-btn
                        class="ma-auto"
                        text
                        @click="snackbar = false"
                        color="#4385f4"
                        >
                        Зрозуміло
                        </v-btn>
                    </v-col>
                </v-row>
                </v-snackbar>

                </v-col>
            </v-row>
            </transition>

            <h3 v-if="banner === false">
                Для того, щоб переглянути історію Ваших платежів, будь ласка оберіть період
            </h3>
    
            <div @click="banner = !banner" class="my-4">
                <span v-if="(dates.length) > 0">Перiод з: </span>  
                <span style="font-weight: 600">{{ dates[0] }}</span>  
                <span v-if="dates.length === 2"> по </span>   
                <span style="font-weight: 600">{{ dates[1] }}</span>
            </div>
            

            <v-btn
            class="mt-3"
            v-if="banner === false"
            @click="banner = !banner"
            color="#4385f4"
            style="color: #fff"
            >
            Обрати перiод
            </v-btn>

             <v-btn
             v-if="banner === true"
            @click="getHistoryPay"
            color="#4385f4"
            style="color: #fff"
            >
                Показати Iсторiю
            </v-btn>

            <v-row 
            v-for="(item, index) in HISTORY_PAY.payment" 
            :key="index" 
            class="mt-5 mb-3"
            >
                <v-card v-if="HISTORY_PAY.success === true" class="mx-5" style="width: 100%">
                    <v-col cols="12" class="pa-1 text-left">
                        <div class="pl-5">
                            Сума платежу складає: <span style="font-weight: 700">{{ item.amount }}</span> грн.
                        </div>
                    </v-col>
                    <v-col cols="12" class="pa-1 text-left">
                        <div class="pl-5">
                            Дата: <span style="font-weight: 700">{{ item.date }}</span>
                        </div>
                    </v-col>
                </v-card >
            </v-row>

            <div 
            v-if="HISTORY_PAY.success === false"
            style="height: 70vh;"
            class="d-flex align-center"
            >
                <div class="ma-auto" style="color: #0000008c">
                    Нажаль за цей період оплат не знайдено! <br> Pозширте перiод пошуку, та спробуйте ще.
                </div>
            </div>
           
            
            
            
        </v-container>
    </div>    
</template>

<script>
import CommunalButton from '../../components/CommunalButton'
import PageTitle from '../../components/PageTitle'
import AppBar from '../../components/AppBar'
import {mapGetters, mapActions, mapMutations} from 'vuex'
import axios from 'axios'
import Preloader from '../../components/Preloader.vue'


export default {
    name: 'GetHistoryPay',
    components: {
        PageTitle,
        AppBar,
        CommunalButton,
        Preloader
    },

    data: () => ({
        goBack: -1,
        dates: [],
        banner: false,
        snackbar: false,
        preloader: true
    }),

    computed: {
        ...mapGetters('getAddressInfo', ['SELECTED_ADDRES']),
        ...mapGetters('confirm_company', ['COMPANY_ID']),
        ...mapGetters('historys', ['HISTORY_PAY']),
        dateRangeText () {
            return this.dates.join('  по  ')
        },
    },

    watch: {
        '$route.name': function() { 
                if(this.$route.name == 'GetHistoryPay') {
                    this.setHistoryPay('')
                    this.dates = []
                    setTimeout(() => {
                        this.preloader = false
                    }, 2000);
                } else {
                    this.preloader = true
                    
                }
            },
    },
    

methods: {
    ...mapActions('historys', ['historyPay']),
    ...mapMutations('historys', ['setHistoryPay']),
    getHistoryPay() {
        if(this.dates.length === 2) {
            let data = {
                address_id: this.SELECTED_ADDRES.id,
                company: this.COMPANY_ID,
                date_in : this.dates[0],
                date_out: this.dates[1],
            } 
            this.banner = false,
            this.historyPay(data)
        } else if(this.dates.length === 1) {
            let now = new Date().toISOString().substring(0,10)
            this.dates[1] = now
            let data = {
                address_id: this.SELECTED_ADDRES.id,
                company: this.COMPANY_ID,
                date_in : this.dates[0],
                date_out: this.dates[1],
            } 
            this.banner = false,
            this.historyPay(data)
        } else {
            this.snackbar = true
        }
    }
},

mounted() {
    setTimeout(() => {
        this.preloader = false
    }, 2000);
}

    
}
</script>

<style scoped>
  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }

    .slide-fade-enter-active {
        transition: all 2s ease;
    }
</style>