<template>  
    <div style="margin-bottom: 10vh">
        <AppBar
            class="app-bar"
            :header="'Внесення Показників'"
        >
        </AppBar>
        <Preloader v-if="preloader === true" :color="'#4385f4'"/>
        <v-container v-else>

            <v-snackbar
                v-model="snackbarFalse"
                centered
                color="#fff"
                class="text-center"
                :timeout="-1"
            >
                <v-row>
                    <v-col cols="12" class="text-center pb-0">
                        <!-- <span style="font-size: 16px; color: #0000008c">
                            Нажаль виникла помилка <br/>
                            Спробуйте будь ласка пізніше
                        </span> -->
                        <v-col cols="12" class="text-center pb-0">
                        <span style="fonpnt-size: 16px; color: #0000008c">
                            {{ NEW_METERAGE_STATUS.message }}
                        </span>
                    </v-col>
                    </v-col>


                    <v-col cols="12" class="text-center  pt-0" style="z-index: 100">
                        <v-btn
                        class="ma-auto"
                        text
                        @click="snackbarFalse = false"
                        color="#4385f4"
                        >
                        Зрозуміло
                        </v-btn>
                    </v-col>
                </v-row>
            </v-snackbar>

            <v-snackbar
                v-model="snackbarTrue"
                centered
                color="#fff"
                class="text-center"
                :timeout="-1"
            >
                <v-row>
                    <!-- <v-col cols="12" class="text-center pb-0">
                        <span style="font-size: 16px; color: #0000008c">
                            Ваші показики <span style="font-weight:  700">{{ meterage }}</span> успішно прийняті
                        </span>
                    </v-col> -->

                    <v-col cols="12" class="text-center pb-0">
                        <span style="font-size: 16px; color: #0000008c">
                            {{ NEW_METERAGE_STATUS.message }}
                        </span>
                    </v-col>

                    <v-col cols="12" class="text-center  pt-0" style="z-index: 100">
                        <v-btn
                        class="ma-auto"
                        text
                        @click="snackbarTrue = false"
                        color="#4385f4"
                        >
                        Продовжити
                        </v-btn>
                    </v-col>
                </v-row>
            </v-snackbar>



            <div class="text-right">
                <v-btn
                    icon
                    outlined
                    dark
                    large
                    @click="flashight()"
                    color="#e8b600"
                >
                    <v-icon>mdi-flashlight</v-icon>
                </v-btn>
            </div>

           <!-- <v-row dense align="center" v-if="COUNTERS_STATUS === 1"> -->
            <v-row dense align="center">
                          
                <v-col align="center" style="font-size: 25px" cols="12">
                    {{name}}
                    
                </v-col>
                <v-col align="center" cols="12" class="mb-4 text_in_cardCounter">
                   
                </v-col>
                
            </v-row>
            <!-- <v-row 
                align="start"
                no-gutters
                v-if="COUNTERS_STATUS === 1"
            >    -->
            <v-row 
                align="start"
                no-gutters
            > 
                <v-col 
                    
                    align="center"
                    cols="12"
                >
                    <v-card
                        class="mx-auto rounded-xl"
                        
                        width="100%"
                    >
                     <!--  <v-card-subtitle align="center">
                        
                      </v-card-subtitle>    -->
                        <v-card-text>
                            <v-row dense justify="center" align="center"
                            >
                                <v-col align="center" cols="6" class="text_in_card">
                                    Попередні
                                </v-col>
                                <v-col align="center" cols="6" class="text_in_card">
                                    Нові покази
                                </v-col>
                            </v-row>

                            <v-row 
                            dense 
                            justify="center" 
                            align="center"
                            v-for="item in COUNTERS" 
                            :key="item.index"
                           
                            >
                                <v-col 
                                align="center" 
                                cols="12" 
                                class="text_in_card mt-4"
                                v-model="counter_number"
                                >
                                    Лічильник №{{ item.counter_number }}
                                </v-col>

                                <v-row v-if="item.end_meterage" style="width:100%">
                                    <v-col 
                                    cols="6"
                                    class="text_in_cardCounter d-flex justify-center align-center"
                                    >
                                        {{ item.end_meterage }}
                                    </v-col>

                                    <v-col cols="6">
                                        <v-text-field
                                            label="Введіть покази"
                                            type="number"
                                            v-model="meterage"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>

                                <v-row v-if="item.end_meterage1" style="width:100%">
                                    <v-col 
                                    cols="6"
                                    class="text_in_cardCounter d-flex justify-center align-center"
                                    >
                                        {{ item.end_meterage1 }}
                                    </v-col>
                                    <v-col cols="6">
                                        <v-text-field
                                            label="Введіть покази"
                                            type="number"
                                            v-model="meterage1"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>

                                <v-row v-if="item.end_meterage2" style="width:100%">
                                    <v-col 
                                    cols="6"
                                    class="text_in_cardCounter d-flex justify-center align-center"
                                    >
                                        {{ item.end_meterage2 }}
                                    </v-col>

                                    <v-col cols="6">
                                        <v-text-field
                                            label="Введіть покази"
                                            type="number"
                                            v-model="meterage2"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>

                                
                                
                            </v-row>
                        </v-card-text>
                    </v-card>
                    <v-col align="center" cols="12">
                        <v-btn
                            block 
                            @click="inputNewMeterage"
                            x-large
                            elevation="2"
                            color="#4385f4"
                        >
                            <v-row
                                dense
                                align="center"
                            >
                                <v-col align-self="center" color="black" style="color: white" cols="12">
                                    <span class="btn-text">
                                        Внести покази
                                    </span>
                                </v-col>
                            </v-row>
                        </v-btn>
                    </v-col>  
                </v-col>        
            </v-row>
        </v-container>
        <!-- <AddCounter v-if="COUNTERS_STATUS === 0"/> -->
        <InputMeterageDialog ref="InputMeterageDialog"/>
    </div>
</template>

<script>
    import { mapActions, mapGetters, mapMutations } from 'vuex'
    import PageTitle from '../../components/PageTitle'
    import AppBar from '../../components/AppBar'
    import Preloader from '../../components/Preloader'
    import InputMeterageDialog from '../../components/Communal/InputMeterageDialog'
    import AddCounter from './AddCounter'
    export default {
        name: 'InputMeterage',
        props: ['name', 'addressId', 'companyId'],
        data() {
            return {
                goBack: -1,
                date: '10.03.2021',
                counter_number: '',
                end_meterage: '',
                counters: null,
                meterage: '',
                meterage1: '',
                meterage2: '',
                flashLight: false,
                preloader: true,
                statusKey: 0,
                snackbarFalse: false,
                snackbarTrue: false
            }
        },
        components: {
            InputMeterageDialog,
            AppBar,
            PageTitle,
            AddCounter,
            Preloader
        },
        watch: {
            // '$route.name': function() { 
            //     if(this.$route.name == 'InputMeterage') {
            //         this.checkCounters(this.SELECTED_ADDRES.id)
            //         this.meterage = ''
            //         this.statusKey++
            //         setTimeout(() => {
            //             this.preloader = false
            //         }, 2000);
            //     } else {
            //         this.preloader = true
            //     }
            // },

            '$route.name': function() { 
                if(this.$route.name == 'InputMeterage') {
                    this.getListCounters()
                    this.meterage = ''
                    this.statusKey++
                    setTimeout(() => {
                        this.preloader = false
                    }, 2000);
                } else {
                    this.preloader = true
                }
            },

            statusKey() {
                // this.checkCounters(this.SELECTED_ADDRES.id)
                if(this.COUNTERS_STATUS === 1) {
                    let data = {
                        address_id: this.SELECTED_ADDRES.id,
                        company_id: this.COMPANY_ID,
                    }
                    this.getCounters(data)
                }
            },

            name() {
                let data = {
                    address_id: this.SELECTED_ADDRES.id,
                    company_id: this.companyId,
                }
                this.getCounters(data)
            },

            // COUNTERS_STATUS() {
            //     if(this.COUNTERS_STATUS === 1) {
            //         let data = {
            //             address_id: this.SELECTED_ADDRES.id,
            //             company_id: this.COMPANY_ID,
            //         }
            //         this.getCounters(data)
            //     }
            // },

            NEW_METERAGE_STATUS() {
                if(this.NEW_METERAGE_STATUS.success === true) {
                    this.snackbarTrue = true
                } else if(this.NEW_METERAGE_STATUS.success === false)  {
                    this.snackbarFalse = true
                }
            }
            
        },

        

        computed: {
            ...mapGetters('storage', ['getToken']),
            ...mapGetters('meterage', ['COUNTERS_STATUS', 'COUNTERS', 'NEW_METERAGE_STATUS', 'ADD_STATUS']),
            ...mapGetters('getAddressInfo', ['SELECTED_ADDRES']),
            ...mapGetters('confirm_company', ['COMPANY_INFO', 'COMPANY_ID']),
            company(){
                return this.items[this.$route.params.id];
            },
            
        },

        

        methods: {
            ...mapActions('meterage', ['checkCounters', 'getCounters', 'inputMeterage']),
            ...mapMutations('meterage', ['setCheckCounters']),
            goBackClick(i = 0){
                console.log(this.goBack)
                console.log(i)
                this.goBack--;
            },

            getListCounters() {
                let data = {
                    address_id: this.SELECTED_ADDRES.id,
                    company_id: this.COMPANY_ID,
                }
                this.getCounters(data)
            },

            

            classText(i)
            {
                if(i%2==0){
                    return 'grey-back'
                }
                return ''
            },

            inputNewMeterage() {
                let data = {
                    address_id: this.addressId,
                    company_id: this.companyId,
                    counter:[
                                {
                                counter_number: this.COUNTERS[0].counter_number,
                                last: this.COUNTERS[0].end_meterage,
                                meterage: this.meterage,
                                meterage1: this.meterage1,
                                meterage2: this.meterage2,
                                }
                            ]
                }
                this.inputMeterage(data)
            },

            
             flashight(){
                var oWebViewInterface = window.nsWebViewInterface;
                
                if(this.flashLight) {
                    oWebViewInterface.emit('flashlightControl', {isEnabled: false});
                } else if(!this.flashLight) {
                    oWebViewInterface.emit('flashlightControl', {isEnabled: true});
                }
            },
            offFlashlight(){
                var oWebViewInterface = window.nsWebViewInterface;
                if(this.flashLight){
                    oWebViewInterface.emit('offFlashlight');
                }
            }
        },

        mounted() {
            // this.checkCounters(this.addressId);
            this.getListCounters()
            setTimeout(() => {
                this.preloader = false
            }, 2000);
        }
        
    }

  
</script>

<style>

    .text_in_card {
        color: rgba(0, 0, 0, 0.75);
        font-size: 16px;
    }

    .text_in_cardCounter {
        color: rgba(0, 0, 0, 0.75);
        font-size: 18px;
    }
  
  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
</style>


