<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      max-width="290"
      style="box-shadow: none"
    >
      <v-card>
        <v-card-title align="center" class="headline justify-center" style="color: #fb8300">
          Зверніть увагу
        </v-card-title>
        <v-col cols="12" align="center">
            <v-avatar 
                color="#fb8300" 
                size="87"
            >
                <v-icon 
                    dark 
                    x-large
                >
                    mdi-account-check
                </v-icon>
            </v-avatar>
        </v-col>
        <v-card-text align="center" style="font-size: 18px; color: rgba(0, 0, 0, 0.75);">Щоб зареєструвати звернення Вам необхідно підтвердити свою особу через офіційний державний додаток <span style="font-weight: 900; font-size: 18px; color: rgba(0, 0, 0, 0.75);">Дія</span>.
          <br/>
          Оберіть Так - якщо згодні, або Ні - якщо не згодні.
        </v-card-text>
          <v-spacer></v-spacer>
          <v-row align="center" class="text-center pb-5 px-5">
            <v-col cols="6">
              <v-btn
                color="#008205"
                style="font-weight: 700; font-size: 16px; width: 100%; color: white"
                @click="diyIDState()"
              >
                ТАК
              </v-btn>
            </v-col>

            <v-col cols="6">
              <v-btn
                color="#fe1203"
                style="font-weight: 700; font-size: 16px; width: 100%; color: white"
                @click="disagree()"
              >
                НІ
              </v-btn>
            </v-col>
          </v-row>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>

  import axios from 'axios'
  import {mapGetters} from 'vuex'

  export default {
    name: 'MesaageDialog',
    props: ['dialog'],
    data () {
      return {
        token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9rci5zbWFydHJlZ2lvbi5jb20udWFcL2FwaVwvcmVnaW9uXC92MVwvYXV0aFwvbG9naW4iLCJpYXQiOjE2MTg5MTAwMjIsImV4cCI6Mzk1MTcxMDAyMiwibmJmIjoxNjE4OTEwMDIyLCJqdGkiOiJrOERBVWdlY0N6VlBySm5NIiwic3ViIjoyMTcsInBydiI6Ijc2ZDU5NWY0MWQwOTYyZDRkMjIzZTFjMTY3NDI2N2E4MmEyMDYzNjYifQ.8U9WWH9OhwQDnlyp-fQmThG4GC2WAaI2Zt9vLrVq9Jc',
      }
    },

    computed: {
      ...mapGetters('storage', ['getToken']),
    },


    methods: {
              diyIDState() {
                  axios({
                          url:'https://kr.smartregion.com.ua/api/region/v1/state',
                          method: "GET",
                          headers: {
                              'Content-Type': 'application/json',
                              'Authorization': 'Bearer ' + this.getToken
                          },
                      })
                      .then((response) => {
                          this.state = response.data.state
                          console.log(response.data.state)
                          window.location.href = 'https://kr.smartregion.com.ua/api/region/v1/dia/bank_id/' + this.state;

                      })
                      .catch((error) => {
                          console.log(error)
                      })
              },

              disagree() {
                  return this.$router.push({ name: 'CompanyPage'})
              }

    },

    mounted() {
      console.log(this.dialog)
    }
  }
</script>

<style scoped>
.button {
  width: 100%;
}

.v-dialog {
  box-shadow: none !important;
}
</style>