<template>
    <div style="margin-bottom: 10vh">
        <AppBar
            :backSteps="goBack"
            class="app-bar"
           
        >
        </AppBar>
        <PageTitle
            title="Історія Показань"
        >
        </PageTitle>

        <v-container>
            <v-row>

            </v-row>
        </v-container>
    </div>    
</template>

<script>
import CommunalButton from '../../components/CommunalButton'
import PageTitle from '../../components/PageTitle'
import AppBar from '../../components/AppBar'
import {mapGetters, mapActions} from 'vuex'
import axios from 'axios'


export default {
    name: 'GetHistoryPay',
    components: {
        PageTitle,
        AppBar,
        CommunalButton
    },

    data: () => ({
        goBack: -1,
    }),
    

methods: {

}

    
}
</script>

<style scoped>
  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
</style>