<template>
    <div style="margin-bottom: 10vh">
        <AppBar
            class="app-bar"
            :header="'Зворотній Зв\'язок'"
        ></AppBar>

        <v-container>
            <v-row dense align="center">
                <v-col>

                    <div class="text-left" style="color: #00000080">
                            <p>Тема звернення:</p>
                    </div>
                    
                    <div class="px-3">
                        <div class="d-flex justify-center" style="text-transform: uppercase;">
                            <h3 >{{ feedbackInfo.title }}</h3>
                        </div>

                        <hr/>                        

                        <div class="d-flex mt-4">
                            <v-row>
                                <v-col cols="12">
                                    <p>{{ feedbackInfo.text }}</p>
                                </v-col>
                            </v-row>
                        </div>

                        <div class="d-flex mt-4">
                            <v-row>
                                <v-col class="text-right">
                                    <p>{{ new Date(feedbackInfo.created_at) | formatDate }}</p>
                                </v-col>
                            </v-row>
                        </div>

                    </div>

                    <hr/>

                    <div class="text-left" style="color: #00000080">
                        <p>Відповідь техпідтримки:</p>
                    </div>

                     <div class="px-3">
                        <div class="d-flex text-center mt-3 mb-4" v-if="feedbackInfo.answer === null">
                            <p style="font-weight: 600">Дякуємо за звернення! <br/>Ваша заяка передана в техпідтримку підприємства та очікує опрацювання.</p>
                        </div>
                        <div class="d-flex mt-3 mb-4" v-else>
                            <p>{{ feedbackInfo.answer }}</p>
                        </div>
                    </div>

                </v-col>
                
            </v-row> 
            </v-container>
    </div>    
</template>

<script>
import FeedbackForm from './FeedbackForm'
import CommunalButton from '../../components/CommunalButton'
import PageTitle from '../../components/PageTitle'
import AppBar from '../../components/AppBar'
import {mapGetters, mapActions} from 'vuex'
import axios from 'axios'
import moment from 'moment'


export default {
    name: 'ShowFeedback',
    props: ['feedbackInfo'],
    components: {
        PageTitle,
        AppBar,
        CommunalButton,
        FeedbackForm,
        
    },

    data: () => ({
        goBack: -1,
        show: false,
        date: '',
    }),

    filters: {
        formatDate(value) {
            if (value) {
                return moment(String(value)).format('YYYY-MM-DD HH:MM')
            }
        },
    },

    // methods: {
    //     getDate: function() {
    //         const date = new Date(this.feedbackInfo.created_at)
    //     }
    // },
     
    // mounted() {
    //     getDate()
    // }
    
    
}
</script>

<style scoped>
  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }

</style>