 <template> 
    <div style="margin-bottom: 20vh">
        <AppBar
            class="app-bar"
            :header="'Зворотній Зв\'язок'"
        ></AppBar>
        <v-container>
           

            <MessageDialog
                :dialog = dialog
            />

            <v-row dense align="center" class="mt-5 mb-5">
                <v-col align="center" style="font-size: 25px" cols="12">
                    {{name}}
                </v-col>
            </v-row> 

            <v-card v-for="(item, index) in reversedItems" :key="index" @click="getInfoThisFidback(item)" class="mb-5" style="width: 100%">
                <!-- {{ item }} -->
                <div class="d-flex">
                    <v-col cols="1" class="py-0 pl-0 pr-6">
                        <div v-if="item.answer" style="background: green; height: 100%; border-radius: 4px 0px 0px 4px;"></div>
                        <div v-else style="background: red; height: 100%; border-radius: 4px 0px 0px 4px;"></div>
                    </v-col>

                    <v-col>
                        <v-col cols="12" class="pa-1 text-center">
                            <div class="px-5">
                                Звернення: №<span style="">00{{ item.user_id }}{{ item.id }}</span>
                            </div>
                        </v-col>
                        <v-col cols="12" class="pa-1 text-left">
                            <v-list-item class="px-5 mt-n3 mb-n1">
                                <v-list-item-subtitle style="font-weight: 700; font-size: 16px; text-transform: uppercase; color: #000" v-text="item.title"></v-list-item-subtitle>
                            </v-list-item>
                                <!-- <span style="font-weight: 700; text-transform: uppercase;">{{ item.title }}</span> -->
                        </v-col>
                        <v-col cols="12" class="pa-1 text-left">
                            <v-list-item class="px-5 mt-n6 mb-n3">
                                <v-list-item-subtitle v-text="item.text"></v-list-item-subtitle>
                            </v-list-item>
                        </v-col>
                        <v-col cols="12" class="pa-1 text-right">
                            <div class="px-5">
                                <span style="font-size: 14px">{{ new Date(item.created_at) | formatDate }}</span>
                            </div>
                        </v-col>
                    </v-col>
                </div>
                
            </v-card >
        </v-container>
        
         
         <div
            class="fixed-bottom-container" 
            style=""        
        >
            <hr>
            <div class="text-center mt-2">
                <v-btn
                color="#4485f4"
                style="color: #fff; margin-bottom: 7vh"
                @click="newMessage"
                >
                    НОВИЙ ЗАПИТ                     
                </v-btn>
            </div>
        </div> 
    </div>    
</template>

<script>
import FeedbackForm from './FeedbackForm'
import ShowFeedback from './ShowFeedback'
import MessageDialog from './MessageDialog'
import CommunalButton from '../../components/CommunalButton'
import PageTitle from '../../components/PageTitle'
import AppBar from '../../components/AppBar'
import {mapGetters, mapActions} from 'vuex'
import axios from 'axios'
import moment from 'moment'


export default {
    name: 'UserFeedback',
    props: ['name', 'addressId', 'companyId'],
    components: {
        PageTitle,
        AppBar,
        CommunalButton,
        FeedbackForm,
        ShowFeedback,
        MessageDialog
    },

    data: () => ({
        goBack: -1,
        show: false,
        token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9rci5zbWFydHJlZ2lvbi5jb20udWFcL2FwaVwvcmVnaW9uXC92MVwvYXV0aFwvbG9naW4iLCJpYXQiOjE2MTg5MTAwMjIsImV4cCI6Mzk1MTcxMDAyMiwibmJmIjoxNjE4OTEwMDIyLCJqdGkiOiJrOERBVWdlY0N6VlBySm5NIiwic3ViIjoyMTcsInBydiI6Ijc2ZDU5NWY0MWQwOTYyZDRkMjIzZTFjMTY3NDI2N2E4MmEyMDYzNjYifQ.8U9WWH9OhwQDnlyp-fQmThG4GC2WAaI2Zt9vLrVq9Jc',
        state: '',
        dialog: false,
        status: false
    }),

    filters: {
        formatDate(value) {
            if (value) {
                return moment(String(value)).format('YYYY.MM.DD')
            }
        },
    },

    watch: {
        '$route.name': function() {
            if(this.$route.name === 'UsersFeedback') {
                console.log(this.$route.name)
                this.getFedbacks()
            } else {
                
            }
            },
    },
    
    computed: {
        ...mapGetters('feedback', ['FEEDBACK']),
        ...mapGetters('storage', ['getToken', 'BASE_URL']),
        ...mapGetters('getAddressInfo', ['SELECTED_ADDRES']),
        ...mapGetters('confirm_company', ['COMPANY_ID']),
        reversedItems() {
            return this.FEEDBACK.slice().reverse();
        }
    },

    methods: {
        ...mapActions('feedback', ['GET_FEEDBACK']),

        getInfoThisFidback(info) {
            this.$router.push({name: 'ShowFeedback', params: {feedbackInfo: info}})
        },

        getFedbacks() {
            let data = `user_id=${this.SELECTED_ADDRES.id}&company=${this.COMPANY_ID}`
            this.GET_FEEDBACK(data)
        },

        checkDiyAutorization() {
            axios({
                url: this.BASE_URL + 'dia/verified',
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + this.getToken
                },
            })
            .then((response) => {
                this.status = response.data.status
                if (response.data.status === 0) {
                    this.dialog = true
                } else {
                    console.log('authorization user')
                }
            })
            .catch((error) => {
                    console.log(error)
                })
        },

        newMessage() {
            this.$router.push({name: 'FeedbackForm',})
        }

    },

    mounted() {
        let data = 
        this.getFedbacks() 
        // this.checkDiyAutorization()
    }

    //https://api.smartregion.com.ua/api/region/v1/redirect?code=906d314228e652dc222363a80ea337b2ba6fb3ba&state=kr0KfLh8RaIFIHJlIeGsnof1620638825&

    
}
</script>

<style scoped>
    .fixed-bottom-container{
        position: fixed; 
        bottom: 0px; 
        background: #fff; 
        width: 100%; 
        padding-top: 10px; 
        padding-left: 14px; 
        padding-right: 14px; 
        padding-bottom: 9vh;
    } 
  .app-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }

  a {
        text-decoration: none !important;
    }

    .border_line_orange {
        border-left: 10px solid #22bb80;
    }

    .border_line_green {
        border-left: 10px solid #ff8800;
    }

    hr {
        border: none;
        background:  #0000008c;
        height: 0.1px;
    }

    .main_span_styles {
        color: black; 
        display: block; 
        font-size: 15px;
    }

    .green-item {
        background: green;
    }

    .red-item {
        background: red;
    }
</style>