<template>
    <v-app-bar
        :color='COLOR'
        class="appBar"
    >
        <v-app-bar-nav-icon @click="goUpdate()" v-if="icon">
            <v-icon
                v-if="icon"
                color="#fff"
            >
                {{ icon }}
            </v-icon>
        </v-app-bar-nav-icon>

        <v-app-bar-nav-icon @click="goBack()" v-else>
            <v-icon
                color="#fff"
                large
            >
                mdi-arrow-left
            </v-icon>
        </v-app-bar-nav-icon>

        <!-- <v-app-bar-nav-icon @click="goBack()" v-if="!backButtonAlive">
            <v-icon
                color="#fff"
            >
                mdi-arrow-left
            </v-icon>
        </v-app-bar-nav-icon> -->


        <v-toolbar-title
            class="mx-auto pa-0"
            style="font-size: 18px; text-transform: uppercase; color: #fff"

        >
            <v-icon
                v-if="name_icon"
                color="#fff"
                class="mr-2"
            >
                {{ name_icon }}
            </v-icon>
            {{ header }}
        </v-toolbar-title>

        <v-app-bar-nav-icon
        small
        @click="seting()"
        >
            <v-icon
                color="#fff"
                
            >
                mdi-cog-outline
            </v-icon>
        </v-app-bar-nav-icon>
        <!-- <v-app-bar-nav-icon
        small
        class="ml-2"
        @click="goToIntro()"
        >
            <v-icon
                color="#fff"
            >
            
                mdi-help-circle-outline
            </v-icon>
        </v-app-bar-nav-icon> -->

        <v-app-bar-nav-icon
        small
        class="ml-2"
        @click="goToSupport()"
        >
            <!-- <a href="javascript:void(Tawk_API.toggle())">
                <img src="https://img.icons8.com/material/24/ffffff/online-support--v3.png"/>
            </a> -->
           
                <img src="https://img.icons8.com/material/24/ffffff/online-support--v3.png"/>
           
        </v-app-bar-nav-icon>
    </v-app-bar>
</template>

<script>
    import {mapGetters, mapMutations, mapActions} from 'vuex'
    export default {
        name: 'AppBar',
        props: ['name_icon','toPageName', 'toPagePath', 'backSteps', 'hash', 'backButtonAlive', 'header', 'icon'],
        data() {
            return {
              
            }
        },
        computed: {
            ...mapGetters('storage', ['COLOR', 'HEADER']),
        },
        methods: {
             goBack(){
                this.$router.go(-1)
            },

            goUpdate() {
                // this.$router.go(0)
                console.log('update')
            },

            seting() {
                this.$router.push({name: 'Seting', params: {setingDialog: true }})
            },

            goToIntro() {
                this.$router.push({name: 'Intro'})
            },

            goToSupportBrowser() {
                var oWebViewInterface = window.nsWebViewInterface;
                oWebViewInterface.emit('tawkSupport');
            },

            goToSupport() {
               window.Tawk_API.maximize()
               this.goToSupportBrowser()
            },

        },
    }

  
</script>
<style>
    .appBar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
</style>