<template>
    <div
        align="center"
        justify="space-around"
        class="mt-3 p-0"
    >
        <v-skeleton-loader
          	v-show="loader"
          	style="margin-left: 0px"
          	type="image"
          	height="70px"
        ></v-skeleton-loader>
       	<v-btn
          	v-show="!loader"
          	align="left"
          	class="pt-5 pb-5"
          	style="width: 100%; height: auto;"
          	tile
          	block 
          	fab
          	rounded
          	x-large
          	elevation="2"
          	@click="goTo"
        >
            <v-row no-gutters v-if="index == 1" class="pt-n5">
                <v-col cols="5" align-self="center" align="left" no-gutters>
  	                <div class="btn-text text-right font-size-for-btn">
                        {{title[0]}}
                    </div>
                    <div class="btn-text text-right font-size-for-btn">
                        {{title[1]}}
                    </div>
  	            </v-col>
                  <v-col cols="2" align-self="center" align="center" no-gutters>
  	                <v-icon 
    	                	v-if="data.icon" 
    	                	:color="data.color" 
    	                	large
  	                >
  	                  	{{data.icon}}
  	                </v-icon>
                    <img 
                        style="width: 32px;"
                        v-else-if="data.image" 
                        :src="'https://kr.smartregion.com.ua/api/region/v1/image?image=' + data.image"
                    >
  	            </v-col>
  	            <v-col cols="5" align-self="center" align="left" no-gutters>
  	                <div class="btn-text text-left font-size-for-btn">
                        {{title[2]}}
                    </div>
                    <div class="btn-text text-left font-size-for-btn">
                        {{title[3]}}
                    </div>
  	            </v-col>
            </v-row>

            <v-row no-gutters v-else>
  	            <v-col align="right" align-self="center" cols="5" color="black" >
                      <div class="font-size-for-btn">
                        {{title[0]}}
                      </div>
  	            </v-col>
  	            <v-col cols="2" align-self="center" align="center" no-gutters>
  	                
  	                <v-icon 
    	                	v-if="data.icon" 
    	                	:color="data.color" 
    	                	large
  	                >
  	                  	{{data.icon}}
  	                </v-icon>
                    <img 
                        style="width: 32px;"
                        v-else-if="data.image" 
                        :src="'https://kr.smartregion.com.ua/api/region/v1/image?image=' + data.image"
                    >
  	            </v-col>
  	            <v-col cols="5" align-self="center" align="left" no-gutters>
  	                <span class="btn-text">
                        <div class="font-size-for-btn">
                            {{title[1]}}
                        </div>
                    </span>
  	            </v-col>
            </v-row>
        </v-btn>
        
    </div>
	
</template>
<script>
    import {mapMutations, mapActions} from 'vuex'
  	export default {
    		name: 'Categories',
    		props: ['data', 'loader', 'address', 'index'],
            data() {
                return {
                    snackbar: false, 
                    toPath: ''         
                }
            },
            computed: {
              	title(){
              		  return this.data.title.split(' ');
              	}
            },
            watch: {
              
            },
            methods: {
                ...mapMutations('storage', ['setSnackBar']),
                snackbarOpen(){

                    if(!this.data.to){
                        if(this.params){
                          this.toPath = this.data.to + '/' + params
                          
                        }
                        this.toPath = this.data.to
                        this.setSnackBar(true)
                    }
                },
                goTo(){
                    console.log(this.data)
                    this.$router.push({name: this.data.toNamePage, params: {address: this.address}})
                    return
                    
                },
                classText(i)
                {
                    if(i%2==0){
                        return 'grey-back'
                    }
                    return ''
                }
            },

            mounted() {
                
            }


  	};
</script>
<style>
  	.btn-text{
        white-space: normal;
    }
    .padding {
        padding-top: -20px;
        padding-bottom: -20px;
    }
    .font-size-for-btn {
        font-size: 3.5vw;
    }
</style>