<template>
    
    <div
        align="center"
        justify="space-around"
        class="mt-3 p-0"
        :key="key"
    >
        <v-skeleton-loader
            v-if="loader"
            style="margin-left: 0px"
            type="image"
            height="70px"
        ></v-skeleton-loader>
        <v-btn
            v-if="!loader"
            class="pt-5 pb-5 enterprise-menu-v-btn"
            style="height: auto; padding: auto"
            block 
            @click="snackbarOpen()"
            x-large
            elevation="2"
            min-height="65px"
            :to="path"
            align=""
        >
            <v-row
        
                dense
                align="center"

            >
                <v-col cols="1" align="center">
                    <v-icon 
                        v-if="icon" 
                        :color="color" 
                        large
                    >
                        {{icon}}
                    </v-icon>
                    <img 
                        width="32" 
                        v-if="image" 
                        :src="require('../../assets/' + image)"
                    >
                    <img 
                        width="32" 
                        v-if="imageLink" 
                        :src="'https://kr.smartregion.com.ua/api/region/v1/image?image=' + imageLink"
                    >
                </v-col>
                <v-col align-self="center" style="widht: 50%; padding-left: 20px;" color="black" cols="10">
                    <span class="btn-text">
                        {{text}}
                    </span>
                     <span v-if="ls" style="text-transform: none; font-size: 14px; font-weight: 400;">
                        Особовий рахунок: №{{ ls }}
                    </span>
                </v-col>
                <v-col cols="1" v-if="routerName === 'CommunalListPage'">
                    <v-btn icon @click.stop="deleteLs()">
                        <v-icon>
                            mdi-close
                        </v-icon>
                    </v-btn>
                </v-col>
            </v-row>
        </v-btn>

        <div v-if="routerName === 'CommunalListPage'">
            <v-banner
            v-model="banner"
            >
                <v-row
            style=" border-radius: 10px; background: #4385f414 "
            class="mx-1 mb-3 pt-3"
            >
            <v-col>
                <v-row>
                    <v-col class="pb-0">
                        <span>Чи вiрно вказано Ваш особовий рахунок?</span>
                    </v-col>
                </v-row>
                <v-row class="mt-0">
                    <v-col>
                        <v-btn @click="checkCompanyLs(0, account_id)" style="color: #fff" color="red" fab> 
                            НI
                        </v-btn>
                    </v-col>

                    <v-col>
                        <v-btn @click="checkCompanyLs(1, account_id)" style="color: #fff" color="green" fab> 
                            ТАК
                        </v-btn>
                    </v-col>
                </v-row>
            </v-col>
            </v-row>
            </v-banner>
        </div>
        
        <v-snackbar
                v-model="snackbarDel"
                centered
                color="#fff"
                class="text-center"
                :timeout="-1"
            >
                <v-row>
                    <v-col cols="12" class="text-center pb-0">
                        <span style="font-size: 16px; color: #0000008c">
                            Ви дійсно хочете видалити особовий рахунок {{text}} №{{ ls }}?
                        </span>
                    </v-col>

                    <v-col cols="12" class="text-center d-flex  pt-0" style="z-index: 100">
                         <v-btn
                        class="ma-auto"
                        text
                        @click="checkCompanyLs(0, account_id)"
                        color="#4385f4"
                        >
                         ТАК
                        </v-btn>

                        <v-btn
                        class="ma-auto"
                        text
                        @click="snackbarDel = false"
                        color="#4385f4"
                        >
                        НІ
                        </v-btn>
                    </v-col>
                </v-row>
            </v-snackbar> 
         
    </div>
    
</template>
<script>
    import {mapGetters, mapActions, mapMutations} from 'vuex'
    export default {
        name: 'Communalv-btn',
        props: ['companyInfo','status', 'ls', 'text', 'color', 'icon', 'image', 'path', 'pathProg', 'loader', 'onClickBtn', 'imageLink', 'account_id', 'companyId'],
        data() {
            return {
                snackbar: false,
                snackbarDel: false,  
                banner: false,
                routerName: ''     
            }
        },
        computed: {
            ...mapGetters('storage', ['getToken', 'KEY_VALUE']),
            // if the key is changed, the page will be reloaded
            key() {
                return this.KEY_VALUE
            }
        },
        watch: {
            account_id() {
               if(this.status === 0) {
                this.banner = true;
            } else {
                this.banner = false;
            };
            },
        },
        methods: {
            ...mapMutations('storage', ['setSnackBar']),
            ...mapMutations('confirm_company', ['setCompanyInfo', 'setCompanyID']),
            ...mapActions('confirm_company', ['deleteCompany', 'confirmCompany']),
            snackbarOpen(){
                this.setCompanyID(this.companyId)
                this.setCompanyInfo(this.companyInfo)
                if(!this.path && !this.onClickBtn){
                    this.setSnackBar(true)
                } else {
                    this.$emit('buttonClick')
                }
                if(this.status === 0) {
                    this.banner = true
                } else {
                    this.banner = false
                    if(this.pathProg) {
                        this.$router.push(this.pathProg)
                    }
                }
            },

            // this function sets the status of the user's personal account (correct LS or not)
            checkCompanyLs(status, account_id) {
                console.log(account_id)
                this.banner = false
                if(status === 0) {
                    this.deleteCompany(account_id)
                } else if(status === 1) {
                    let data = {
                        account_id: account_id,
                        service_verified: status
                    }
                    this.confirmCompany(data)
                }
            },

            // this function removes this company from the list
            deleteLs() {
               this.snackbarDel = true
            }
        },
        

        mounted() {
            if(this.status === 0) {
                this.banner = true;
            } else {
                this.banner = false;
            };
            this.routerName = this.$route.name
        }
    
    }
</script>
<style>
    .enterprise-menu-v-btn{
        position: relative;
        display: inline-block;
        line-height: 2.5em;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        
    }
    .btn-text{
        white-space: normal;
    }
    .not_active {
        /* color: rgba(0, 0, 0, 0.3); */
        opacity: 0.65;
    }
</style>