<template>
	<div
        align="center"
        justify="space-around"
        class="mt-3 p-0"
    >
        <v-btn
            class="pt-5 pb-5 enterprise-menu-button"
            style="height: auto; padding: auto"
            block 
            @click="snackbarDev"
            x-large
            elevation="2"
            :color="color"
            min-height="65px"
            :to="path"
            align=""

        >
            <v-row
        
                dense
                align="center"

            >
              
                <v-col align-self="center" color="black" style="color: white" cols="12">
                    <span class="btn-text">
                        {{text}}
                    </span>
                </v-col>
            </v-row>
        </v-btn>
        <v-snackbar
          :timeout="2000"
          v-model="snackbar"
          absolute
          :multi-line="true"
          shaped
          color="red"
          centered
        > 
        <span style="font-size: 16px">В розробці</span>
        </v-snackbar>
    </div>
	
</template>
<script>
    import {mapMutations, mapActions} from 'vuex'
	export default {
		name: 'Categories',
		props: ['text', 'color', 'path'],
        data() {
            return {
                snackbar: false,          
            }
        },
        computed: {
        	
        },
        watch: {
          	
        },
        methods: {
            snackbarDev() {
                if(!this.path) {
                    this.snackbar = true
                }
            }
        }
        
	};
</script>
<style>
    .enterprise-menu-button{
        position: relative;
        display: inline-block;
        line-height: 2.5em;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        
    }
    .btn-text{
        white-space: normal;
    }
</style>