<template>
    <div>
        <v-skeleton-loader
            v-for="i in 7"
            :key="i"
            type="list-item-two-line"
        ></v-skeleton-loader>
    </div>
</template>
<script>
    export default {
        name: 'LoaderList',
        data () {
            return {
            }
        },
        
    }
</script>

<style>
  .grey-back{
    background: rgb(216,216,216);
  }  

</style>