<template>
    <div>
        <v-skeleton-loader
            v-for="i in 7"
            :key="i"
            type="image"
            class="loaderButton"
        ></v-skeleton-loader>
    </div>
</template>
<script>
    export default {
        name: 'LoaderList',
        data () {
            return {
            }
        },
        
    }
</script>

<style>
    .loaderButton{
        height: 80px;
        margin-top: 10px;
    }  

</style>