<template>
	<v-col 
        align="center"
        cols="12"
        dense
    >
        <v-row 
            align="center"
            dense
        >
          
            <v-col 
	            align="center"
	            cols="2"   
	        >
	            <img
	            	v-if="img"
	                style="margin: auto"
	                width="32"
	                :src="require('../../assets/' + img)"
	            >
	            <v-icon 
	            	v-if="icon"
                    dark 
                    x-large
                    :color="color"
                >
                    {{icon}}
                </v-icon>
          	</v-col>
	        <v-col 
	            align="center"
	            cols="8"
	        >
	            <span style="font-size: 20px; display: inline-block;">{{title}}</span>
	        </v-col>
	        <v-col 
	            align="center"
	            cols="2"
	        >
	            
	        </v-col>
	        <v-col 
	            align="center"
	            cols="12"
	        >
	            
	            <v-divider></v-divider>
	        </v-col>
        </v-row>
    </v-col>
</template>
<script>
    export default {
        name: 'AppBar',
        props: ['img', 'icon', 'color', 'title'],
        data() {
            return {
                
            }
        },
        methods: {
            
        },
    }

  
</script>
<style>
	.appBar{
		position: -webkit-sticky;
		position: sticky;
		top: 0px;
	}
</style>