<template>
    <v-snackbar
        v-model="snackbar"
        centered
        color="#fff"
        class="text-center"
        :timeout="-1"
    >
        <v-row>
            <v-col cols="12" class="text-center pb-0"> 
                <span style="font-size: 16px; color: #0000008c">
                    {{ text }}
                </span>
            </v-col>

            <v-col cols="12" class="text-center  pt-0" style="z-index: 100">
                <v-btn
                    class="ma-auto"
                    text
                    @click="snackbar = false"
                    color="#4385f4"
                >
                    Зрозуміло
                </v-btn>
            </v-col>
        </v-row>
    </v-snackbar>
</template>

<script>
export default {
    props: ['text'],
    data:() => ({
        snackbar: false
    }),
    methods: {
        showSnackbar() {
            this.snackbar = true
        }
    }
}
</script>