<template>
    <div class="preloader">
        <v-container>
             <v-row>
                <v-col>
                    <div style="height: 85vh" class="d-flex justify-center align-center"
                    v-if="preloader === true"
                    >
                        <v-progress-circular
                        :size="200"
                        :width="10"
                        :color="color"
                        indeterminate
                        style="font-size: 20px"
                        >
                            Зачекайте...
                        </v-progress-circular>
                    </div>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
    name: 'Preloader',
    props: ['color'],
    data:() => ({
        preloader: true
    })
    
}
</script>

<style scoped>

</style>