<template>
	<div class="container">
		<div class="slide-item" v-for="(slideItem,index) in slideList" :key="index">
			<!--  Основное содержание  -->
			<div class="item" :class="{showDelete: isDelete && currentIndex == index,}" @touchstart="touchStart" 
					@touchmove="touchMove" @touchend="touchEnd" :data-target="index">
				<text>{{slideItem.name}}</text>
			</div>
			<!--  Кнопка удаления -->
			<div class="delete-btn">
				<div class="btn">
					<text class="cuIcon-delete text-white"></text>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
        name: 'SetingAddress',
		data() {
			return {
				isDelete: false,
				touchStartP: 0,
				moveLength: 0,
				currentIndex: null,
				slideList: [
					{
						name: 'item1'
					},
					{
						name: 'item2'
					},
					{
						name: 'item3'
					},
					{
						name: 'item4'
					},
					{
						name: 'item5'
					},
					{
						name: 'item6'
					}
				]
			}
		},
		methods: {
			resetMove:function() {
				this.touchStartP = 0;
				this.moveLength = 0;
			},
			touchStart:function(e) {
				this.touchStartP = e.touches[0].pageX;
			},
			touchMove:function(e) {
				this.moveLength = this.touchStartP - e.touches[0].pageX;
			},
			touchEnd:function(e) {
				console.log(this.moveLength);
				if (this.moveLength > 60) {
					this.isDelete = true
					this.currentIndex = e.currentTarget.dataset.target;
				}
				if (this.moveLength < -60) {
					this.isDelete = false;
					this.currentIndex = null;
				}
				this.resetMove();
			},
		}
	}
</script>

<style scoped>
	.container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.slide-item {
		width: 100%;
		height: 100px;
		margin-top: 20px;
		display: flex;
		justify-content: center;
		position: relative;
	}
	.slide-item .item {
		width: 700px;
		height: 100px;
		line-height: 100px;
		background-color: rgb(8, 240, 201);
		border-radius: 20px;
		z-index: 1;
	}
	.item text {
		margin-left: 30px;
	}
	.slide-item .delete-btn {
		width: 120px;
		height: 100%;
		position: absolute;
		right: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: -1;
	}
	.delete-btn .btn {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: red;
		box-shadow: 0 5px 5px red;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.showDelete {
		animation-name: move;
		animation-duration: .6s;
		animation-timing-function: ease-in-out;
		animation-fill-mode: forwards;
		animation-iteration-count: 1;
	}
	@keyframes move{
		to{
			transform: translateX(-160px);
			transition: all .6s linear;
		}
	}
</style>

