<template>
    <div style="background: #607d8b; width: 100%; height: 120vh; position: absolute; z-index: 1000" class="pb-10">

         <v-app-bar
        color="#607d8b"
        class="appBar"
        
        >
            <v-toolbar-title
            class="ma-auto pa-0"
            style="font-size: 18px; color: #fff; text-transform: uppercase"
            >
                Налаштування 
            </v-toolbar-title>

            <div
            @click="goBack()"
            icon
            >
                <v-icon color="red">mdi-close</v-icon>
            </div>
        </v-app-bar> 

        <v-container
        class="py-0"
        
        >
            <v-row class="mt-5">
                <v-col cols="12">
                    <v-card style="background: #33424833;"> 
                        <div @click="drawer = true, type = 1">
                            <v-card-title style="color: #fff" class="pb-0">
                                Адреси
                            </v-card-title>

                            <v-card-text style="color: #fff">
                                Налаштувати список адрес
                            </v-card-text>
                        </div>
                        <hr>

                        <div @click="drawer = true, type = 2">
                            <v-card-title style="color: #fff" class="pb-0">
                                Компанії
                            </v-card-title>

                            <v-card-text style="color: #fff">
                                Налаштувати список компаній
                            </v-card-text>
                        </div>
                        <hr>

                        <div @click="drawer = true, type = 5, checkCard()">
                            <v-card-title style="color: #fff" class="pb-0">
                                Банкiвськi картки
                            </v-card-title>

                            <v-card-text style="color: #fff">
                                Налаштувати список банкiвських карт
                            </v-card-text>
                        </div>
                    </v-card>
                </v-col>

                <v-col cols="12">
                    <v-card style="background: #33424833;"> 
                        <div @click="type = 3">
                            <v-card-title style="color: #fff" class="pb-0">
                                Мова
                            </v-card-title>

                            <v-card-text style="color: #fff; font-weight: 700">
                                Українська
                            </v-card-text>
                        </div>
                        <hr>
                        <div @click="drawer = true, type = 4">
                            <v-card-title style="color: #fff" class="pb-0">
                                <span>Email <span style="font-size: 14px; color: #fffbfb87;"> (натиснiть щоб редагувати) </span></span>
                                
                            </v-card-title>

                            <v-card-text style="color: #fff; font-weight: 700">
                                {{ email }} 
                            </v-card-text>
                        </div>
                        <hr>
                        <div>
                            <v-card-title style="color: #fff" class="pb-0">
                                Безпека
                            </v-card-title>

                            <v-card-text style="color: #fff; font-weight: 700" class="d-flex ">
                                <v-checkbox color="#fff" @click="changeCheckbox" class="mt-0 pt-0" v-model="checkBoxSec"></v-checkbox>
                                <span>Дозволити мені входити в аккаунт без авторизації</span> 
                            </v-card-text>
                        </div>
                    </v-card>
                </v-col>
            </v-row>

            

            <div>
                <v-navigation-drawer
                v-model="drawer"
                fixed
                bottom
                temporary
                
                >
                    <v-list
                        nav
                        dense
                    >
                         <!-- address drawer -->
                        <v-list-item-group
                        v-if="type === 1"
                        active-class="deep-purple--text text--accent-4"
                        >
                            <v-row v-for="city in GET_ALL_ADDRESSES" :key="city.index">
                                <v-col cols="10">
                                    <v-list-item>
                                        <v-list-item-title>
                                           <div class="mx-n5 px-5" style="background-color: rgba(252, 252, 252, 0.8); border-radius: 15px">
                                                <span  style="font-size: 16px; color: #403e3e;">{{city.city}} </span><br>
                                                <span  style="color: #403e3e;">{{city.street_name}} {{city.building}}{{city.corp1 ? '/'+city.corp1 : ''}}{{isNaN(city.corp) ? ' '+city.corp : ' к'+city.corp}}{{city.apartment ? ', кв '+city.apartment : ''}}</span>
                                            </div> 
                                        </v-list-item-title>
                                    </v-list-item>
                                </v-col>

                                <v-col cols="2">
                                    <v-btn
                                    @click="deleteAddress(city.id)"
                                    icon
                                    color="white"
                                    style="background: red;"

                                    >
                                        <v-icon>
                                            mdi-delete-forever
                                        </v-icon>
                                    </v-btn>
                                </v-col>
                                <hr style="color: #403e3e">
                            </v-row>
                        </v-list-item-group>


                         <!-- <v-list-item-group
                        v-if="type === 1"
                        active-class="deep-purple--text text--accent-4"
                        >
                            <SetingAddress/>
                        </v-list-item-group> -->


                        <!-- email drawer -->
                        <v-list-item-group
                        v-if="type === 4"
                        style=""
                        >
                            <div align="center">
                                <div class="mt-5">
                                    Ваш поточний Email:  
                                </div>

                                <div>
                                    <span style="font-weight: 600">{{ email }}</span>
                                </div>

                                <div class="mt-5">
                                    Якщо бажаєте змінити <span style="font-weight: 600">Email</span>, то введіть нові данні, та натисніть <span style="font-weight: 600">ЗБЕРЕГТИ</span>
                                </div>
                            </div>

                            <div class="mt-5">
                                <v-text-field
                                    v-model="enteredEmail"
                                    :rules="[rules.email]"
                                    type="email"
                                    color="green"
                                    label="Email"
                                    placeholder="Введіть новий Email"
                                    outlined
                                    dense
                                ></v-text-field>
                            </div>

                            <div class="mt-5">
                                <v-row>
                                    <v-col cols="6" class="ma-auto" align="center">
                                        <v-btn 
                                            @click="getNewEmail"
                                            style="background: #607d8b; color: #fff"
                                        >
                                            ЗБЕРЕГТИ
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </div>
                            
                        </v-list-item-group>

                        <!-- bank card drawer -->
                        <v-list-item-group
                        v-if="type === 5"
                        >

                            <div v-if="this.CARD_STATUS_SETING.status === false" class="d-flex align-center justify-center" style="color: #0000008c; height: 40vh">
                               <span mx-auto>У Вас поки що немає доданих карток</span> 
                            </div>

                            <div v-else>
                                <v-row v-for="card in CARD_STATUS_SETING.cards" :key="card.index">
                                    <v-col cols="10">
                                        <v-list-item>
                                            <v-list-item-title>
                                                <v-row class="d-flex align-center">
                                                    <v-col cols="5" class="pr-0">
                                                        <div align="center">
                                                            <img v-if="card.pan.substr(0, 1) === '5'" width="110px" src="../../assets/mastercard.png" alt="">
                                                            <img v-else-if="card.pan.substr(0, 1) === '4'" width="100px" src="../../assets/visa.png" alt="">
                                                        </div>
                                                    </v-col>
                                                    <v-col cols="7" class="pl-0">
                                                        <div class="mx-n5 px-5" style="font-size: 18px; background-color: rgba(252, 252, 252, 0.8); border-radius: 15px; text-align: center">
                                                            {{ card.pan }}
                                                        </div>
                                                    </v-col>
                                                </v-row>
                                            </v-list-item-title>
                                        </v-list-item>
                                    </v-col>

                                    <v-col>
                                        <v-btn
                                        @click="deleteCard(card.card_token_id)"
                                        icon
                                        >
                                            <v-icon>
                                                mdi-close
                                            </v-icon>
                                        </v-btn>
                                    </v-col>
                                    <hr style="color: #403e3e">
                                </v-row>
                            </div>
                            
                        </v-list-item-group>

                        <!-- company drawer -->
                        <v-list-item-group
                        v-if="type === 2"
                        >  
                            <div class="mb-5 text-center">
                                <span>
                                    Оберiть адресу за якою б ви хотiли внести змiни: 
                                </span>
                            </div>
                            <v-row v-for="city in GET_ALL_ADDRESSES" :key="city.index">
                                <v-col cols="12">
                                    <v-list-item>
                                        <v-list-item-title style="border-radius: 15px" @click="getCompany(city.id)">
                                           <v-card class="mx-n5 px-5 py-3 text-center" style="background-color: #79737363;">
                                                <span  style="font-size: 16px; color: #403e3e;">{{city.city}} </span><br>
                                                <span  style="color: #403e3e;">{{city.street_name}} {{city.building}}{{city.corp1 ? '/'+city.corp1 : ''}}{{isNaN(city.corp) ? ' '+city.corp : ' к'+city.corp}}{{city.apartment ? ', кв '+city.apartment : ''}}</span>
                                            </v-card> 
                                        </v-list-item-title>
                                    </v-list-item>
                                </v-col>
                            </v-row>
                        </v-list-item-group>
                    </v-list>

                    <v-snackbar
                    :timeout="2000"
                    v-model="snackbar"
                    absolute
                    :multi-line="true"
                    shaped
                    style="position: fixed; top: 0px; text-align: center"
                    color="#34a853"
                    centered
                    >
                        <div v-if="type == 1" style="font-size: 18px; text-align: center;">
                            Адресу успішно видалено
                        </div>
                        <div v-else-if="type == 4" style="font-size: 18px; text-align: center;">
                            Email успiшно змiнено
                        </div>
                        <div v-else-if="type == 5" style="font-size: 18px; text-align: center;">
                            Картку успішно видалено
                        </div>
                    </v-snackbar>
                </v-navigation-drawer>
            </div>  

            <v-snackbar
            :timeout="3000"
            v-model="snackbarDev"
            absolute
            :multi-line="true"
            shaped
            style="position: fixed; top: 0px; text-align: center"
            color="#34a853"
            centered
            >
                <div style="font-size: 18px; text-align: center;">
                    Буде доступно вже найближчим часом
                </div>
            </v-snackbar>
        </v-container>
        
    </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from 'vuex'
import SetingAddress from './SetingAddress.vue'

export default {
   name: 'Seting',
   props: ['setingDialog'],
   components: {
       SetingAddress
   },
   data:() => ({
      drawer: false,
      type: 0,
      snackbar: false,
      snackbarDev: false,
      email: 'some_name@gmail.com',
      enteredEmail: '',
      checkBoxSec: true,
      rules: {
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Введiть Email, приклад: name@mail.com'
          },
      },  
   }),

   watch: {
       DELETE_ADDRESS_STATUS() {
           if(this.DELETE_ADDRESS_STATUS) {
               this.snackbar = true
               this.getAccountAddresses()
               .then((resp) => {
                   if(resp.data.accounts.length == 0) {
                       this.$router.push({name: 'AddressMap'})
                   }
               }) 
           }
       },

       DELETE_CARD_STATUS() {
           if(this.DELETE_CARD_STATUS) {
              this.snackbar = true 
              return this.checkCardListSeting();
           }
       },

       type() {
           if(this.type === 1 || this.type === 4 || this.type === 5) {
               this.snackbarDev = false
           } else {
               this.snackbarDev = true
           }
       }
   },

   computed: {
       ...mapGetters('address', ['GET_ALL_ADDRESSES']),
       ...mapGetters('seting', ['DELETE_ADDRESS_STATUS', 'DELETE_CARD_STATUS', 'CARD_STATUS_SETING']),
   },

   methods: {
       ...mapActions('seting', ['delAddress', 'delCard', 'getCompany', 'checkCardListSeting']),
       ...mapActions('address', ['getAccountAddresses']),
       ...mapMutations('meterage', ['addStatusDefault', 'setCounters']),

       goBack() {
           this.$router.go(-1)
       },

       changeCheckbox() {
           var oWebViewInterface = window.nsWebViewInterface;
            oWebViewInterface.emit('isChecked', {status: this.checkBoxSec});
       },
       
       getNewEmail() {  
           this.email = this.enteredEmail
           this.snackbar = true
           setTimeout(() => {
               this.drawer = false
           }, 2000);
       },

        // this function for delete address
       deleteAddress(id) {
           this.addStatusDefault()
           this.setCounters('')
           return this.delAddress(id)
       },

         // this function for delete bank card
       deleteCard(card_token_id) {
           let data = {
              card_token_id: card_token_id,
              one: true 
           }
           this.delCard(data)
       },

       checkCard() {
           return this.checkCardListSeting();
       }
   },

   
}
</script>

<style scoped>
.addressBox {
    border: 1px solid #000;
}

</style>