<template>
    <div class="misk_rada">
        <AppBar
            class="app-bar"
            :header="'Міська рада'"
        >
        </AppBar>
        <PageTitle
        img="misk-rada.png"
        title="В Розробці"
        >
        </PageTitle>
        <v-container>
        <ButtonCategories
            snackbar_color="red"
            text="Гаряча Лінія"
            text_color="black"
        />
        <ButtonCategories
            snackbar_color="red"
            text="Центр Надання Адміністративних Послуг"
            text_color="black"
        />
        </v-container>
    </div>
</template>

<script>
import AppBar from '../../components/AppBar.vue'
import PageTitle from "../../components/PageTitle";
import ButtonCategories from "../../components/ButtonsCategories/ButtonCategories";


export default {
    name: 'MiskRada',
    components: {
        AppBar,
        PageTitle,
        ButtonCategories
    }

}
</script>

<style scoped>

</style>